<% if notice %>
  <div class="notice pl-3">
    <p><%= notice %></p>
  </div>
<% end %>
<% if alert %>
  <div class="d-flex justify-content-center">
    <p class="notice text-danger"><%= alert %></p>
  </div>
<% end %>

<%= simple_form_for @api_connection, url: api_connection_subform_path(@project_type), method: :post do |f| %>

  <div class="d-block container-fluid justify-content-around">

    <%= f.text_field :project_type_id, value: @project_type.id , readonly: :true, hidden: true %>
    <%= f.text_field :subfield_id, value: @subfield_id , readonly: :true, hidden: true %>

    <div class="row my-1 mt-4">
      <div class="col-md-6 text-right">
        <%= f.label :url, 'API url:', class:'text-right col-form-label' %>
      </div>
      <div class="col-md-6">
        <%= f.text_field :url, class: 'form-control form-control-sm col-md-6' %>
        <p class="mb-0"><i class="fas fa-exclamation-circle"></i> Incluya la url completa. Ej: https://mi.conexion.com</p>
      </div>
    </div>

<!-- Not developed yet
    <div class="row my-1 mt-2">
      <div class="col-md-6 text-right">
        <%= f.label :automatic, 'Automático:', class:'text-right col-form-label' %>
      </div>
      <div class="col-md-6">
        <div class="custom-control custom-checkbox mt-2">
          <%= f.check_box :automatic, class: 'custom-control-input', id: 'customCheckAutomaticSync'  %>
          <label class="custom-control-label mr-1" for="customCheckAutomaticSync"></label>
        </div>
      </div>
    </div>

    <div class="row my-1 mt-2">
      <div class="col-md-6 text-right">
        <%= f.label :interval, 'Intervalo:', class:'text-right col-form-label' %>
      </div>
      <div class="col-md-6">
        <%= f.text_field(:interval, class: 'form-control form-control-sm col-md-4')  %>
        <p class="mb-0"><i class="fas fa-exclamation-circle"></i> En minutos.</p>
      </div>
    </div>
  -->

    <div class="row my-1 mt-2">
      <div class="col-md-6 text-right">
        <%= f.label :key_api, 'Key:', class:'text-right col-form-label' %>
      </div>
      <div class="col-md-6">
        <%= f.text_field :key_api, class: 'form-control form-control-sm col-md-6' %>
        <p class="mb-0"><i class="fas fa-exclamation-circle"></i> Nombre de la Key en donde llegan los datos desde la API</p>
      </div>
    </div>

    <div class="row my-1 mt-2">
      <div class="col-md-6 text-right">
        <%= f.label :content_type, 'Content Type:', class:'text-right col-form-label' %>
      </div>
      <div class="col-md-6">
        <%= f.text_field :content_type, class: 'form-control form-control-sm col-md-6' %>
      </div>
    </div>

    <div class="row my-1 mt-2">
      <div class="col-md-6 text-right">
        <%= f.label :authorization, 'Authorization:', class:'text-right col-form-label' %>
      </div>
      <div class="col-md-6">
        <%= f.text_field :authorization, class: 'form-control form-control-sm col-md-6' %>
        <p class="mb-0"><i class="fas fa-exclamation-circle"></i> Ingrese token con tipo de token. Ej: Bearer sutoken</p>
      </div>
    </div>

    <div class="row justify-content-center mt-4 pb-4">
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")), root_path, :class => 'btn btn-secondary mr-1' %>
      <%= f.submit id: :envi, class: 'enviar btn btn-primary', value: "Guardar" %>
    </div>

  </div>

<% end %>
