<%= simple_form_for([@project_type, @dashboard, @analytics_dashboard], html: {role: :form, remote: true, class:'form'}) do |f| %>

  <div id="alert-success"></div>

  <% if @analytics_dashboard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@analytics_dashboard.errors.count, "error") %> prohibited this analytics_dashboard from being saved:</h2>
      <ul><% @analytics_dashboard.errors.full_messages.each do |message| %><li><%= message %></li><% end %></ul>
    </div>
  <% end %>

  <br>
  <p>
    <i class="fas fa-exclamation-circle"></i> Agregar la palabra <kbd>where_clause</kbd> luego del <kbd>WHERE</kbd> principal
    <br>
    <i class="fas fa-exclamation-circle"></i> Indicador gráfico debe devolver los alias <kbd>count</kbd> y <kbd>name</kbd>
    <br>
    <i class="fas fa-exclamation-circle"></i> Indicador numérico debe devolver el alias <kbd>count</kbd>
  </p>
  <div class="form-group">
    <%= f.input :kpi_type, as: :hidden, input_html: {value: 'advanced'} %>
    <%= f.input :title, label: "Nombre", input_html: {class:"form-control form-control-sm"} %>
  </div>

  <div class="form-group">
    <%= f.label :sql_full, 'Sentencia SQL' %>
    <%= f.text_area :sql_full, rows: 5, class:"form-control form-control-sm" %>
  </div>

  <div class="form-group">
    <%= f.label :description, 'Descripción' %>
    <%= f.text_area :description, rows: 1, class:"form-control form-control-sm" %>
  </div>

  <div class="form-row">
    <div class="form-group col-6">
      <div class="form-check">
        <%= f.check_box :graph, class:"form-check-input" %>
        <%= f.label :graph, "Graficar", class: 'form-check-label' %>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <button type="button" class="btn btn-sm btn-secondary mr-1" data-dismiss="modal">Cancelar</button>
    <%= f.submit class: 'btn btn-sm btn-primary', value: "Guardar" %>
  </div>

<% end %>
