<div id="ana-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Indicador</h4>
      </div>
      <%= simple_form_for([@project_type, @dashboard, @analytics_dashboard], html: {role: :form, remote: true, class: 'form form-inline'}) do |f| %>
      <div class="modal-body">
        <div id="alert-success"></div>
        <% if @analytics_dashboard.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@analytics_dashboard.errors.count, "error") %>
              prohibited this analytics_dashboard from being saved:</h2>
            <ul>
              <% @analytics_dashboard.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#indicadores" aria-controls="indicadores" role="tab" data-toggle="tab">Indicadores</a></li>
            <li role="presentation"><a href="#calculos" aria-controls="calculos" role="tab" data-toggle="tab">Cálculos Previos</a></li>
            <li role="presentation"><a href="#sql" aria-controls="sql" role="tab" data-toggle="tab">Sentencia SQL</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="indicadores">
              <br>
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <%= f.input :title, label: "Nombre", input_html: {class:"form-control col-md-12"} %>
                  </div>
                  <div class="form-group col-md-2">
                    <%= f.input :analysis_type_id, :collection => analysis_types_for_select, label: "Análisis", input_html: {class:"form-control"}%>
                  </div>
                  <div class="form-group col-md-3">
                    <%= f.input :project_field_id, :collection => fields_for_select_a, label: "Campo", input_html: {class:"form-control"} %>
                  </div>
                  <div class="form-group col-md-3">
                    <%= f.input :group_field_id, :collection => fields_for_select_a, input_html: {class:"form-control"}%>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-5">
                    <div class="control-group string required ">
                      <label class="string required control-label" for="">Condición</label>
                      <div class="controls">
                        <input type="text" class="string required form-control col-md-12" id="" placeholder="">
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-2">
                    <div class="control-group select optional">
                      <label class="select optional control-label" for="">Operador</label>
                      <div class="controls">
                        <select class="select optional form-control">
                          <option value=""> </option>
                          <option value="="> = </option>
                          <option value="!=" >! =</option>
                          <option value=">"> > </option>
                          <option value=">="> >= </option>
                          <option value="<"> < </option>
                          <option value="<="> <= </option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-5">
                    <div class="control-group string required ">
                      <label class="string required control-label" for="">Valor</label>
                      <div class="controls">
                        <input type="text" class="string required form-control col-md-12" id="" placeholder="">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-12">
                    <%= f.input :description, input_html: {class:"form-control"} %>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <div class="form-group">
                      <%= f.check_box :graph, input_html: {class:"form-check"}%>
                      <%= f.label :graph, "Graficar" %>
                    </div>
                  </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="calculos">
              <br>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <div class="control-group string required ">
                      <label class="string required control-label" for="">Nombre</label>
                      <div class="controls">
                        <input type="text" class="string required form-control col-md-12" id="" placeholder="">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <div class="control-group string required ">
                      <label class="string required control-label" for="">Campo</label>
                      <div class="controls">
                        <input type="text" class="string required form-control col-md-12" id="campoavanzado" onchange="Resultado(event)" placeholder="">
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <div class="control-group string required ">
                      <label class="string required control-label" for="">Constante</label>
                      <div class="controls">
                        <input type="text" class="string required form-control col-md-12" id="k" onchange="Resultado(event)" placeholder="">
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-2">
                    <div class="control-group select optional">
                      <label class="select optional control-label" for="">Operador</label>
                      <div class="controls">
                        <select class="select optional form-control" id="operador" onchange="Resultado(event)">
                          <option value=""> </option>
                          <option value="="> + </option>
                          <option value="!=" - =</option>
                          <option value=">"> * </option>
                          <option value=">="> / </option>
                          <option value="<"> concatenar </option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-1">
                    <div class="control-group string required ">
                      <br>
                      <div class="controls">
                        <div class="string required form-control" style="cursor: pointer;" onclick="Resultado(event)" id="(">(</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-1">
                    <div class="control-group string required ">
                      <br>
                      <div class="controls">
                        <div class="string required form-control" style="cursor: pointer;" onclick="Resultado(event)" id=")">)</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-1">
                    <div class="control-group string required ">
                      <br>
                      <div class="controls">
                        <span class="fa-layers fa-fw" style="font-size: 2em; display: inline-block; vertical-align: middle" onclick="Resultado(event)" id="diffechas" title="Diferencia de Fechas">
                          <i class="fas fa-calendar-minus" id="diffechas1"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-1">
                    <div class="control-group string required ">
                      <br>
                      <div class="controls">
                        <span class="fa-layers fa-fw" style="font-size: 2em; display: inline-block; vertical-align: middle; " onclick="Backspace()" title="Borrar">
                          <i class="fas fa-backspace"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-1">
                      <div id="resultado" style="width: 80%; vertical-align: middle; height: 60px; padding: 20px">
                        <div id="1resultado"></div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="sql">
              <br>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <div class="control-group string required ">
                      <label class="string required control-label" for="">Nombre</label>
                      <div class="controls">
                        <input type="text" class="string required form-control col-md-12" id="" placeholder="">
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-9">
                    <div class="control-group string required ">
                      <div class="controls">
                        <%=f.input :sql_sentence, input_html: {class: "string required form-control col-md-12"}  %>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        <div class="actions text-right" style="">
          <br>
          <%= f.submit class: 'btn btn-primary', value: "Guardar" %>
        </div>
      </div>
      <!-- OCULTA FOOTER
      <div class="modal-footer">
      </div>
      -->
      <% end %>
    </div>
  </div>
</div>
