<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @analytics_dashboard.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @analytics_dashboard.description %>
</p>


<p>
  <strong>Analysis type:</strong>
  <%= @analytics_dashboard.analysis_type %>
</p>


<p>
  <strong>Chart:</strong>
  <%= @analytics_dashboard.graph %>
</p>

<p>
  <strong>Card:</strong>
  <%= @analytics_dashboard.card %>
</p>

