<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @analytics_dashboard.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @analytics_dashboard.description %>
</p>

<p>
  <strong>Fields:</strong>
  <%= @analytics_dashboard.fields %>
</p>

<p>
  <strong>Analysis type:</strong>
  <%= @analytics_dashboard.analysis_type %>
</p>

<p>
  <strong>Chart:</strong>
  <%= @analytics_dashboard.chart %>
</p>

<p>
  <strong>Chart:</strong>
  <%= @analytics_dashboard.chart %>
</p>

<p>
  <strong>Card:</strong>
  <%= @analytics_dashboard.card %>
</p>

<%= link_to 'Edit', edit_analytics_dashboard_path(@analytics_dashboard) %> |
<%= link_to 'Back', analytics_dashboards_path %>
