<% current_tenant = Apartment::Tenant.current %>
<% customer_logo = Customer.where(subdomain: current_tenant).pluck(:logo).first %>
<% customer_side_image = Customer.where(subdomain: current_tenant).pluck(:side_image).first %>

<% if current_tenant == 'agricultura' || current_tenant == 'aws' || current_tenant == 'netzefy' %>
  <div class="row w-100 align-items-center m-0" >
    <% if customer_side_image.present? %>
      <div class="col-md-6 align-middle vh-100" style="
        background-image: url('data:image/jpeg;base64,<%= customer_side_image %>');
        background-repeat: no-repeat;
        background-size: cover;
      "></div>
    <% else %>
      <div class="col-md-6 align-middle form-sinin-img vh-100"></div>
    <% end %>

    <div class="col-md-6 align-middle text-center p-0">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-signin pl-6 pr-6'}) do |f| %>
        <div class="form-group">
          <% if customer_logo.present? %>
            <center><%= image_tag("data:image/png;base64,#{customer_logo}", class: "mb-2", width: "252") %></center>
          <% else %>
            <center><%= image_tag('default-logo.png', class: 'mb-2', width: "252") %></center>
          <% end %>
          <div class="row mb-3">
            <div class="col-md-12">
              <%= f.input :name, label: "Nombre", input_html: {class: "form-control"} %>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-12">
              <%= f.input :email, label: "E-mail", placeholder: "some@mail.com", autofocus: true, input_html: {class: "form-control"} %>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-4">
              <%= f.input :country_code, as: :string, autocomplete: "off", label: "Cód. País", placeholder: "54", input_html: {class: "form-control"} %>
            </div>
            <div class="col-md-4">
              <%= f.input :area_code, autocomplete: "off", label: "Cód. Área", placeholder: "261", input_html: {class: "form-control"} %>
            </div>
            <div class="col-md-4">
              <%= f.input :phone, autocomplete: "off", label: "Teléfono", placeholder: "1234567", input_html: {class: "form-control"} %>
            </div>
          </div>
          <% if Apartment::Tenant.current == 'aws' %>
            <div class="row mb-3">
              <div class="col-md-12">
                <%= f.label "Rol" %>
                <%= f.select :role, options_for_select(['Comprador', 'Vendedor']), {:include_blank => false}, {class: 'form-control form-control-sm'} %>
              </div>
            </div>
          <% end %>
          <% if Apartment::Tenant.current == 'netzefy' %>
            <div class="row mb-3">
              <div class="col-md-12">
                <%= f.input :company, label: "Empresa", input_html: {class: "form-control"} %>
              </div>
            </div>

            <div class="form-group form-check">
              <%= f.check_box :accept_terms, class: "form-check-input", id: "accept_terms", required: true %>
              <%= f.label :accept_terms, raw("Acepto los <a href='/terms' target='_blank' style='color:#000066; text-decoration: underline;'>términos y condiciones</a>"), class: "form-check-label", for: "accept_terms" %>
            </div>
          <% end %>
        </div>
        <%= f.submit 'Registrarse', class: 'btn btn-lg btn-primary btn-block mb-2', id: 'register_btn', disabled: Apartment::Tenant.current == 'netzefy' %>
        <div class="text-center">
          <%= render "devise/shared/links" %>
        </div>
        <div class="text-left">
          <%= render "devise/shared/success_messages", resource: resource %>
        </div>
      <% end %>
      <div style="margin-top: 60px;">
        <p style="margin-bottom: 2px;">Powered by</p>
        <center><%=image_tag('logo_gw_hor_2.png', class:'mb-2', width:"140")%></center>
      </div>
    </div>
  </div>
<% end %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const checkbox = document.getElementById('accept_terms');
    const submitBtn = document.getElementById('register_btn');

    if (checkbox && submitBtn) {
      checkbox.addEventListener('change', function() {
        submitBtn.disabled = !checkbox.checked;
      });
    }
  });
</script>