<div class="offset-md-3 col-md-6">
 <div class="card m-2 shadow">
   <div class="card-body">

      <%= simple_form_for [@project_type, @project_status]  do |form| %>
        <% if project_status.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(project_status.errors.count, "error") %> prohibited this project_status from being saved:</h2>
            <ul><% project_status.errors.full_messages.each do |message| %><li><%= message %></li><% end %></ul>
          </div>
        <% end %>

        <div class="form-group">
          <div class="row justify-content-center">
            <%= form.label :name, 'Nombre', class:'col-md-2 text-right col-form-label' %>
            <div class="col-md-5">
              <%= form.text_field :name, id: :project_status_name, class: "form-control form-control-sm" %>
            </div>
          </div>
          <div class="row justify-content-center">
            <%= form.label :color, class:'col-md-2 text-right col-form-label' %>
            <div class="col-md-5">
              <%= form.color_field :color, id: :project_status_color, style:'width:30px; height:30px; padding:1px' %>
            </div>
          </div>
          <div class="row justify-content-center">
            <%= form.label :status_type,'Tipo', class:'col-md-2 text-right col-form-label' %>
            <div class="col-md-5">
              <%= form.select :status_type, options_for_select(['Asignable', 'Heredable', 'Predeterminado']) ,  {:include_blank => false}, {class: 'form-control form-control-sm'} %>
            </div>
          </div>
          <div class="row justify-content-center">
            <%= form.label :status_type,'Tiempo', class:'col-md-2 text-right col-form-label' %>
            <div class="col-md-5">
              <%= form.select :timer, options_for_select(['semana', 'mes', 'año']) ,  {:include_blank => false}, {class: 'form-control form-control-sm'} %>
            </div>
          </div>
           <div class="row justify-content-center">
            <%= form.label :status_type,'Proyecto', class:'col-md-2 text-right col-form-label' %>
            <div class="col-md-5">
              <div id="project_types">
                <%= form.collection_select(:inherit_project_type_id, @project_types, :id, :name , {prompt: "Selecccione un Proyecto"}, {class: 'form-control form-control-sm'})  %>
                
              </div>
            </div>
          </div>
        </div>

        
        <div id="project_statuses"></div>

        <div class="row justify-content-center">
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")), project_type_project_statuses_path(@project_type), :class => 'btn btn-secondary' %>
          <%= form.submit class: 'btn btn-primary', value: "Guardar" %>
        </div>

      <% end %>

    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#project_status_inherit_project_type_id').on('change', function() {
      $.ajax({
        url:  "<%= project_statuses_options_path %>",
        type: "POST",
        data: { project_type_id: $(this).val() }
      });
    });
  });
</script>
