<p id="notice"><%= notice %></p>

<div class="card m-2 shadow">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <h1 class="m-0">Estados</h1>
      </div>
      <div class="col-md-6 text-right">
        <%= link_to 'Nuevo', new_project_type_project_status_path(@project_type), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

<div class="card m-2 shadow">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover table-striped table-bordered m-0">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Color</th>
            <th colspan="3" class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody class="sortable">
          <% @project_statuses.each_with_sortable_id do |project_status, sortable_id| %>
            <tr id="<%= sortable_id %>">
              <td><%= project_status.name %></td>
              <td><div class="col-md-3" style="width: 30px; height: 30px; border:solid 1px white; padding: 1px; background-color: <%= project_status.color %>"></div></td>
              <td class="text-center"><%= link_to edit_project_type_project_status_path(project_status.project_type_id, project_status) do %><i class="fas fa-edit"></i><% end %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function() {
    $('.sortable').railsSortable({
      update: function( event, ui ) {
        var data = {}
        $(".sortable").find('tr').each(function(index) {
          var project_status_id = $(this).attr("id").replace(/ProjectStatus_/g, '');
          var priority = index + 1
          data[project_status_id] = priority
        })
        console.log(data);
        $.ajax({
          url:  "<%= project_statuses_update_priority_path %>",
          type: "POST",
          data: { priority_data: data }
        });
      }
    });
  });
</script>
