<%= form_with(model: model_type, local: true) do |form| %>
  <% if model_type.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(model_type.errors.count, "error") %> prohibited this model_type from being saved:</h3>

      <ul>
      <% model_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :model_type_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
