<p id="notice"><%= notice %></p>

<p>
  <strong>Color:</strong>
  <%= @graphics_property.color %>
</p>

<p>
  <strong>Height:</strong>
  <%= @graphics_property.height %>
</p>

<p>
  <strong>Width:</strong>
  <%= @graphics_property.width %>
</p>

<p>
  <strong>Title:</strong>
  <%= @graphics_property.title %>
</p>

<p>
  <strong>Type chart:</strong>
  <%= @graphics_property.chart_id %>
</p>

<%= link_to 'Edit', edit_graphics_property_path(@graphics_property) %> |
<%= link_to 'Back', graphics_properties_path %>
