<div class="simple_form form-signin card p-5">
<center>
	<h2 style="line-height: 30px">Desbloquear usuario</h2>
	<%=image_tag ENV['VERTICAL_LOGO'], class:'mb-2', width:"252"%>
</center>

<br />
<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
<div style="color: red">
	  <%= devise_error_messages! %>
</div>

<div class="field">
  <%= f.email_field :email, autofocus: true , class: "form-control", placeholder: "Ingrese su correo registrado" %>
</div>
<br />
<div>
  <%= f.submit "Enviar instrucciones" , class: 'btn btn-lg btn-primary btn-block mb-2'%>
</div>
<% end %>
<br/>
<%= render "devise/shared/links" %>
</div>