<%= content_for :head do %>
  <script type="text/javascript">
<% if @geo_edition.the_geom_segment_original %>
  <% (0..@num_point_segment).each {|n| 
  %>
  Navarra.geo_editions.config.line.push(<%= @segment.point_n(n).y %>  + ', ' +   <%= @segment.point_n(n).x %>)
<% } %>
<% end %>

  </script>
<% end  %>
<%= simple_form_for @geo_edition do |f| %>
  <% if geo_edition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(geo_edition.errors.count, "error") %> prohibited this geo_edition from being saved:</h2>
      <ul>
        <% geo_edition.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="span12">

    <div class="span5">
      <div class="span12">
        <div class=" span4">
          <%= f.input :id %>
        </div>
        <div class="field span4">
          <%= f.input :street, disabled: true %>
        </div>
        <div class="field span4">
          <%= f.input :paridad, disabled: true %>
        </div>
      </div>
      <div class="span12">
        <div class=" span4">
          <%= f.input :code, disabled: true %>
        </div>
        <div class="field span4">
          <%= f.input :number_door_start_original, disabled: true %>
        </div>
        <div class="field span4">
          <%= f.input :number_door_end_original, disabled: true %>
        </div>
      </div>
      <div class="span12 actions">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    </div>

    <div class="span6">

      <div class="span12">
        <div class="field span4">
          <%= f.input :gw_pta_ini%>
        </div>
        <div class="field span4">
          <%= f.input :gw_pta_fin %>
        </div>
        <div class="field span4">
          <%= f.input :gw_paridad %>
        </div>

        <div class="span12">
        
        <div class=" span4">
          <%= f.input :gw_div1 %>
        </div>
        <div class=" span4">
          <%= f.input :gw_div2 %>
        </div>
        <div class=" span4">
          <%= f.input :gw_geomainid %>
        </div>
        <div class="span12">
            <%= control_group(f.select(:poi_status_id, poi_statuses_for_select, :selected => @poi_status_id, :include_blank => true), Poi.human_attribute_name(:poi_status_id)) %>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <%= f.input :line  %>
  </div>
  <div id="map">
    <div id="popup" class="ol-popup ">
      <div id="popup-content"></div>
    </div>
  </div>
  <div id="info">
  </div>
<% end %>
