<%= content_for :head do %>
  <script type="text/javascript">

<% if @num_point_segment %>

        <% (0..@num_point_segment).each {|n| 
    %>
    Navarra.geo_editions.config.line.push(<%= @segment.point_n(n).y %>  + ', ' +   <%= @segment.point_n(n).x %>)
    //      console.log(Navarra.geo_editions.config.line);
    <% } %>

      Navarra.geo_editions.config.company = '<%= @geo_edition.company %>';
  <% else %>
        <% if @segment.to_s %>
        segment = '<%= @segment %>'
    points = segment.split(',');
    points.forEach(function(n){
    point = n.split(' ').reverse().join(', ');
    Navarra.geo_editions.config.line.push(point);
  })
    <% end %>
      Navarra.geo_editions.config.company = '<%= params[:geo_edition][:company] %>';
  <% end %>
  </script>
<% end  %>
<%= simple_form_for @geo_edition do |f| %>
        <div id="map">
          <div id="popup" class="ol-popup ">
            <div id="popup-content">
            </div>
          </div>
        </div>
<div id="info">
</div>
  <div id="comments">
  </div>
  <div class="x_panel">
    <div class="x_panel tile fixed_height_320">
      <div class="x_title">
        <h2>Filtrar</h2>
        <div class="col-md-10">
          <div class="col-md-10 inline">
            <%= link_to "Nuevo", new_geo_edition_path(), class: 'btn btn-primary'  %>
            <%= link_to "Check", geo_editions_path(), class: 'btn  btn-success'  %>
            <%=label_tag "Geomanid"  %>
            <%= text_field_tag :q %>
            <%= link_to "Buscar" , "#", class: "btn btn-warning filter" %>

          </div>
            <div class="col-md-2 actions">
              <%= f.submit class: 'btn btn-primary' %>
            </div>

        </div>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link" id = "collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="dashboard-widget-content">
          <div id="form_row">
            <%= render "sidebar", f: f %>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>


