
  <div class="col-md-12">
    <div class="col-md-2">
      <%= f.label :company %>
      <%= f.select :company, geo_edition_companies_select,  {:include_blank => true},class: "form-control" %>
    </div>
    <%= f.input :id, as: :hidden %>
    <div class="col-md-3">
      <%= f.input :street, readonly: true, input_html: {class: "form-control"} %>
    </div>
    <div class="col-md-1">
      <%= f.input :paridad, readonly: true, input_html:{class: "col-md-10 form-control"}   %>
    </div>
    <div class="col-md-2">
      <%= f.input :code, readonly: true, input_html:{class: "col-md-10 form-control"}  %>
    </div>
    <div class="col-md-2">
      <%= f.input :number_door_start_original,  input_html: {class: "col-md-10 form-control"}, readonly: true%>
    </div>
    <div class="col-md-2">
      <%= f.input :number_door_end_original, ilabel: "Numero puerta fin", input_html:{class: "col-md-10 form-control"}, readonly: true %>
    </div>
  </div>
  <div class="col-md-12">
 
  <div class="col-md-2"></div>  
    <div class="col-md-3">
      <%= f.label :gw_calleid %>
      <%= f.select :gw_calleid, geo_edition_street_id_select(@geo_edition.company),  {:include_blank => true}, class: "form-control col-md-4" %>
    </div>
    <div class="col-md-1">
      <%= f.input :gw_paridad , input_html:{class: "col-md-12"}   %>
    </div>
    <div class="col-md-2">
      <%= f.input :gw_code, input_html:{class: "col-md-10"}   %>
    </div>

    <div class="col-md-2">
      <%= f.input :gw_pta_ini,  input_html:{class: "form-control col-md-6"} %>
    </div>
    <div class="col-md-2">
      <%= f.input :gw_pta_fin,  input_html:{class: "form-control col-md-6"}  %>
    </div>



  
  
  
  </div>
    
    <div class="col-md-12">
    <div class="col-md-2">
      <%= f.input :yard  %>
    </div>
    <div class="col-md-1">
      <%= f.input :wasteland, class:"form-control"  %>
    </div>

    <div class="col-md-6">
      <%= f.input :observations, input_html: {class:"form-control col-md-6"} %>
    </div>
    <div class="col-md-3">
      <%= f.label :poi_status_id %>
      <%= f.select :poi_status_id, poi_statuses_for_select,{ :include_blank => true}, class: 'form-control' %>
    </div>
    <%= f.input :line, as: :hidden %>
  </div>
