<section id="sidebar_info" class="span3">
  <div class="span12 lead">Cantidad Registro Actualizados: [ <%= @count.count if !@count.nil?%> ] 
  </div>
  <div class="span12">
    
    <%= control_group(f.select(:company, geo_edition_companies_select,  :include_blank => true),"companies") %>
    
    <%= f.input :id, as: :hidden %>
    <%= f.input :street, readonly: true %>
    <div class="span6">
      <%= f.input :paridad, readonly: true, input_html:{class: "span6"}   %>
    </div>
    <div class="span5">
      <%= f.input :code, readonly: true, input_html:{class: "span12"}  %>
    </div>
    <div class="span6">
      <%= f.input :number_door_start_original,  input_html: {class: "span5"}, readonly: true%>
    </div>
    <div class="span5">
      <%= f.input :number_door_end_original, ilabel: "Numero puerta fin", input_html:{class: "span6"}, readonly: true %>
    </div>
  </div>
  <div class="span12">
    <div class="span6">
      <%= f.input :gw_pta_ini,  input_html:{class: "span6"} %>
    </div>
    <div class="span6">
      <%= f.input :gw_pta_fin,  input_html:{class: "span6"}  %>
    </div>
    <div class="span12">
    <%= control_group(f.select(:gw_calleid, geo_edition_street_id_select(@geo_edition.company),  :include_blank => true),"calles") %>
    </div>
    <div class="span6">
      <%= f.input :gw_paridad , input_html:{class: "span6"}   %>
    </div>
    <div class="span5">
      <%= f.input :gw_code, input_html:{class: "span12"}   %>
    </div>
    <div class="span12">
      <%= f.input :observations %>
    </div>
    <div class="span12">
    <%= control_group(f.select(:poi_status_id, poi_statuses_for_select, :include_blank => true), Poi.human_attribute_name(:poi_status_id)) %>
    </div>
    <%= f.input :line, as: :hidden %>
  </div>
</section>

