
<%= content_for :head do %>
  <script type="text/javascript">
<% if @geo_edition.the_geom_segment_original %>
  <% (0..@num_point_segment).each {|n| 
  %>
  Navarra.geo_editions.config.line.push(<%= @segment.point_n(n).y %>  + ', ' +   <%= @segment.point_n(n).x %>)
<% } %>
<% end %>

  Navarra.geo_editions.config.company = '<%= @geo_edition.company %>';
  </script>
<% end  %>
<%= simple_form_for @geo_edition do |f| %>

  <div class="alert alert-danger>
    <%=f.error_notification errors: true  %>
    <% if @geo_edition.errors.any? %>
      <div>
        <ul>
          <% @geo_edition.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="span12">
    <%= render "sidebar" , f: f %>

    <section  class="span9">
      <div id="map">
        <div id="popup" class="ol-popup ">
          <div id="popup-content">
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="span12 actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
  <div id="info">
  </div>
<% end %>
