<p id="notice"><%= notice %></p>

<h1>Geo Editions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @geo_editions.each do |geo_edition| %>
      <tr>
        <td><%= geo_edition.name %></td>
        <td><%= link_to 'Show', geo_edition %></td>
        <td><%= link_to 'Edit', edit_geo_edition_path(geo_edition) %></td>
        <td><%= link_to 'Destroy', geo_edition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Geo Edition', new_geo_edition_path %>
