<p id="notice"><%= notice %></p>

<h1>Geo Editions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Street</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @geo_editions.each do |geo_edition| %>
      <tr>
        <td><%= geo_edition.name %></td>
        <td><%= geo_edition.street %></td>
        <td><%= link_to 'Edit', edit_geo_edition_path(geo_edition) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= pager(@geo_editions) %>
