<script>
  $(function () {
    $('.sortable').sortable({
      update: function( event, ui ) {

        $(this).find('tr').each(function(index) {
          $(this).find('.project_fields_current_position').val(index + 1);
        });
      }
    });
    $("#project_type_enabled_as_layer").click(function () {
      if ($(this).is(":checked")) {
        $("#layer_color").show();
      } else {
        $("#layer_color").hide();
      }
    });
  });
</script>

    <%= simple_form_for @project_type, html: {multipart: true}  do |f| %>

      <% if @project_type.errors.any? %>
        <div class="panel panel-warning errors">
          <div class="panel-heading"><h4><span><i class="fa fa-exclamation"><span></i>Validaciones</h4></div>
          <ul class="panel-body"><% @project_type.errors.full_messages.each do |msg| %><li><%= msg %></li><% end %></ul>
        </div>
      <% end %>

      <p id="notice"><%= notice %></p>

      <div class="form-group row">

        <%= f.label :name, 'Nombre:', class:'col-md-1 text-right col-form-label-sm' %>
        <div class="col-md-2">
          <%= f.text_field :name, class: 'form-control form-control-sm' %>
        </div>

        <div class="col-md-3 row">
          <%= f.label :type_geometry, 'Tipo de Geometría:', class:'col-md-6 text-right col-form-label-sm' %>
          <div class="col-md-6">
            <%= f.select :type_geometry, options_for_select(['Point', 'LineString', 'Polygon'], selected: @project_type.type_geometry), {:include_blank => true}, {class: 'form-control form-control-sm'} %>
          </div>
        </div>

        <div class="col-md-4 row">
          <%= f.label :enabled_as_layer, "¿Recorido?:", class:'col-md-4 text-right col-form-label-sm' %>
          <div class="col-md-2">
            <%= f.check_box :tracking %>
          </div>

          <%= f.label :enabled_as_layer, "¿Capa?:", class:'col-md-4 text-right col-form-label-sm' %>
          <div class="col-md-2">
            <%= f.check_box :enabled_as_layer %>
          </div>
        </div>

        <%= f.label :layer_color, 'Color Capa:', class:'col-md-1 text-right col-form-label-sm' %>
        <div class="col-md-1">
          <%= f.color_field :layer_color, class: 'form-control form-control-sm' %>
        </div>
      </div>



      <div class="tab-content p-4" id="myTabContent">

        <% if can? :attributes, :edit %>
          <div class="tab-pane fade show active" id="attributes" role="tabpanel" aria-labelledby="attributes-tab">
            <div class="table-responsive">
              <table class="table table-hover table-tbody-scroll table-striped m-0" id="user_assignments">
                <thead style="padding-right: 10px">
                  <tr>
                  <% if can? :attributes, :new %>
                    <th style="width: 3%"><%= link_to_add_fields "<i class='fas fa-plus' title='Agregar atributo'></i>".html_safe, f, :project_fields, class: 'table_father' %></th>
                  <% end %>

                    <th></th>
                    <th style="width: 13%" >Nombre</th>
                    <th style="width: 3%" data-toggle="tooltip" data-placement="bottom" title="Requerido">R</th>
                    <th style="width: 3%" data-toggle="tooltip" data-placement="bottom" title="Oculto">O</th>
                    <th style="width: 3%" data-toggle="tooltip" data-placement="bottom" title="Sólo Lectura">SL</th>
                    <th style="width: 3%" data-toggle="tooltip" data-placement="bottom" title="Pop-up">P</th>
                    <th style="width: 3%" data-toggle="tooltip" data-placement="bottom" title="Filtro">F</th>
                    <th style="width: 3%" data-toggle="tooltip" data-placement="bottom" title="Mapa de Calor">MC</th>
                    <th style="width: 3%" data-toggle="tooltip" data-placement="bottom" title="Colorear Puntos">CP</th>
                    <th style="width: 12%">Cálculo</th>
                    <th style="width: 12%">Script</th>
                    <th style="width: 12%">Tipo de Campo</th>
                    <th style="width: 12%"></th>
                    <th style="width: 12%">Rol GW-Lite</th>
                    <th style="width: 3%"></th>
                  </tr>
                 </thead>
                <tbody class="sortable">
                  <%= f.fields_for :project_fields, @project_fields do |a| %>
                    <%= render 'project_field_fields', f: a %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>


      </div>

      <div class="row justify-content-center">
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")), root_path, :class => 'btn btn-secondary mr-1' %>
        <%= f.submit id: :envi, class: 'enviar btn btn-primary', value: "Guardar" %>
      </div>
    <% end %>
