<script>
  $(function () {
    $('.sortable').sortable({
      update: function( event, ui ) {

        $(this).find('tr').each(function(index) {
          $(this).find('.project_fields_current_position').val(index + 1);
        });
      }
    });
    $("#project_type_enabled_as_layer").click(function () {
      if ($(this).is(":checked")) {
        $("#layer_color").show();
      } else {
        $("#layer_color").hide();
      }
    });
  });

  // Open and close header with project data
  $(document).ready( function(){
    $('#toggler_header').click(function(){
      if($(".header_project_fields").hasClass("d-block")){
        $(".header_project_fields").removeClass("d-block").addClass("d-none");
        $("#toggler_header").removeClass("fa-minus").addClass("fa-plus");
      } else {
        $(".header_project_fields").removeClass("d-none").addClass("d-block");
        $("#toggler_header").removeClass("fa-plus").addClass("fa-minus");
      }
      resize_table_project_types();
    })
  });

  //Sets initial view of groups to "Atributos"
  $(document).ready( function(){
    $(".attributes_cell_group").removeClass("d-none");
    $(".plus_icon_project_fields").removeClass("d-none");
    $(".plus_icon_project_subfields").removeClass("d-none");
  });

  $(document).ready( function(){
    <% if @project_type.errors.any? %>
      $('.custom_toast').toast('show');
    <% end %>
  });

  var loadFile = function(event) {
    var fileInput = document.getElementById('file-input');
    var filePath = fileInput.value;
    var allowedExtensions = /(.jpg|.jpeg|.png|.gif)$/i;
    if(!allowedExtensions.exec(filePath)){
        document.getElementById('error_text').innerHTML='Extensión no permitida';
        document.getElementById('error_text').classList.remove('text-secondary');
        document.getElementById('error_text').classList.add('text-danger');
        fileInput.value = '';
        return false;
    }
     var sizeByte = fileInput.files[0].size;
     var sizekiloByte = parseInt(sizeByte / 1024);
     if(sizekiloByte > 300){
        document.getElementById('error_text').innerHTML='Máx. permitido 300Kb';
        document.getElementById('error_text').classList.remove('text-secondary');
        document.getElementById('error_text').classList.add('text-danger');
        fileInput.value = '';
        return false;
     }
     document.getElementById('error_text').innerHTML=fileInput.files[0].name;
     document.getElementById('error_text').classList.add('text-secondary');
     document.getElementById('error_text').classList.remove('text-danger');
  };

</script>

<%= simple_form_for @project_type, html: {multipart: true}  do |f| %>
  <div class="d-flex justify-content-end mb-1" style="float: right; margin-top: -12px">
    <i class="fas fa-minus"  id="toggler_header"></i>
  </div>
  <div class="d-block container-fluid justify-content-around header_project_fields" >
    <div class="row mb-0 p-0 text-left">
      <div class="col mx-2">
        <div class="row">
          <%= f.label :name, 'Nombre:', class:'col-form-label-sm mb-0 p-0' %>
        </div>
        <div class="row">
          <%= f.text_field :name, class: 'form-control form-control-sm' %>
        </div>
      </div>
      <div class="col mx-2">
        <div class="row">
          <%= f.label :type_geometry, 'Tipo:', class:'col-form-label-sm mb-0 p-0' %>
        </div>
        <div class="row">
          <%= f.select :type_geometry, options_for_select(['Point', 'Polygon' ,'LineString'], selected: @project_type.type_geometry), {:include_blank => true}, {class: 'form-control form-control-sm'} %>
        </div>
      </div>
      <div class="col mx-2">
        <div class="row">
          <%= f.label :tracking, "Recorido", class:'col-form-label-sm mb-0 p-0' %>
        </div>
        <div class="row">
          <div class="custom-control custom-checkbox mb-1">
            <%= f.check_box :tracking, class:'custom-control-input', id:'customCheck1' %>
            <label class="custom-control-label" for="customCheck1"></label>
          </div>
        </div>
      </div>
      <div class="col mx-2">
        <div class="row">
          <%= f.label :enabled_as_layer, "Capa", class:'col-form-label-sm mb-0 p-0' %>
        </div>
        <div class="row">
          <div class="custom-control custom-checkbox mb-2">
            <%= f.check_box :enabled_as_layer , class:'custom-control-input', id:'customCheck2'%>
            <label class="custom-control-label mr-1" for="customCheck2"></label>
          </div>
          <%= f.color_field :layer_color, class: 'form-control form-control-sm mb-2', style:'width:30px; padding:1px' %>
        </div>
      </div>
      <div class="col-md-2 ">
        <div class="row">
          <%= f.label :cover, "Imagen", class:'col-form-label-sm mb-0 p-0' %>
        </div>
        <div class="row">
          <div class="col-3">
            <%= f.file_field(:cover, multiple: false,id:"file-input", :onchange=>"loadFile(event)" , class: 'filestyle', 'data-buttonBefore': 'true', 'data-iconName': 'fas fa-folder-open', 'data-buttonText': '' , 'data-size':'sm' , 'data-input':false , 'data-badge':'false') %>
          </div>
          <div class="col-9">
            <div class="h6 text-nowrap me-2"><small id="error_text"></small></div>
          </div>
        </div>
      </div>
      <div class="col me-2">
        <div class="row">
          <%= f.label :geo_restriction, 'Restricción (m):', class:'col-form-label-sm mb-0 p-0' %>
        </div>
        <div class="row">
          <%= f.text_field :geo_restriction, class: 'form-control form-control-sm d-flex', style:'width: 50px' %>
        </div>
      </div>
      <div class="col mx-2">
        <div class="row">
          <%= f.label :level, 'Nivel:', class:'col-form-label-sm mb-0 p-0' %>
        </div>
        <div class="row">
          <%= f.text_field :level, class: 'form-control form-control-sm d-flex', style:'width: 50px' %>
        </div>
      </div>
      <div class="col mx-2">
        <div class="row">
          <%= f.label :iot, "IoT?", class:'col-form-label-sm mb-0 p-0' %>
        </div>
        <div class="row">
          <div class="custom-control custom-checkbox mb-2">
            <%= f.check_box :iot , class:'custom-control-input', id:'customCheck4'%>
            <label class="custom-control-label" for="customCheck4"></label>
          </div>
        </div>
      </div>
      <% if @project_type.type_geometry == 'Point' %>
        <div class="col mx-2">
          <div class="row">
            <%= f.label :multipoints, "Multipuntos", class:'col-form-label-sm mb-0 p-0' %>
          </div>
          <div class="row">
            <div class="custom-control custom-checkbox mb-2">
              <%= f.check_box :multipoints , class:'custom-control-input', id:'customCheck5'%>
              <label class="custom-control-label" for="customCheck5"></label>
            </div>
          </div>
        </div>
      <% end %>
      <div class="col mx-2">
        <div class="row">
          <%= f.label :multiple_edition, "Edición Multiple", class:'col-form-label-sm mb-0 p-0' %>
        </div>
        <div class="row">
          <div class="custom-control custom-checkbox mb-2">
            <%= f.check_box :multiple_edition , class:'custom-control-input', id:'customCheck3'%>
            <label class="custom-control-label" for="customCheck3"></label>
          </div>
        </div>
      </div>
      <div class="col mx-2">
        <div class="row">
          <%= f.label :enable_period, 'Deshabilitar:', class:'col-form-label-sm mb-0 p-0' %>
        </div>
        <div class="row">
          <%= f.select :enable_period, options_for_select(['Nunca', 'Semana', 'Mes' , 'Año'], selected: @project_type.enable_period), {:include_blank => false}, {class: 'form-control form-control-sm'} %>
        </div>
      </div>
      <div class="col mx-2">
        <div class="row">
          <%= f.label :notification_email, 'Mail notif. :', class:'col-form-label-sm mb-0 p-0' %>
        </div>
        <div class="row">
          <%= f.text_field :notification_email, class: 'form-control form-control-sm' %>
        </div>
      </div>
    </div>
  </div>

  <% if can? :attributes, :edit %>
    <div class="tab-pane fade show active" id="attributes" role="tabpanel" aria-labelledby="attributes-tab">
      <div class="table-responsive">
        <table class="table table-hover table-tbody-scroll table-striped m-0" id="user_assignments">
          <thead style="padding-right: 10px" id="thead_edit_table">
            <tr>
              <th class="text-left px-0" style="width: 6vw">ID</th>
              <th class="text-center px-0 d-none" style="width: 3vw">
                <% if can? :attributes, :new %>
                  <%= link_to_add_fields "<i class='fas fa-plus button_add_attributes_project_types' title='Agregar atributo'></i>".html_safe, f, :project_fields, class: 'table_father' %>
                <% end %>
              </th>
              <th style="width: 12vw">Nombre</th>
              <th class="text-left" style="width: 26vw">Tipo de Campo</th>
              <th style="width: 50vw" class="d-none attributes_cell_group">
                <div class="text-center px-0" style="width: 13%; display:inline-block; font-size:0.7rem" data-toggle="tooltip" data-placement="bottom" title="Requerido">Requerido</div>
                <div class="text-center px-0" style="width: 13%; display:inline-block; font-size:0.7rem" data-toggle="tooltip" data-placement="bottom" title="Oculto">Oculto</div>
                <div class="text-center px-0" style="width: 13%; display:inline-block; font-size:0.7rem" data-toggle="tooltip" data-placement="bottom" title="Sólo Lectura">Solo Lectura</div>
                <div class="text-center px-0" style="width: 13%; display:inline-block; font-size:0.7rem" data-toggle="tooltip" data-placement="bottom" title="Pop-up">Popup</div>
                <div class="text-center px-0" style="width: 13%; display:inline-block; font-size:0.7rem" data-toggle="tooltip" data-placement="bottom" title="Filtro/Indicadores">Filtro/Ind</div>
                <div class="text-center px-0" style="width: 13%; display:inline-block; font-size:0.7rem" data-toggle="tooltip" data-placement="bottom" title="Etiquetas">Etiquetas</div>
                <div class="text-center px-0" style="width: 13%; display:inline-block; font-size:0.7rem" data-toggle="tooltip" data-placement="bottom" title="Reporte">Reporte</div>
              </th>
              <th style="width: 50vw" class="d-none logic_cell_group">
                <div class="text-center px-0" style="width: 45%; display:inline-block">Cálculo</div>
                <div class="text-center px-0" style="width: 45%; display:inline-block">Script</div>
              </th>
              <th style="width: 50vw" class="d-none permissions_cell_group">
                <div class="text-left px-0" style="width: 45%; display:inline-block">Visualizar</div>
                <div class="text-left px-0" style="width: 45%; display:inline-block">Editar</div>
              </th>
              <th  class="text-center px-0" style="width: 4vw">
                <div class="container">
                  <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle p-1" data-toggle="dropdown">
                        Más
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item dropdown_attributes d-none"> Atributos </a>
                      <% if can? :attributes, :add_logic %>
                        <a class="dropdown-item dropdown_logic"> Lógica </a>
                      <% end %>
                      <a class="dropdown-item dropdown_permissions"> Autorizaciones </a>
                    </div>
                  </div>
                </div>
              </th>
              <th></th>
            </tr>
          </thead>

          <tbody class="sortable">
            <%= f.fields_for :project_fields, @project_fields do |a| %>
              <%= render 'project_field_fields', f: a %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>

  <div class="row pt-3">
    <div class="col-md-4">
      <div id="notice"><%= notice %></div>
    </div>
    <div class="col-md-4 row justify-content-center " id="button_container_project_type">
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")), root_path, :class => 'btn btn-sm btn-secondary mr-1' %>
      <%= f.submit id: :envi, class: 'enviar btn btn-sm btn-primary', value: "Guardar" %>
    </div>
  </div>

<% end %>
