<script>
  $(function () {
    $('.sortable').sortable({
      update: function( event, ui ) {

        $(this).find('tr').each(function(index) {
          $(this).find('.project_fields_current_position').val(index + 1);
        });
      }
    });
    $("#project_type_enabled_as_layer").click(function () {
      if ($(this).is(":checked")) {
        $("#layer_color").show();
      } else {
        $("#layer_color").hide();
      }
    });
  });
  var loadFile = function(event) {
    var fileInput = document.getElementById('file-input');
    var filePath = fileInput.value;
    var allowedExtensions = /(.jpg|.jpeg|.png|.gif)$/i;
    if(!allowedExtensions.exec(filePath)){
        document.getElementById('error_text').innerHTML='Extensión no permitida';
        document.getElementById('error_text').classList.remove('text-secondary');
        document.getElementById('error_text').classList.add('text-danger');
        fileInput.value = '';
        return false;
    }
     var sizeByte = fileInput.files[0].size;
     var sizekiloByte = parseInt(sizeByte / 1024);
     if(sizekiloByte > 300){
        document.getElementById('error_text').innerHTML='Máx. permitido 300Kb';
        document.getElementById('error_text').classList.remove('text-secondary');
        document.getElementById('error_text').classList.add('text-danger');
        fileInput.value = '';
        return false;
     }
     document.getElementById('error_text').innerHTML=fileInput.files[0].name;
     document.getElementById('error_text').classList.add('text-secondary');
     document.getElementById('error_text').classList.remove('text-danger');
  };
</script>

<%= simple_form_for @project_type, html: {multipart: true}  do |f| %>

  <% if @project_type.errors.any? %>
    <div class="panel panel-warning errors">
      <div class="panel-heading"><h4><span><i class="fa fa-exclamation"><span></i>Validaciones</h4></div>
      <ul class="panel-body"><% @project_type.errors.full_messages.each do |msg| %><li><%= msg %></li><% end %></ul>
    </div>
  <% end %>

  <div class="d-flex justify-content-around align-items-center mb-2">
    <div class="d-flex mr-2">
      <%= f.label :name, 'Nombre:', class:'col-form-label-sm text-right mr-1' %>
      <%= f.text_field :name, class: 'form-control form-control-sm' %>
    </div>

    <div class="d-flex mr-2">
      <%= f.label :type_geometry, 'Tipo:', class:'col-form-label-sm text-right mr-1' %>
      <%= f.select :type_geometry, options_for_select(['Point', 'Polygon'], selected: @project_type.type_geometry), {:include_blank => true}, {class: 'form-control form-control-sm'} %>
    </div>

    <div class="d-flex mr-2 align-items-center">
      <%= f.label :tracking, "Recorido", class:'col-form-label-sm text-right mr-2' %>
      <div class="custom-control custom-checkbox mb-2">
        <%= f.check_box :tracking, class:'custom-control-input', id:'customCheck1' %>
        <label class="custom-control-label" for="customCheck1"></label>
      </div>
    </div>

    <div class="d-flex mr-2 align-items-center">
      <%= f.label :enabled_as_layer, "Capa", class:'col-form-label-sm text-right mr-2' %>
      <div class="custom-control custom-checkbox mb-2">
        <%= f.check_box :enabled_as_layer , class:'custom-control-input', id:'customCheck2'%>
        <label class="custom-control-label" for="customCheck2"></label>
      </div>
      <%= f.color_field :layer_color, class: 'form-control form-control-sm mb-2', style:'width:30px; padding:1px' %>
    </div>

    <div class="d-flex mr-2 align-items-center">
      <%= f.label :cover, "Imagen", class:'col-form-label-sm text-right mr-2' %>
        <%= f.file_field(:cover, multiple: false,id:"file-input", :onchange=>"loadFile(event)" , class: 'filestyle', 'data-buttonBefore': 'true', 'data-iconName': 'fas fa-folder-open', 'data-buttonText': '' , 'data-size':'sm' , 'data-input':false , 'data-badge':'false') %>
      <p class="h6 text-nowrap position-absolute mt-3"><small id="error_text"></small></p>
    </div>


    <div class="d-flex mr-2">
      <%= f.label :geo_restriction, 'Restricción (m):', class:'col-form-label-sm text-right mr-2' %>
      <%= f.text_field :geo_restriction, class: 'form-control form-control-sm d-flex', style:'width: 50px' %>
    </div>

    <div class="d-flex mr-2">
      <%= f.label :level, 'Nivel:', class:'col-form-label-sm text-right mr-2' %>
      <%= f.text_field :level, class: 'form-control form-control-sm d-flex', style:'width: 50px' %>
    </div>

    <div class="d-flex mr-2 align-items-center">
      <%= f.label :multiple_edition, "Edición Multiple", class:'col-form-label-sm text-right mr-2' %>
      <div class="custom-control custom-checkbox mb-2">
        <%= f.check_box :multiple_edition , class:'custom-control-input', id:'customCheck3'%>
        <label class="custom-control-label" for="customCheck3"></label>
      </div>
    </div>
    <div class="d-flex mr-2">
      <%= f.label :enable_period, 'Deshabilitar:', class:'col-form-label-sm text-right mr-1' %>
      <%= f.select :enable_period, options_for_select(['Nunca', 'Semana', 'Mes' , 'Año'], selected: @project_type.enable_period), {:include_blank => false}, {class: 'form-control form-control-sm'} %>
    </div>
  </div>

  <div class="container justify-content-around align-items-center mb-2">
   <div class="row">
      <div class="col">
         <%= f.label :name, 'Nombre:', class:'col-form-label-sm text-right mr-1' %>
      </div>
      <div class="col">
         <%= f.label :type_geometry, 'Tipo:', class:'col-form-label-sm text-right mr-1' %>
      </div>
      <div class="col">
         <%= f.label :tracking, "Recorido", class:'col-form-label-sm text-right mr-2' %>
      </div>
      <div class="col">
         <%= f.label :enabled_as_layer, "Capa", class:'col-form-label-sm text-right mr-2' %>
      </div>
      <div class="col">
         <%= f.label :cover, "Imagen", class:'col-form-label-sm text-right mr-2' %>
      </div>
      <div class="col">
         <%= f.label :geo_restriction, 'Restricción (m):', class:'col-form-label-sm text-right mr-2' %>
      </div>
      <div class="col">
         <%= f.label :level, 'Nivel:', class:'col-form-label-sm text-right mr-2' %>
      </div>
      <div class="col">
         <%= f.label :multiple_edition, "Edición Multiple", class:'col-form-label-sm text-right mr-2' %>
      </div>
      <div class="col">
         <%= f.label :enable_period, 'Deshabilitar:', class:'col-form-label-sm text-right mr-1' %>
      </div>
      
   </div>
   <div class="row">
      <div class="col">
         <%= f.text_field :name, class: 'form-control form-control-sm' %>
      </div>
      <div class="col">
         2 of 3
      </div>
      <div class="col">
         3 of 3
      </div>
   </div>
  </div>


  <% if can? :attributes, :edit %>
    <div class="tab-pane fade show active" id="attributes" role="tabpanel" aria-labelledby="attributes-tab">
      <div class="table-responsive">
        <table class="table table-hover table-tbody-scroll table-striped m-0" id="user_assignments">
          <thead style="padding-right: 10px">
            <tr>
              <th class="text-center px-0" style="width: 3%">ID</th>
              <th class="text-center px-0" style="width: 3%">
                <% if can? :attributes, :new %>
                  <%= link_to_add_fields "<i class='fas fa-plus' title='Agregar atributo'></i>".html_safe, f, :project_fields, class: 'table_father' %>
                <% end %>
              </th>
              <th style="width: 12%">Nombre</th>
              <th class="text-center px-0" style="width: 3%" data-toggle="tooltip" data-placement="bottom" title="Requerido">R</th>
              <th class="text-center px-0" style="width: 3%" data-toggle="tooltip" data-placement="bottom" title="Oculto">O</th>
              <th class="text-center px-0" style="width: 3%" data-toggle="tooltip" data-placement="bottom" title="Sólo Lectura">SL</th>
              <th class="text-center px-0" style="width: 3%" data-toggle="tooltip" data-placement="bottom" title="Pop-up">P</th>
              <th class="text-center px-0" style="width: 3%" data-toggle="tooltip" data-placement="bottom" title="Filtro/Indicadores">F/I</th>
              <th class="text-center px-0" style="width: 3%" data-toggle="tooltip" data-placement="bottom" title="Mapa de Calor">MC</th>
              <th class="text-center px-0" style="width: 3%" data-toggle="tooltip" data-placement="bottom" title="Reporte">RP</th>
              <th class="text-center px-0" style="width: 10%">Cálculo</th>
              <th class="text-center px-0" style="width: 10%">Script</th>
              <th class="text-center px-0" style="width: 18%%">Tipo de Campo</th>
              <th class="text-right px-0" style="width: 18%">Visualizar</th>
              <th class="text-center px-0" style="width: 12%">Editar</th>
              <th class="text-center px-0" style="width: 1%"></th>
              <th></th>
            </tr>
           </thead>
          <tbody class="sortable">
            <%= f.fields_for :project_fields, @project_fields do |a| %>
              <%= render 'project_field_fields', f: a %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>

  <div class="row pt-3">
    <div class="col-md-4">
      <div id="notice"><%= notice %></div>
    </div>
    <div class="col-md-4 row justify-content-center">
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")), root_path, :class => 'btn btn-sm btn-secondary mr-1' %>
      <%= f.submit id: :envi, class: 'enviar btn btn-sm btn-primary', value: "Guardar" %>
    </div>
  </div>

<% end %>
