<script>
  $(function () {
    $('.sortable').sortable({
      update: function( event, ui ) {

        $(this).find('tr').each(function(index) {
          $(this).find('.project_fields_current_position').val(index + 1);
        });
      }
    });
    $("#project_type_enabled_as_layer").click(function () {
      if ($(this).is(":checked")) {
        $("#layer_color").show();
      } else {
        $("#layer_color").hide();
      }
    });
  });
</script>

<%= simple_form_for @project_type, html: {multipart: true}  do |f| %>

  <% if @project_type.errors.any? %>
    <div class="panel panel-warning errors">
      <div class="panel-heading"><h4><span><i class="fa fa-exclamation"><span></i>Validaciones</h4></div>
      <ul class="panel-body"><% @project_type.errors.full_messages.each do |msg| %><li><%= msg %></li><% end %></ul>
    </div>
  <% end %>

  <div class="form-group row m-0">
    <div class="col-md-3 row">
      <%= f.label :name, 'Nombre:', class:'col-md-5 text-right col-form-label-sm' %>
      <div class="col-md-7">
        <%= f.text_field :name, class: 'form-control form-control-sm' %>
      </div>
    </div>

    <div class="col-md-1 row">
        <%= f.select :type_geometry, options_for_select(['Point', 'Polygon'], selected: @project_type.type_geometry), {:include_blank => true}, {class: 'form-control form-control-sm'} %>
    </div>

    <div class="col-md-3 row">
      <%= f.label :enabled_as_layer, "Recorido", class:'col-md-4 text-right col-form-label-sm' %>
      <div class="col-md-1 pt-1">
        <%= f.check_box :tracking %>
      </div>

      <%= f.label :enabled_as_layer, "Capa", class:'col-md-4 text-right col-form-label-sm' %>
      <div class="col-md-1 pt-1">
        <%= f.check_box :enabled_as_layer %>
      </div>
    </div>

    <div class="col-md-4 row">
     <div class="col-md-3">
       <%= f.color_field :layer_color, class: 'form-control form-control-sm' %>
      </div>
      <div class="col-md-2">
        <%= f.file_field(:cover, multiple: false,id:"file-input", :onchange=>"loadFile(event)" , class: 'filestyle', 'data-buttonBefore': 'true', 'data-iconName': 'fas fa-folder-open', 'data-buttonText': '' , 'data-size':'sm' , 'data-input':false , 'data-badge':'false') %>
      </div>
      <div class="col-md-7">
          <p id="error_text" class="h6 position-absolute"></p>
        </div>
    </div>

    <div class="col-md-2 row">
      <%= f.label :geo_restriction, 'Restricción (m):', class:'col-md-8 text-right col-form-label-sm' %>
      <div class="col-md-4">
        <%= f.input :geo_restriction, label: false, input_html: {class: 'form-control form-control-sm'} %>
      </div>
    </div>
    
  </div>

  
  <% if can? :attributes, :edit %>
    <div class="tab-pane fade show active" id="attributes" role="tabpanel" aria-labelledby="attributes-tab">
      <div class="table-responsive">
        <table class="table table-hover table-tbody-scroll table-striped m-0" id="user_assignments">
          <thead style="padding-right: 10px">
            <tr>
              <th class="text-center px-0" style="width: 3%">ID</th>
              <th class="text-center px-0" style="width: 3%">
                <% if can? :attributes, :new %>
                  <%= link_to_add_fields "<i class='fas fa-plus' title='Agregar atributo'></i>".html_safe, f, :project_fields, class: 'table_father' %>
                <% end %>
              </th>
              <th style="width: 14%">Nombre</th>
              <th class="text-center px-0" style="width: 3%" data-toggle="tooltip" data-placement="bottom" title="Requerido">R</th>
              <th class="text-center px-0" style="width: 3%" data-toggle="tooltip" data-placement="bottom" title="Oculto">O</th>
              <th class="text-center px-0" style="width: 3%" data-toggle="tooltip" data-placement="bottom" title="Sólo Lectura">SL</th>
              <th class="text-center px-0" style="width: 3%" data-toggle="tooltip" data-placement="bottom" title="Pop-up">P</th>
              <th class="text-center px-0" style="width: 3%" data-toggle="tooltip" data-placement="bottom" title="Filtro/Indicadores">F/I</th>
              <th class="text-center px-0" style="width: 3%" data-toggle="tooltip" data-placement="bottom" title="Mapa de Calor">MC</th>
              <th class="text-center px-0" style="width: 3%" data-toggle="tooltip" data-placement="bottom" title="Colorear Puntos">CP</th>
              <th class="text-center px-0" style="width: 12%">Cálculo</th>
              <th class="text-center px-0" style="width: 12%">Script</th>
              <th class="text-center px-0" style="width: 11%">Tipo de Campo</th>
              <th class="text-center px-0" style="width: 11%"></th>
              <th class="text-center px-0" style="width: 11%">Rol GW-Lite</th>
              <th class="text-center px-0" style="width: 3%"></th>
              <th></th>
            </tr>
           </thead>
          <tbody class="sortable">
            <%= f.fields_for :project_fields, @project_fields do |a| %>
              <%= render 'project_field_fields', f: a %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>

  <div class="row pt-3">
    <div class="col-md-4">
      <div id="notice"><%= notice %></div>
    </div>
    <div class="col-md-4 row justify-content-center">
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")), root_path, :class => 'btn btn-sm btn-secondary mr-1' %>
      <%= f.submit id: :envi, class: 'enviar btn btn-sm btn-primary', value: "Guardar" %>
    </div>
  </div>

<% end %>
<script>
  var loadFile = function(event) {
    var fileInput = document.getElementById('file-input');
    var filePath = fileInput.value;
    var allowedExtensions = /(.jpg|.jpeg|.png|.gif)$/i;
    if(!allowedExtensions.exec(filePath)){
        document.getElementById('error_text').innerHTML='Extensión no permitida';
        document.getElementById('error_text').classList.remove('text-secondary');
        document.getElementById('error_text').classList.add('text-danger');
        fileInput.value = '';
        return false;
    }
     var sizeByte = fileInput.files[0].size;
     console.log(sizeByte)
     var sizekiloByte = parseInt(sizeByte / 1024);
     console.log(sizekiloByte)
     if(sizekiloByte > 300){
        document.getElementById('error_text').innerHTML='Máx. permitido 300Kb';
        document.getElementById('error_text').classList.remove('text-secondary');
        document.getElementById('error_text').classList.add('text-danger');
        fileInput.value = '';
        return false;
     }
     document.getElementById('error_text').innerHTML=fileInput.files[0].name;
     document.getElementById('error_text').classList.add('text-secondary');
     document.getElementById('error_text').classList.remove('text-danger');
  };
</script>