<script>
  var loadFile = function(event) {
    var fileInput = document.getElementById('file-input');
    var filePath = fileInput.value;
    var allowedExtensions = /(.jpg|.jpeg|.png|.gif)$/i;
    if(!allowedExtensions.exec(filePath)){
        document.getElementById('error_text').innerHTML='Extensi칩n no permitida';
        document.getElementById('error_text').classList.remove('text-secondary');
        document.getElementById('error_text').classList.add('text-danger');
        fileInput.value = '';
        return false;
    }
     var sizeByte = fileInput.files[0].size;
     console.log(sizeByte)
     var sizekiloByte = parseInt(sizeByte / 1024);
     console.log(sizekiloByte)
     if(sizekiloByte > 300){
        document.getElementById('error_text').innerHTML='M치x. permitido 300Kb';
        document.getElementById('error_text').classList.remove('text-secondary');
        document.getElementById('error_text').classList.add('text-danger');
        fileInput.value = '';
        return false;
     }
     document.getElementById('error_text').innerHTML=fileInput.files[0].name;
     document.getElementById('error_text').classList.add('text-secondary');
     document.getElementById('error_text').classList.remove('text-danger');
  };
</script>
<%= simple_form_for @project_type, html: {multipart: true}  do |f| %>

  <% if @project_type.errors.any? %>
    <div class="panel panel-warning errors">
      <div class="panel-heading"><h4><span><i class="fa fa-exclamation"><span></i>Validaciones</h4></div>
      <ul class="panel-body"><% @project_type.errors.full_messages.each do |msg| %><li><%= msg %></li><% end %></ul>
    </div>
  <% end %>

  <p id="notice"><%= notice %></p>

  <div class="form-group row m-0">
    <%= f.input :kind_file, as: :hidden, input_html: {value: 'true' } %>
      <div class="col-md-3 row">
        <%= f.label :name, 'Nombre:', class:'col-md-5 text-right col-form-label-sm' %>
        <div class="col-md-7">
          <%= f.text_field :name, class: 'form-control form-control-sm' %>
        </div>
      </div>
    <div class="col-md-1 row">
        <%= f.select :type_geometry, options_for_select(['Point', 'Polygon'], selected: @project_type.type_geometry), {:include_blank => true}, {class: 'form-control form-control-sm'} %>
    </div>

    <div class="col-md-3 row">
      <%= f.label :enabled_as_layer, "Recorrido", class:'col-md-4 text-right col-form-label-sm' %>
      <div class="col-md-1 pt-1">
        <%= f.check_box :tracking %>
      </div>

      <%= f.label :enabled_as_layer, "Capa", class:'col-md-4 text-right col-form-label-sm' %>
      <div class="col-md-1 pt-1">
        <%= f.check_box :enabled_as_layer %>
      </div>
    </div>

    <div class="col-md-3 row">
      <div class="col-md-3">
        <%= f.color_field :layer_color, class: 'form-control form-control-sm' %>
      </div>
      <div class="col-md-2">
        <%= f.file_field(:cover, multiple: false,id:"file-input", :onchange=>"loadFile(event)" , class: 'filestyle', 'data-buttonBefore': 'true', 'data-iconName': 'fas fa-folder-open', 'data-buttonText': '' , 'data-size':'sm' , 'data-input':false , 'data-badge':'false') %>
      </div>
      <div class="col-md-7">
          <p id="error_text" class="h6 position-absolute"></p>
        </div>
    </div>
  
    <div class="col-md-3 row">
      <%= f.label :geo_restriction, 'Restricci칩n (m):', class:'col-md-8 text-right col-form-label-sm' %>
      <div class="col-md-4">
        <%= f.input :geo_restriction, label: false, input_html: {class: 'form-control form-control-sm'} %>
      </div>
    </div>
   </div> 

  <div class="row justify-content-center my-4">
    <%= f.label :file, 'Cargar Archivos:', class:'col-md-2 text-right col-form-label' %>
    <div class="col-md-4">
      <%= f.file_field(:file, multiple: true, class: 'project_typ_file filestyle col-md-12', 'data-buttonBefore': 'true', 'data-iconName': 'fas fa-folder-open', 'data-buttonText': '')  %>
      <p><i class="fas fa-exclamation-circle"></i> S칩lo acepta archivos <b>geojson</b> de tipo <b>Polygon</b> y <b>Point</b></p>
    </div>
  </div>

  <div class="row justify-content-center">
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), root_path, :class => 'btn btn-secondary mr-1' %>
    <%= f.submit id: :envi, class: 'enviar btn btn-primary', value: "Guardar" %>
  </div>

<% end %>
