<div class="modal-header">
  <h4 class="modal-title"> Filtro </h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span></button>
</div>

<%= form_tag project_type_create_filters_path, :remote => true, :method => :get do |f| %>
  <div class="modal-body">
    <div class="form-row">
      <div class="col-md-4">
        <%= select_tag 'q[project_field]', grouped_options_for_select(filter_field_for_select), include_blank: true, style: 'width: 153px', class:'proj_field form-control' %>
      </div>
      <%=text_field_tag'q[field_type]','',class:'d-none' %>
      <div class="col-md-2">
        <%= select_tag 'q[filters]', options_for_select(ProjectType::FILTERS), style: 'width: 73px', class: 'form-control' %>
      </div>
      <div class="col-md-5">
        <%= text_field_tag'q[input_value]','',class:'form-control' , autocomplete: 'off' %>
        <select id="filter_value_options" class="form-control d-none"></select>
      </div>
      <div class="col-md-1 d-flex m-auto">
        <i class="fas fa-list custom_cursor" title="Mostrar/Ocultar Opciones" id="change_value_options_filter"></i>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    <%= submit_tag :enviar, id: "filtro", class: "envf btn btn-primary", value: 'Guardar' %>
  </div>
<% end %>

<script>
  var $select_field = $('#q_project_field');
  var xhr_fil = null;
  $select_field.on('change', function() {
    // Busca tipo de campo
    if($(this.options[this.selectedIndex]).closest('optgroup').prop('label')=="Formularios"){
      url = "/project_fields/get_field_type.json"
    } else {
      url = "/project_subfields/get_field_type.json"
    }
    if (xhr_fil && xhr_fil.readyState != 4) {
      xhr_fil.abort();
    }
    xhr_fil = $.ajax({
      url: url,
      type: "GET",
      data: {
        key: $(this).val(),
        project_type_id: <%= params[:project_type_id] %>
      },
      success: function(data) {
        $('#q_field_type').val(data);
        if((data == 2 || data == 10) && $('#filter_value_options').hasClass('d-none')){
          $('#change_value_options_filter').click();
        }
        if(data != 2 && data != 10 && !$('#filter_value_options').hasClass('d-none')){
          $('#change_value_options_filter').click();
        }
      }
    });
    $('#q_input_value').val('');
    $.ajax({
      url: "/projects/search_data.json",
      type: "GET",
      data: {
        table: $(this.options[this.selectedIndex]).closest('optgroup').prop('label'),
        project_field_key: $(this).val(),
        project_type_id: <%= params[:project_type_id] %>
      },
      success: function(data) {
        $('#filter_value_options').empty();
        $('#filter_value_options').append('<option></option>');
        $.each(data['data'][0]['values'], function(value, a) {
          let opt = document.createElement("option");
          opt.value = `${a.p_name}`.replace(/[\[\]]/g, "").replace(/\", \"/g, " | ").replace(/\"/g, "");
          opt.text = `${a.p_name}`.replace(/[\[\]]/g, "").replace(/\", \"/g, " | ").replace(/\"/g, "");
          $('#filter_value_options').append(opt);
        });
      }
    });
  });

  $('#change_value_options_filter').on('click', function() {
    if($('#filter_value_options').hasClass('d-none')){
      $('#change_value_options_filter').removeClass('fa-list');
      $('#change_value_options_filter').addClass('fa-pencil-alt');
      $('#filter_value_options').removeClass('d-none');
      $('#q_input_value').addClass('d-none');
    } else {
      $('#change_value_options_filter').addClass('fa-list');
      $('#change_value_options_filter').removeClass('fa-pencil-alt');
      $('#filter_value_options').addClass('d-none');
      $('#q_input_value').removeClass('d-none');
    }
  });

  $('#filter_value_options').on('change', function() {
    $('#q_input_value').val($(this).val());
  });
</script>
