<script>
  var loadFile_files = function(event) {
    var fileInput = document.getElementById('file-input_file');
    var filePath = fileInput.value;
    var allowedExtensions = /(.jpg|.jpeg|.png|.gif)$/i;
    if(!allowedExtensions.exec(filePath)){
        document.getElementById('error_text_file').innerHTML='Extensión no permitida';
        document.getElementById('error_text_file').classList.remove('text-secondary');
        document.getElementById('error_text_file').classList.add('text-danger');
        fileInput.value = '';
        return false;
    }
     var sizeByte = fileInput.files[0].size;
     var sizekiloByte = parseInt(sizeByte / 1024);
     if(sizekiloByte > 300){
        document.getElementById('error_text_file').innerHTML='Máx. permitido 300Kb';
        document.getElementById('error_text_file').classList.remove('text-secondary');
        document.getElementById('error_text_file').classList.add('text-danger');
        fileInput.value = '';
        return false;
     }
     document.getElementById('error_text_file').innerHTML=fileInput.files[0].name;
     document.getElementById('error_text_file').classList.add('text-secondary');
     document.getElementById('error_text_file').classList.remove('text-danger');
  };
</script>
<%= simple_form_for @project_type, html: {multipart: true}  do |f| %>

  <div class="container-fluid py-2 bg-dark rounded shadow-sm">
    <div class="d-flex align-items-end flex-wrap gap-3">
      <div class="d-flex gap-2 flex-wrap align-items-end mr-4">

        <%= f.input :kind_file, as: :hidden, input_html: {value: 'true'}, wrapper_html: { class: 'd-none' } %>

        <div class="col-auto">
          <%= f.label :name, 'Nombre:', class: 'form-label text-light mb-1' %>
          <%= f.text_field :name, class: 'form-control form-control-sm' %>
        </div>
        <div class="col-auto">
          <%= f.label :type_geometry, 'Tipo:', class: 'form-label text-light mb-1' %>
          <%= f.select :type_geometry, options_for_select(['Point', 'Polygon', 'LineString'], selected: @project_type.type_geometry), { include_blank: true }, class: 'form-control form-control-sm' %>
        </div>
        <div class="col-auto">
          <%= f.label :geo_restriction, 'Restricción (m):', class: 'form-label text-light mb-1' %>
          <%= f.text_field :geo_restriction, class: 'form-control form-control-sm', style: "width:105px;" %>
        </div>
        <div class="col-auto">
          <%= f.label :level, 'Nivel:', class: 'form-label text-light mb-1' %>
          <%= f.text_field :level, class: 'form-control form-control-sm', style: "width:40px;" %>
        </div>
        <div class="col-auto">
          <%= f.label :enable_period, 'Deshabilitar:', class: 'form-label text-light mb-1' %>
          <%= f.select :enable_period, options_for_select(['Nunca', 'Semana', 'Mes', 'Año'], selected: @project_type.enable_period), { include_blank: false }, class: 'form-control form-control-sm' %>
        </div>
        <div class="col-auto">
          <%= f.label :notification_email, 'Mail notif. :', class: 'form-label text-light mb-1' %>
          <%= f.text_field :notification_email, class: 'form-control form-control-sm' %>
        </div>
        <div class="col-auto text-center">
          <%= f.label :cover, "Imagen:", class: 'form-label text-light mb-1', style: "font-size: 0.95rem; display: block;" %>
          <label for="file-input_file" style="cursor: pointer; display: block;">
            <i class="fas fa-folder-open fa-lg"></i>
          </label>
          <%= f.file_field(:cover, multiple: false, id: "file-input_file", onchange: "loadFile_files(event)", class: "d-none") %>
        </div>
      </div>

      <div class="d-flex align-items-center gap-3 ms-3 flex-wrap">
        <div class="form-check form-switch mr-4">
          <%= f.check_box :enabled_as_layer, class: 'form-check-input', id: 'customCheck2' %>
          <%= f.label :enabled_as_layer, "Capa", class: 'form-check-label text-light', for: 'customCheck2' %>
        </div>
        <div class="form-check form-switch mr-4">
          <%= f.check_box :tracking, class: 'form-check-input', id: 'customCheck1' %>
          <%= f.label :tracking, "Recorrido", class: 'form-check-label text-light', for: 'customCheck1' %>
        </div>
        <div class="form-check form-switch mr-4">
          <%= f.check_box :iot, class: 'form-check-input', id: 'customCheck4' %>
          <%= f.label :iot, "IoT?", class: 'form-check-label text-light', for: 'customCheck4' %>
        </div>
        <% if @project_type.type_geometry == 'Point' %>
          <div class="form-check form-switch mr-4">
            <%= f.check_box :multipoints, class: 'form-check-input', id: 'customCheck5' %>
            <%= f.label :multipoints, "Multipuntos", class: 'form-check-label text-light', for: 'customCheck5' %>
          </div>
        <% end %>
        <div class="form-check form-switch mr-4">
          <%= f.check_box :multiple_edition, class: 'form-check-input', id: 'customCheck3' %>
          <%= f.label :multiple_edition, "Edición Multiple", class: 'form-check-label text-light', for: 'customCheck3' %>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center my-4">
    <%= f.label :file, 'Cargar Archivos:', class:'col-md-2 text-right col-form-label' %>
    <div class="col-md-4">
      <%= f.file_field(:file, multiple: true, class: 'project_typ_file filestyle col-md-12', 'data-buttonBefore': 'true', 'data-iconName': 'fas fa-folder-open', 'data-buttonText': '')  %>
      <p class="mb-0"><i class="fas fa-exclamation-circle"></i> Sólo acepta archivos <b>geojson</b> de tipo <b>Polygon</b>, <b>LineString</b> y <b>Point</b></p>
      <p class="mt-0 ml-3"><b>Lat long WGS84 - EPSG o SRID 4326</b></p>
    </div>
  </div>

  <div class="row justify-content-center">
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), root_path, :class => 'btn btn-secondary mr-1' %>
    <%= f.submit id: :envi, class: 'enviar btn btn-primary', value: "Guardar" %>
  </div>

<% end %>
