<%= simple_form_for @project_type, html: {multipart: true}  do |f| %>

  <% if @project_type.errors.any? %>
    <div class="panel panel-warning errors">
      <div class="panel-heading"><h4><span><i class="fa fa-exclamation"><span></i>Validaciones</h4></div>
      <ul class="panel-body"><% @project_type.errors.full_messages.each do |msg| %><li><%= msg %></li><% end %></ul>
    </div>
  <% end %>

  <p id="notice"><%= notice %></p>

  <div class="form-group row">
    <%= f.input :kind_file, as: :hidden, input_html: {value: 'true' } %>
    <%= f.label :name, 'Nombre:', class:'col-md-1 text-right col-form-label-sm' %>
    <div class="col-md-2">
      <%= f.text_field :name, class: 'form-control form-control-sm' %>
    </div>

    <div class="col-md-3 row">
      <%= f.label :type_geometry, 'Tipo de Geometría:', class:'col-md-6 text-right col-form-label-sm' %>
      <div class="col-md-6">
        <%= f.select :type_geometry, options_for_select(['Point', 'Polygon'], selected: @project_type.type_geometry), {:include_blank => true}, {class: 'form-control form-control-sm'} %>
      </div>
    </div>

    <div class="col-md-4 row">
      <%= f.label :enabled_as_layer, "¿Recorido?:", class:'col-md-4 text-right col-form-label-sm' %>
      <div class="col-md-2">
        <%= f.check_box :tracking %>
      </div>

      <%= f.label :enabled_as_layer, "¿Capa?:", class:'col-md-4 text-right col-form-label-sm' %>
      <div class="col-md-2">
        <%= f.check_box :enabled_as_layer %>
      </div>
    </div>

    <%= f.label :layer_color, 'Color Capa:', class:'col-md-1 text-right col-form-label-sm' %>
    <div class="col-md-1">
      <%= f.color_field :layer_color, class: 'form-control form-control-sm' %>
    </div>
  </div>

  <div class="row justify-content-center">
    <%= f.label :file, 'Cargar Archivos:', class:'col-md-2 text-right col-form-label' %>
    <div class="col-md-4">
      <%= f.file_field(:file, multiple: true, class: 'project_typ_file filestyle col-md-12', 'data-buttonBefore': 'true', 'data-iconName': 'fas fa-folder-open', 'data-buttonText': '')  %>
    </div>
  </div>

  <div class="row justify-content-center">
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), root_path, :class => 'btn btn-secondary mr-1' %>
    <%= f.submit id: :envi, class: 'enviar btn btn-primary', value: "Guardar" %>
  </div>

<% end %>
