<div id="filters-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title"> Filtro </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>

      <%= form_tag project_type_create_filters_path, :remote => true, :method => :get do |f| %>

        <div class="modal-body">
          <div class="form-row">
            <div class="col-md-5">
              <%=select_tag 'q[project_field]', options_for_select(region_for_select), class:'proj_field form-control' %>
            </div>
            <div class="col-md-2">
              <%=select_tag 'q[filters]', options_for_select(ProjectType::FILTERS), class: 'form-control' %>
            </div>
            <div class="col-md-5">
              <%=text_field_tag 'q[input_value]', '', class: 'form-control' %>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <%= submit_tag :enviar, id: "filtro", class: "envf btn btn-primary", value: 'Guardar' %>
        </div>
      <% end %>

    </div>
  </div>
</div>
