<%= simple_form_for @project_type, html: {multipart: true}  do |f| %>
  <% if @project_type.errors.any? %>
    <div class="panel panel-warning errors">
      <div class="panel-heading">
        <h4><span><i class="fa fa-exclamation"><span></i>  Validaciones</h4>
      </div>
      <ul class="panel-body">
        <% @project_type.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p id="notice"><%= notice %></p>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <br>
  <%= f.file_field(:file, multiple: true, class: 'project_typ_file btn btn-primary')  %>
  <br>
  <%= select_tag 'option_geo', options_for_select(['Latitud & Longitud', 'Georeferenciación']), {prompt: 'Seleccione tipo georeferenciacion'} %>
  <br>
  <br>
  <div id="latlng" class="latlng boxi">
    <%= render 'latlng', f: f  %>
  </div>
<div id="geocoding" class="geocoding boxi">
    <%= render 'geocoding', f: f  %>
</div>


  <div class="actions">
    <%= f.submit id: :envi, class: 'enviar btn btn-primary' %>
  </div>

<% end %>
