<div class="toast custom_toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="8000">
    <div class="toast-header">
      <%= image_tag ENV['HORIZONTAL_LOGO'], class: 'mr-auto', height:"30" %>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
      <ul class="panel-body"><% @project_type.errors.full_messages.each do |msg| %><li><%= msg %></li><% end %></ul>
    </div>
  </div>
<div class="card m-2 shadow">
  <div class="card-body p-3">
  <p id="notice"><%= notice %></p>

    <ul class="nav nav-pills nav-fill mb-2" id="myTab" role="tablist">
      <% if params[:controller] == 'project_types' && (params[:action] == 'new' || params[:action] == 'create') %>
        <li class="nav-item">
          <a class="nav-link active" id="attributes-tab" data-toggle="tab" href="#attributes" role="tab" aria-controls="attributes" aria-selected="true">Por Atributos</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" id="file-tab" data-toggle="tab" href="#file" role="tab" aria-controls="file" aria-selected="false">Por Archivos</a>
      </li>
    <% end %>
    <% if can? :attributes, :edit %>
          <a class="d-none" id="attributes-tab" data-toggle="tab" href="#attributes" role="tab" aria-controls="attributes" aria-selected="true">Por Atributos</a>
    <% end %>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="attributes" role="tabpanel" aria-labelledby="attributes-tab">
        <%= render 'attributes' %>
      </div>
      <% if params[:controller] == 'project_types' && (params[:action] == 'new' || params[:action] == 'create') %>
      <div class="tab-pane fade" id="file" role="tabpanel" aria-labelledby="file-tab">
        <%= render 'files' %>
      </div>
    <% end %>
    </div>

  </div>
</div>
