<script>
  $(function () {
    $("#project_type_enabled_as_layer").click(function () {
      if ($(this).is(":checked")) {
        $("#layer_color").show();
      } else {
        $("#layer_color").hide();
      }
    });
  });
</script>

<div class="x_panel card">
  <div class="x_content">

    <%= simple_form_for @project_type, html: {multipart: true}  do |f| %>

      <% if @project_type.errors.any? %>
        <div class="panel panel-warning errors">
          <div class="panel-heading">
            <h4><span><i class="fa fa-exclamation"><span></i>  Validaciones</h4>
          </div>
          <ul class="panel-body">
            <% @project_type.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <p id="notice"><%= notice %></p>

      <div class="form-group col-md-12">
        <div class="col-md-2 text-right">
          <%= f.label 'Nombre:' %>
        </div>
        <div class="col-md-3">
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group col-md-12">
        <div class="col-md-2 text-right">
          <label>Cargar Archivos:</label>
        </div>
        <div class="col-md-3">
          <%= f.file_field(:file, multiple: true, class: 'project_typ_file filestyle col-md-12', 'data-buttonBefore': 'true', 'data-iconName': 'fas fa-folder-open', 'data-buttonText': '')  %>
        </div>
      </div>

      <div class="form-group col-md-12">
        <div class="col-md-2 text-right">
          <label>Importar desde API:</label>
        </div>
        <div class="col-md-3 text-right">
          <input multiple="multiple" class="filestyle" data-input="false" data-buttonbefore="true" data-iconname="fas fa-box" data-buttontext="" type="file" style="position: absolute; clip: rect(0px, 0px, 0px, 0px);">
        </div>
      </div>

      <div class="form-group col-md-12">
        <div class="col-md-2 text-right">
          <label>Tipo de Georeferenciación:</label>
        </div>
        <div class="col-md-3 text-right">
          <%= select_tag 'option_geo', options_for_select(['Latitud_Longitud', 'Georeferenciacion']), {prompt: '', class: 'form-control'} %>
        </div>
      </div>

      <div id="Latitud_Longitud" class="latlng boxi">
        <%= render 'latlng', f: f  %>
      </div>

      <div id="Georeferenciacion" class="geocoding boxi">
        <%= render 'geocoding', f: f  %>
      </div>

      <div class="form-group col-md-12">
        <div class="col-md-1"></div>
        <div class="col-md-4"><hr></div>
      </div>

      <div class="form-group col-md-12">
        <div class="col-md-2 text-right">
          <%= f.label :enabled_as_layer, "Habilitar como Capa:" %>
        </div>
        <div class="col-md-3">
          <%= f.check_box :enabled_as_layer %>
        </div>
      </div>

      <div class="form-group col-md-12" id="layer_color" style="display: none">
        <div class="col-md-2 text-right">
          <%= f.label :layer_color, 'Color de la Capa:' %>
        </div>
        <div class="col-md-1">
          <%= f.color_field :layer_color, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group col-md-12 form-actions">
        <div class="col-md-5 text-right">
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")), project_types_path, :class => 'btn btn-default' %>
          <%= f.submit id: :envi, class: 'enviar btn btn-primary', value: "Guardar" %>
        </div>
      </div>

    <% end %>

  </div>
</div>
