<script>
  $(function () {
    $('.sortable').sortable({
      update: function( event, ui ) {

        $(this).find('tr').each(function(index) {
          $(this).find('.project_fields_current_position').val(index + 1);
        });
      }
    });
    $("#project_type_enabled_as_layer").click(function () {
      if ($(this).is(":checked")) {
        $("#layer_color").show();
      } else {
        $("#layer_color").hide();
      }
    });
  });
</script>

<div class="card m-2 shadow">
  <div class="card-body">

    <%= simple_form_for @project_type, html: {multipart: true}  do |f| %>

      <% if @project_type.errors.any? %>
        <div class="panel panel-warning errors">
          <div class="panel-heading"><h4><span><i class="fa fa-exclamation"><span></i>Validaciones</h4></div>
          <ul class="panel-body"><% @project_type.errors.full_messages.each do |msg| %><li><%= msg %></li><% end %></ul>
        </div>
      <% end %>

      <p id="notice"><%= notice %></p>

      <div class="form-group row">
        <%= f.label :name, 'Nombre:', class:'col-md-2 text-right col-form-label-sm' %>
        <div class="col-md-4">
          <%= f.text_field :name, class: 'form-control form-control-sm' %>
        </div>
        <%= f.label :enabled_as_layer, "Habilitar como Capa:", class:'col-md-2 text-right col-form-label-sm' %>
        <div class="col-md-4">
          <%= f.check_box :enabled_as_layer %>
        </div>
        <%= f.label :enabled_as_layer, "Recorido:", class:'col-md-2 text-right col-form-label-sm' %>
        <div class="col-md-4">
          <%= f.check_box :tracking %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :type_geometry, 'Tipo de Geometría:', class:'col-md-2 text-right col-form-label-sm' %>
        <div class="col-md-4">
          <%= f.select :type_geometry, options_for_select(['Point', 'LineString', 'Polygon'], selected: @project_type.type_geometry), {:include_blank => true}, {class: 'form-control form-control-sm'} %>
        </div>
        <%= f.label :layer_color, 'Color de la Capa:', class:'col-md-2 text-right col-form-label-sm' %>
        <div class="col-md-1">
          <%= f.color_field :layer_color, class: 'form-control form-control-sm' %>
        </div>
      </div>

      <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
        <% if can? :attributes, :edit %>
          <li class="nav-item">
            <a class="nav-link active" id="attributes-tab" data-toggle="tab" href="#attributes" role="tab" aria-controls="attributes" aria-selected="true">Por Atributos</a>
          </li>
        <% end %>
        <li class="nav-item">
          <a class="nav-link" id="file-tab" data-toggle="tab" href="#file" role="tab" aria-controls="file" aria-selected="false">Por Archivos</a>
        </li>
      </ul>

      <div class="tab-content p-4" id="myTabContent">

        <% if can? :attributes, :edit %>
          <div class="tab-pane fade show active" id="attributes" role="tabpanel" aria-labelledby="attributes-tab">
            <div class="table-responsive">
              <table class="table table-hover table-striped m-0" id="user_assignments">
                <thead>
                  <tr>
                <% if can? :attributes, :new %>
                  <th><%= link_to_add_fields "<i class='fas fa-plus' title='Agregar atributo'></i>".html_safe, f, :project_fields, class: 'table_father' %></th>
                <% end %>
                    <th>Nombre</th>
                    <th>Cálculo</th>
                    <th>Script</th>
                    <th>Tipo de Campo</th>
                    <th></th>
                    <th data-toggle="tooltip" data-placement="bottom" title="Requerido">R</th>
                    <th data-toggle="tooltip" data-placement="bottom" title="Oculto">O</th>
                    <th data-toggle="tooltip" data-placement="bottom" title="Sólo Lectura">SL</th>
                    <th data-toggle="tooltip" data-placement="bottom" title="Pop-up">P</th>
                    <th data-toggle="tooltip" data-placement="bottom" title="Filtro">F</th>
                    <th data-toggle="tooltip" data-placement="bottom" title="Mapa de Calor">MC</th>
                    <th data-toggle="tooltip" data-placement="bottom" title="Colorear Puntos">CP</th>
                    <th></th>
                    <th>Rol GW-Lite</th>
                  </tr>
                 </thead>
                <tbody class="sortable">
                  <%= f.fields_for :project_fields, @project_fields do |a| %>
                    <%= render 'project_field_fields', f: a %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>

        <div class="tab-pane fade" id="file" role="tabpanel" aria-labelledby="file-tab">
          <div class="row justify-content-center">
            <%= f.label :file, 'Cargar Archivos:', class:'col-md-2 text-right col-form-label' %>
            <div class="col-md-4">
              <%= f.file_field(:file, multiple: true, class: 'project_typ_file filestyle col-md-12', 'data-buttonBefore': 'true', 'data-iconName': 'fas fa-folder-open', 'data-buttonText': '')  %>
            </div>
          </div>

          <div class="row justify-content-center">
            <label class="col-md-2 text-right col-form-label">Tipo de Georeferenciación:</label>
            <div class="col-md-4">
              <%= select_tag 'option_geo', options_for_select(['Latitud_Longitud', 'Georeferenciacion']), {prompt: '', class: 'form-control form-control-sm'} %>
            </div>
          </div>

          <!--
          <div>
            <%= f.select :type_file,  options_for_select(['Father', 'Children']), {prompt: '', class: 'form-control form-control-sm'} %>
          </div>
          -->

          <div id="Latitud_Longitud" class="latlng boxi">
            <%= render 'latlng', f: f  %>
          </div>

          <div id="Georeferenciacion" class="geocoding boxi">
            <%= render 'geocoding', f: f  %>
          </div>
        </div>

      </div>

      <div class="row justify-content-center">
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")), root_path, :class => 'btn btn-secondary mr-1' %>
        <%= f.submit id: :envi, class: 'enviar btn btn-primary', value: "Guardar" %>
      </div>

    <% end %>

  </div>
</div>
