<tr class="tr_project_field tr_project_type_group">
  <%# id cell%>
  <td class="pt-3 pr-0" style="width: 3vw; font-size: 0.8em"><%= f.object.id %></td>
  <%# + cell%>
  <td class="pt-3 pr-0 add_attributes_project_types" style="width: 3vw; font-size: 0.8em">
    <i class='fas fa-plus d-none plus_icon_project_fields' title='Agregar atributo'></i>
  </td>
  <%# nombre %>
  <td class="pl-0" style="width: 12vw"><%= f.text_field :name, class: "form-control form-control-sm" %></td>
  <%# Tipo de campo %>
  <td style="width: 13vw"><%= f.collection_select :field_type_id, @field_types, :id, :name, {include_blank: ''}, {class: 'typef form-control form-control-sm' } %></td>
  
  <td style="width: 13vw" id="add_sub_attribute_cell">
    <% if f.object.field_type_id == 2 || f.object.field_type_id == 10 %>
      <%= f.collection_select :choice_list_id, @choice_lists, :id, :name, {include_blank: ''}, {class: 'form-control form-control-sm choice_list'} %>
    <% elsif f.object.field_type_id == 7 %>
      <%= link_to_add_fields "<i class='fas fa-plus sub_form_added sub_form style='display: none' title='Agregar sub-atributo'></i>".html_safe, f, :project_subfields, class: 'table_children' %>
    <% elsif f.object.field_type_id == 13 %>
      <%= f.text_field :html, class: "form-control form-control-sm html_field" %>    
    <% else %>
      <%= f.collection_select :choice_list_id, @choice_lists, :id, :name, {include_blank: ''}, {class: 'form-control form-control-sm choice_list', :style => 'display: none'} %>
      <% if can? :attributes, :new %>
        <%= link_to_add_fields "<i class='fas fa-plus sub_form' title='Agregar sub-atributo' style='display: none'></i>".html_safe, f, :project_subfields, class: 'table_children' %>
      <% end %>
    <% end %>
  </td>
  <%# atributos %>
  <th style="width: 50vw" class="d-none attributes_cell_group">
    <div class='text-center' style="width:13%; display:inline-block">
      <div class="custom-control custom-checkbox">
        <%= f.check_box :required, class: 'custom-control-input', id: "customCheckField1#{f.object.id}" %>
        <%= f.label " ", class: 'custom-control-label', for: "customCheckField1#{f.object.id}" %>
      </div>
    </div>
    <div class='text-center' style="width:13%; display:inline-block">
      <div class="custom-control custom-checkbox">
        <%= f.check_box :hidden, class: 'custom-control-input', id: "customCheckField2#{f.object.id}" %>
        <%= f.label " ", class: 'custom-control-label', for: "customCheckField2#{f.object.id}" %>
      </div>
    </div>
    <div class='text-center' style="width:13%; display:inline-block">
      <div class="custom-control custom-checkbox">
        <%= f.check_box :read_only, class: 'custom-control-input', id: "customCheckField3#{f.object.id}" %>
        <%= f.label " ", class: 'custom-control-label', for: "customCheckField3#{f.object.id}" %>
      </div>
    </div>
    <div class='text-center' style="width:13%; display:inline-block">
      <div class="custom-control custom-checkbox">
        <%= f.check_box :popup, class: 'custom-control-input', id: "customCheckField4#{f.object.id}" %>
        <%= f.label " ", class: 'custom-control-label', for: "customCheckField4#{f.object.id}" %>
      </div>
    </div>
    <div class='text-center' style="width:13%; display:inline-block">
      <div class="custom-control custom-checkbox">
        <%= f.check_box :filter_field, class: 'custom-control-input', id: "customCheckField5#{f.object.id}" %>
        <%= f.label " ", class: 'custom-control-label', for: "customCheckField5#{f.object.id}" %>
      </div>
    </div>
    <div class='text-center' style="width:13%; display:inline-block">
      <div class="custom-control custom-checkbox">
        <%= f.check_box :heatmap_field, class: 'custom-control-input', id: "customCheckField6#{f.object.id}" %>
        <%= f.label " ", class: 'custom-control-label', for: "customCheckField6#{f.object.id}" %>
      </div>
    </div>
    <div class='text-center' style="width:13%; display:inline-block">
      <div class="custom-control custom-checkbox">
        <%= f.check_box :data_table, class: 'custom-control-input', id: "customCheckField7#{f.object.id}" %>
        <%= f.label " ", class: 'custom-control-label', for: "customCheckField7#{f.object.id}" %>
      </div>
    </div>
  </th>

  <% if can? :attributes, :add_logic %>
    <th style="width: 50vw" class="d-none logic_cell_group">
      <%# cálculo %>
      <div style="width: 45%; display:inline-block; margin-right: 5px"><%= f.text_field :calculated_field, class: "form-control form-control-sm" %></div>
      <%# script %>
      <div style="width: 45%; display:inline-block; margin-left: 5px"><%= f.text_field :data_script, class: "form-control form-control-sm" %></div>
    </th>
  <% end %> 
  <%= f.hidden_field :sort, class: 'form-control form-control-sm w-10 project_fields_current_position form-control form-control-sm', readonly: true %>
  <%= f.hidden_field :_destroy%>

  <%# Roles %>
  <th style="width: 50vw" class="d-none permissions_cell_group">
    <% field_id = f.object.id %>
    <div style="width: 45%; display:inline-block; text-align:left">
      <%= f.collection_select :roles_read, @roles, :id, :name, 
        { selected: @roles_read_selected[field_id] }, 
        { multiple: true, size: 1, class: 'form-control form-control-sm rol_select' } %>
    </div>
    <div style="width: 45%; display:inline-block; text-align:left">
      <%= f.collection_select :roles_edit, @roles, :id, :name, 
        { selected: @roles_edit_selected[field_id] }, 
        { multiple: true, size: 1, class: 'form-control form-control-sm rol_select' } %>
    </div>
  </th>
  <%# eliminar %>
  <td  style="width:4vw">
    <% if can? :attributes, :destroy %>
      <%= link_to '#', class: "remove_fields_2" do  %> <i class="fas fa-trash-alt" title="Eliminar atributo"></i> <% end %>
    <% end %>
  </td>
  <%= f.fields_for :project_subfields do |a| %>
    <%= render 'project_subfield_fields', f: a  %>
  <% end %>
</tr>
