<tr>
  <td class="pt-3 pr-0" style="width: 5%; font-size: 0.8em"><%= f.object.id %></td>

  <td class="pl-0" style="width: 17%"><%= f.text_field :name, class: "form-control form-control-sm" %></td>
  <td style="width: 3%; padding-right: 0px">
     <div class="custom-control custom-checkbox">
      <%= f.check_box :required,class:'custom-control-input', id: 'customCheckField1'.concat(f.object.id.to_s) %>
      <%= f.label:" ", class:'custom-control-label', for:'customCheckField1'.concat(f.object.id.to_s)%>
    </div>
  </td>
  <td style="width: 3%; padding-right: 0px">
     <div class="custom-control custom-checkbox">
      <%= f.check_box :hidden,class:'custom-control-input', id: 'customCheckField2'.concat(f.object.id.to_s) %>
      <%= f.label:" ", class:'custom-control-label', for:'customCheckField2'.concat(f.object.id.to_s)%>
    </div>
  </td>
  <td style="width: 3%; padding-right: 0px">
     <div class="custom-control custom-checkbox">
      <%= f.check_box :read_only,class:'custom-control-input', id: 'customCheckField3'.concat(f.object.id.to_s) %>
      <%= f.label:" ", class:'custom-control-label', for:'customCheckField3'.concat(f.object.id.to_s)%>
    </div>
  </td>
  <td style="width: 3%; padding-right: 0px">
     <div class="custom-control custom-checkbox">
      <%= f.check_box :popup,class:'custom-control-input', id: 'customCheckField4'.concat(f.object.id.to_s) %>
      <%= f.label:" ", class:'custom-control-label', for:'customCheckField4'.concat(f.object.id.to_s)%>
    </div>
  </td>
  <td style="width: 3%; padding-right: 0px">
     <div class="custom-control custom-checkbox">
      <%= f.check_box :filter_field,class:'custom-control-input', id: 'customCheckField5'.concat(f.object.id.to_s) %>
      <%= f.label:" ", class:'custom-control-label', for:'customCheckField5'.concat(f.object.id.to_s)%>
    </div>
  </td>
  <td style="width: 3%; padding-right: 0px">
     <div class="custom-control custom-checkbox">
      <%= f.check_box :heatmap_field,class:'custom-control-input', id: 'customCheckField6'.concat(f.object.id.to_s) %>
      <%= f.label:" ", class:'custom-control-label', for:'customCheckField6'.concat(f.object.id.to_s)%>
    </div>
  </td>
  <td style="width: 3%; padding-right: 0px">
     <div class="custom-control custom-checkbox">
      <%= f.check_box :colored_points_field,class:'custom-control-input', id: 'customCheckField7'.concat(f.object.id.to_s) %>
      <%= f.label:" ", class:'custom-control-label', for:'customCheckField7'.concat(f.object.id.to_s)%>
    </div>
  </td>
  <td style="width: 12%"><%= f.text_field :calculated_field, class: "form-control form-control-sm" %></td>
  <td style="width: 12%"><%= f.text_field :data_script, class: "form-control form-control-sm" %></td>
  <td style="width: 11%"><%= f.collection_select :field_type_id, FieldType.order(:name), :id, :name, {include_blank: ''}, {class: 'typef form-control form-control-sm' } %></td>
  <td style="width: 11%">
    <% if f.object.field_type_id == 2 || f.object.field_type_id == 10 %>
      <%= f.collection_select :choice_list_id, ChoiceList.order(:name), :id, :name, {include_blank: ''}, {class: 'form-control form-control-sm choice_list'} %>
    <% elsif f.object.field_type_id == 7 %>
      <%= link_to_add_fields "<i class='fas fa-plus sub_form' title='Agregar sub-atributo'></i>".html_safe, f, :project_subfields, class: 'table_children' %>
    <% else %>
      <%= f.collection_select :choice_list_id, ChoiceList.order(:name), :id, :name, {include_blank: ''}, {class: 'form-control form-control-sm choice_list', :style => 'display: none'} %>
      <% if can? :attributes, :new %>
        <%= link_to_add_fields "<i class='fas fa-plus sub_form' title='Agregar sub-atributo' style='display: none'></i>".html_safe, f, :project_subfields, class: 'table_children' %>
      <% end %>
    <% end %>
  </td>
  <%= f.hidden_field :sort, class: 'project_fields_current_position form-control form-control-sm', readonly: true %>
  <%= f.hidden_field :_destroy%>
  <td style="width: 5%"><%= f.collection_select :roles_read, Role.order(:name), :id, :name, {selected: role_selected(f.object.roles_read)}, {multiple: true, size: 1, class: 'form-control form-control-sm rol_select'} %></td>
  <td style="width: 5%"><%= f.collection_select :roles_edit, Role.order(:name), :id, :name, {selected: role_selected(f.object.roles_edit)}, {multiple: true, size: 1, class: 'form-control form-control-sm rol_select'} %></td>
  <td style="width: 4%">
    <% if can? :attributes, :destroy %>
      <%= link_to '#', class: "remove_fields_2" do  %> <i class="fas fa-trash-alt" title="Eliminar atributo"></i> <% end %>
    <% end %>
  </td>
  <%= f.fields_for :project_subfields, @project_subfields do |a| %>
    <%= render 'project_subfield_fields', f: a  %>
  <% end %>
</tr>
