<tr>
  <td style="width: 3%"><i class="fas fa-long-arrow-alt-right"></i></td>
  <td style="width: 13%"><%= f.text_field :name, class: "form-control form-control-sm" %></td>
  <td style="width: 3%"><%= f.check_box :required %></td>
  <td style="width: 3%"><%= f.check_box :hidden %></td>
  <td style="width: 3%"><%= f.check_box :read_only %></td>
  <td style="width: 3%"></td>
  <td style="width: 3%"></td>
  <td style="width: 3%"></td>
  <td style="width: 3%"></td>
  <td style="width: 12%"><%= f.text_field :calculated_field, class: "form-control form-control-sm" %></td>
  <td style="width: 12%"><%= f.text_field :data_script, class: "form-control form-control-sm" %></td>
  <td style="width: 12%"><%= f.collection_select :field_type_id, FieldType.order(:name), :id, :name, {}, {class: 'typef form-control form-control-sm' } %></td>
  <td style="width: 12%">
    <% if f.object.field_type_id == 2 || f.object.field_type_id == 10 %>
      <%= f.collection_select :choice_list_id, ChoiceList.order(:name), :id, :name, {include_blank: ''}, {class: 'form-control form-control-sm choice_list'} %>
    <% else %>
      <%= f.collection_select :choice_list_id, ChoiceList.order(:name), :id, :name, {include_blank: ''}, {class: 'form-control form-control-sm choice_list', :style => 'display: none'} %>
    <% end %>
  </td>
  <%= f.hidden_field :sort, class: 'project_fields_current_position form-control form-control-sm', readonly: true %>
  <%= f.hidden_field :_destroy%>
  <td style="width: 12%"><%= f.collection_select :role, Role.order(:name), :id, :name, {}, {multiple: true, size: 1, class: 'form-control form-control-sm rol_select'} %></td>
<% if can? :attributes, :destroy %>
  <td style="width: 3%"> <%= link_to '#', class: "remove_fields_2" do  %> <i class="fas fa-trash-alt" title="Eliminar sub-atributo"></i> <%end %></td>
<% end %>
</tr>
