//Navarra.project_types.config.project_field = '<%= params[:q][:project_field] %>';
//Navarra.project_types.config.input_value = '<%= params[:q][:input_value] %>';
field = '<%= params[:q][:project_field] %>';
value = '<%= params[:q][:input_value] %>';
var filter_option = '<%= params[:q][:project_field].downcase %>|' +'<%=raw  params[:q][:filters] %>'+ "|'<%= params[:q][:input_value] %>'";
var filter_kpi = '<%= params[:q][:project_field]%>|' + ' <%= raw params[:q][:filters] %>'+ "|'<%= params[:q][:input_value] %>'";
var filter_view = '<%= params[:q][:project_field]%>' +' <%= params[:q][:filters] %>'+ "'<%= params[:q][:input_value] %>'";

Navarra.project_types.config.filter_option.push(filter_option);
Navarra.project_types.config.filter_kpi.push(filter_kpi);
$(".add_filters").append('<div class="message success form-control" id="'+filter_option+'"value="'+filter_kpi+'" style="text-align: center;"> <b>Filtrado por:</b> '+ filter_view+'</div>')
$("#filters-modal").modal('hide');
$("#filters-modal").remove();
$(".fa-filter").css("color", "#d3d800");
var point_color = Navarra.project_types.config.field_point_colors;
if(point_color == ''){
    Navarra.geomaps.wms_filter();
}else{
    Navarra.geomaps.point_colors_data();
}
