<div class="container" role="main" >

  <%= link_to 'New Analytics Dashboard', new_project_type_analytics_dashboard_path(params[:id]), remote: true %>
  <%= hidden_field_tag :data_id, params[:id] %>
  <%= render "count" %>
  <br />
  <%= render 'maps' %>
  <%= render "graph3" %>
</div>

