<%= form_for :q, :method => :get  do |f| %>

  <%= hidden_field_tag :data_id, params[:id] %>
  <%= render "count" %>
  
 <div class="row">
   <%= render 'maps' %>
  </div>
  <br/>
    <div>
      <%= render "graph3" %>
    </div>
<% end %>
