<div class="right_col" role="main" style="min-height: 1657px;">
  <%= render "count" %>
  <%= render "graph1" %>
  <br />
  <div class="row">
  
    <%= render "graph2" %>
    <%= render "graph3" %>
    <%= render "graph4" %>



            </div>
            </div>
