<div class="container" role="main" >

  <%= hidden_field_tag :data_id, params[:id] %>
  <%= render "count" %>
  <br />
    <%= render 'maps' %>
    <%= render "graph2" %>
    <%= render "graph3" %>
    <%= render "graph4" %>
</div>

