<%- model_class = ProjectType -%>

<div class="card m-2 shadow">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <h1 class="m-0">Proyectos</h1>
      </div>
      <div class="col-md-4 text-center">
        <%= form_tag project_types_path, method: :get do %>
          <div class="input-group">
            <%= text_field_tag(:search_project, '', class: 'form-control',  placeholder: 'Buscar Proyectos') %>
            <div class="input-group-append">
              <%= submit_tag 'Buscar', class: 'btn btn-primary' %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-4 text-right">
        <%= link_to 'Nueva Carpeta', folders_path, class: "btn btn-primary" %>
        <% if can? :project_types, :new %>
          <%= link_to 'Nuevo', new_project_type_path, class: "btn btn-primary" %>
        <% else %>
          <a class="btn btn-primary unselectable" href="#">Nuevo</a>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="card m-2 shadow">
  <div class="card-body">
    <p id="notice"><%= notice %></p>
    <div class="table-responsive">
      <table class="table table-hover table-striped table-bordered m-0">
        <thead>
          <th>Nombre</th>
          <th>Registros</th>
          <th colspan="2">Detalle</th>
          <th>Carpeta</th>
          <th class="text-center" colspan="3">Acciones</th>
        </thead>
        <tbody>
          <% @project_types.each do |project_type| %>
            <tr>
              <td style="width: 420px;"><%= project_type.name %></td>
              <td style="width: 120px;"><%= project_type.projects.count %></td>
              <% if can? :projects, :visualizer %>
                <td style="width: 140px;"><%= link_to 'Datos', project_type_projects_path(project_type) %></td>
              <% else %>
                <td style="width: 140px;"><a class="unselectable" href="#">Datos</a></td>
              <% end %>
              <% if can? :statuses, :visualizer %>
                <td style="width: 140px;"><%= link_to 'Estados', project_type_project_statuses_path(project_type) %></td>
              <% else %>
                <td><a class="unselectable" href="#">Estados</a></td>
              <% end %>
              <td style="width: 650px;">
                <%= form_with url: save_folder_association_project_type_path(project_type), method: :post, local: true do |form| %>
                  <%= form.collection_select :folder_id, Folder.all, :id, :name, { prompt: "Seleccionar una carpeta" }, { class: 'select-folder', style: 'width: 219px' } %>
                  <%= form.submit 'Guardar', class: 'btn btn-primary btn-sm', style: 'margin-left: 10px;' %>
                  <% if project_type.folder %>
                    <span class="current-folder" style="margin-left: 10px;">
                      Asociado a: <%= project_type.folder.name %>
                    </span>
                    <%= link_to remove_folder_project_type_path(project_type), method: :delete, data: { confirm: '¿Estás seguro de que quieres eliminar esta asociación?' }, style: "margin-left: 5px;" do %>
                      <i class="fas fa-times" style="font-size: 14px;" title="Eliminar asociación"></i>
                    <% end %>
                  <% else %>
                    <span class="current-folder" style="margin-left: 10px;">No asociado</span>
                  <% end %>
                <% end %>
              </td>
              <% if can? :project_types, :share %>
                <td class="text-center" style="width: 80px;"><%= link_to project_type_share_path(project_type.id) , id: "share", :remote=> true  do  %> <i class="fas fa-share-alt" title="Compartir"></i> <%end %></td>
              <% else %>
                <td class="text-center" style="width: 80px;"><i class="fas fa-share-alt unselectable" title="Compartir"></i></td>
              <% end %>
              <% if can? :project_types, :edit %>
                <td class="text-center" style="width: 80px;"><%= link_to edit_project_type_path(project_type) do  %> <i class="fas fa-edit" title="Editar"></i> <%end %></td>
              <% else %>
                <td class="text-center" style="width: 80px;"><i class="fas fa-edit unselectable" title="Editar"></i></td>
              <% end %>
              <% if can? :project_types, :destroy %>
                <td class="text-center" style="width: 80px;"><%= link_to project_type_path(project_type), method: :delete, data: { confirm: '¿Está seguro?' } do %> <i class="fas fa-trash-alt" title="Eliminar"></i> <%end%></td>
              <% else %>
                <td class="text-center" style="width: 80px;"><i class="fas fa-trash-alt unselectable" title="Eliminar"></i></td>
              <% end %>
            </tr>
            <%= render "share" %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
