<p id="notice"><%= notice %></p>

<h1>Project Types</h1>

<%= link_to 'New Project Type', new_project_type_path %>
<table class="table table-stripe">
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_types.each do |project_type| %>
      <tr>
        <td><%= project_type.name %></td>
        <td><%= project_type.user.name %></td>
        <td><%= link_to "agregar Registros", projects_path(project_type_id: project_type.id) %></td>
        <td><%= link_to 'Maps', project_types_maps_path(project_type_id: project_type.id)%></td>
        <td><%= link_to 'Dashboard', project_types_dashboard_path(project_type.id) %></td>
        <td><%= link_to 'Show', project_type %></td>
        <td><%= link_to 'Edit', edit_project_type_path(project_type) %></td>
        <td><%= link_to 'Destroy', project_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

Fulcum

<table class="table">
  <thead>
    <th>id</th>
    <th>nombre</th>
    <th></th>
  </thead>
  <tbody>
    <% #@project_fulcrum.objects.each do |project| %>
      <tr>
      </tr>
    <% #end %>
  </tbody>
</table>
<br>

