<%- model_class = ProjectType -%>

<p id="notice"><%= notice %></p>
<h1>Projectos</h2>
<%= pager @project_types %>
<%= link_to 'New Project Type', new_project_type_path %>
<table class="table table-stripe">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_types.each do |project_type| %>
      <tr>
        <td><%= link_to project_type.name, project_type_projects_path(project_type) %></td>
        <td><%= link_to 'Dashboard', project_types_dashboard_path(project_type.id) %></td>
        <td><%= link_to "Setting", project_type_analytics_dashboards_path(project_type.id)%></td>
        <td><%= link_to 'Edit', edit_project_type_path(project_type) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

