<div class="offset-md-3 col-md-6">
  <div class="card m-2 shadow">
    <div class="card-body">
      <%= form_for([:admin, @customer]) do |f| %>

        <% if customer.errors.any? %>
          <div id="error_explanation" class="danger">
            <ul><% customer.errors.full_messages.each do |message| %><li><%= message %></li><% end %></ul>
          </div>
        <% end %>

        <table class="row justify-content-center">
          <tr>
            <td class="w-25">
              <%= f.label :name, "Nombre:" , class: "col-form-label text-right"%>
            </td>
            <td class="w-50">
              <%= f.text_field :name , class: "form-control form-control-sm" , placeholder: "Ingrese el Nombre"%>
             </td>
          </tr>
          <tr>
            <td class="w-25">
              <%= f.label :subdomain , "Subdominio:" ,class: "text-left col-form-label text-right" %>
            </td>
            <td class="w-50">
               <%= f.text_field :subdomain, readonly: f.object.persisted?, class: "form-control form-control-sm" , placeholder: "Ingrese el Subdominio" %>
             </td>
          </tr>
          <tr>
            <td class="w-25">
              <%= f.label :logo , "Logo:" ,class: "text-left col-form-label text-right" %>
            </td>
            <td class="w-50">
               <%= f.file_field(:logo, multiple: false, class: 'filestyle', 'data-buttonBefore': 'true', 'data-iconName': 'fas fa-folder-open', 'data-buttonText': '') %>
             </td>
          </tr>
        </table>

        <div class="col-md-14 row justify-content-center mt-4">
          <%= link_to 'Cancelar', admin_customers_path , class: 'btn btn-secondary mr-1' %>
          <%= f.submit class: 'btn btn-primary' , value: "Guardar"%>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
