<%= simple_form_for(choice_list) do |f| %>
  <% if choice_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(choice_list.errors.count, "error") %> prohibited this choice_list from being saved:</h2>

      <ul>
      <% choice_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
<div id="field_items", class= "field_items">
  

  <%= f.fields_for :choice_list_items do |i| %>
        <%= render "choice_list_item_fields", f: i %>
      <% end %>

</div>
      <%= link_to_add_fields "Add Items", f, :choice_list_items %></p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
