<div class="offset-md-3 col-md-6">
  <div class="card m-2 shadow">
    <div class="card-body">

      <%= simple_form_for(choice_list) do |f| %>
        <% if choice_list.errors.any? %>
          <div id="error_explanation">
            <ul><% choice_list.errors.full_messages.each do |message| %><li><%= message %></li><% end %></ul>
          </div>
        <% end %>

        <div class="row justify-content-center">
          <%= f.label :name, 'Nombre', class: 'col-md-2 text-right col-form-label' %>
          <div class="col-md-6">
            <%= f.text_field :name, class: "form-control form-control-sm" %>
          </div>
        </div>

        <div id="field_items" class="field_items text-center">
          <%= f.fields_for :choice_list_items do |i| %>
            <%= render "choice_list_item_fields", f: i %>
          <% end %>
        </div>

        <div class="text-center mb-4">
          <%= link_to_add_fields "<i class='fas fa-plus' title='Agregar item'></i>".html_safe, f, :choice_list_items %>
        </div>

        <div class="row justify-content-center">
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")), choice_lists_path, :class => 'btn btn-secondary mr-1' %>
          <%= f.submit class: 'btn btn-primary', value: "Guardar"%>
        </div>

      <% end %>
    </div>
  </div>
</div>
