<p class="pl-3" id="notice"><%= notice %></p>


<div class="card m-2 shadow">
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <h1 class="m-0">Listados</h1>
      </div>
      <div class="col-md-6 text-center">
        <%= form_tag import_choice_lists_path, multipart: true do %>
        <div class="input-group">
          <div class="custom-file mt-2 ml-5">
            <%= file_field_tag :file, accept: '.csv', class: 'filestyle', 'data-buttonBefore': 'true', 'data-iconName': 'fas fa-folder-open', 'data-buttonText': '', required: true %>
          </div>
          <div class="input-group-append py-1 mr-1">
            <%= submit_tag "Importar", class: "btn btn-primary" %>
          </div>
        </div>
        <% end %>
        <p class="mb-0"><i class="fas fa-exclamation-circle"></i> Sólo acepta archivos <b>CSV</b></p>
      </div>
      <div class="col-md-3 text-right py-1">
        <% if can? :choice_lists, :export %>
          <%= link_to 'Exportar', export_all_csv_path(format: "csv"), class: "btn btn-primary" %>
        <% end %>
        <% if can? :choice_lists, :new %>
          <%= link_to 'Nuevo', new_choice_list_path, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="card m-2 shadow">
  <div class="card-body custom-card-body-np">
    <div class="table-responsive">
      <table class="table table-hover table-striped table-bordered m-0">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th colspan="3" class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @choice_lists.each do |choice_list| %>
            <tr>
              <td><%= choice_list.name %></td>
              <td><%= choice_list.description %></td>
              <td class="text-center">
                <% if can? :choice_lists, :export %>
                  <%= link_to export_csv_path(:format => :csv, :id => choice_list.id) do %> <i class="fas fa-download" title="Descargar CSV"></i> <% end %>
                <% end %>
              </td>
              <td class="text-center">
                <% if can? :choice_lists, :edit %>
                  <%= link_to edit_choice_list_path(choice_list) do %> <i class="fas fa-edit" title="Editar"></i><% end %>
                <% end %>
              </td>
              <td class="text-center">
                <% if can? :choice_lists, :destroy %>
                  <%= link_to choice_list, method: :delete, data: { confirm: '¿Está seguro?' } do %> <i class="fas fa-trash-alt" title="Eliminar"></i> <%end%>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
