<%= simple_form_for @poi_address_load, :html => {:class => 'form-horizontal', :multipart => true } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :city_id,  :collection => city_for_chosen(@poi_address_load.city_id),  input_html: {class: "span8"} %>
    <%= f.input :name %>
    <%= f.input :color, collection: PoiAddressLoad::COLORS.sort.map {|k,v| [v,k]}  %>
    <%= f.file_field(:file) %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
