<%= content_for :head do %>
  <script type="text/javascript">
<% if @poi_address.the_geom %>

  Navarra.poi_addresses.config.lat = <%= @poi_address.the_geom.y %>
  Navarra.poi_addresses.config.lon = <%= @poi_address.the_geom.x %>
  Navarra.poi_addresses.config.originalLat = <%= @poi_address.the_geom.y %>
  Navarra.poi_addresses.config.originalLon = <%= @poi_address.the_geom.x %>
<% end %>

  </script>
<% end  %>


<%= simple_form_for(@poi_address) do |f| %>
  <%= f.error_notification %>

  <%= f.hidden_field :longitude %>
  <%= f.hidden_field :latitude %>
  <div class="form-inputs">

    <%= f.input :city_name %>
    <%= f.input :department_name %>
    <%= f.input :province_name %>
    <%= f.input :country_name, as: :string %>
    <%= f.input :street %>
    <%= f.input :number %>
    <%= f.association :p_action  %>
  </div>

  <div class="span3">
    <%= link_to t("views.poi.form.buttons.suggest_location"), "#", :class => 'btn', :id => 'suggest-locations-btn' %>
  </div>
  <div class="row-fluid">
    <div class="span3">
      <%= link_to t("views.poi.form.buttons.add_location"), "#", :class => 'btn', :id => 'add-marker-new' %>
    </div>
    <div class="row-fluid">
      <div id="geocoding-map" class="span12">
        <%= select_tag "map-type", options_for_select(nokia_map_types_for_select) %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: "btn btn-primary" %>
    </div>
  <% end %>
