<%- model_class = PoiAddress -%>
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
<table class="table">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:street) %></th>
      <th><%= model_class.human_attribute_name(:number) %></th>
      <th><%= model_class.human_attribute_name(:city_name) %></th>
      <th><%= model_class.human_attribute_name(:department_name) %></th>
      <th><%= model_class.human_attribute_name(:province_name) %></th>
      <th><%= model_class.human_attribute_name(:country_name) %></th>
      <th><%= model_class.human_attribute_name(:p_action_id) %></th>
      <th><%= model_class.human_attribute_name(:user) %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @poi_addresses.each do |poi_address| %>
      <tr>

        <td><%= poi_address.street %></td>
        <td><%= poi_address.number %></td>
        <td><%= poi_address.city_name  %></td>
        <td><%= poi_address.department_name %></td>
        <td><%= poi_address.province_name %></td>
        <td><%= poi_address.country_name %></td>
        <td><%= poi_address.p_action_name %></td>
        <td><%= poi_address.user_name %></td>
        <td><%= link_to t('.edit', default: t("helpers.links.edit")) , edit_poi_address_path(poi_address) %></td>
        <td><%= link_to t('.destroy', :default => t("helpers.links.destroy")), poi_address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= pager @poi_addresses %>
<%= link_to t('.new', default: t("helpers.links.new")), new_poi_address_path, class: 'btn btn-primary' %>
