<div class="row w-100 align-items-center m-0" >
  <div class="<%= case Apartment::Tenant.current
                when 'aws'
                  'col-md-6 align-middle form-singnin-aws-img vh-100'
                when 'scm'
                  'col-md-6 align-middle form-singnin-scm-img vh-100'
                else
                  'col-md-6 align-middle form-sinin-img vh-100'
                end %>" style="overflow:hidden;">
  </div>
  <div class="col-md-6 align-middle text-center p-0">
    <div class="simple_form form-signin pl-5 pr-5">
      <% if Apartment::Tenant.current == 'aws' %>
        <center><%=image_tag('logo-aws.png', class:'mb-2', width:"252")%></center>
      <% elsif Apartment::Tenant.current == 'scm' %>
        <center><%=image_tag('logo-netzefy.png', class:'mb-2', width:"252")%></center>
      <% else %>
        <center><%=image_tag ENV['VERTICAL_LOGO'], class:'mb-2', width:"252"%></center>
      <% end %>
      <br/>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post}) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true , class: "form-control", placeholder: "Ingrese su correo registrado" %>
        </div>
        <br/>
        <div>
          <%= f.submit "Recuperar contraseña" , class: 'btn btn-lg btn-primary btn-block mb-2'%>
        </div>
        <%= render "devise/shared/error_messages", resource: resource %>
      <% end %>
      <div class="text-right">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
