<% if notice %>
    <div class="notice pl-3">
      <p><%= notice %></p>
    </div>
  <% end %>
  <% if alert %>
    <div class="d-flex justify-content-center">
      <p class="notice text-danger"><%= alert %></p>
    </div>
  <% end %>
<% unless @project_data_children_no_valid.any? %>
  <%= form_with url: import_project_type_data_children_path(@project_type), local: true, method: :post do |f| %>
    <div class="row justify-content-center my-4">
      <%= f.label :file, 'Cargar Archivos:', class:'col-md-2 text-right col-form-label' %>
      <div class="col-md-4">
        <%= f.file_field(:file, class: 'project_typ_file filestyle col-md-12', 'data-buttonBefore': 'true', 'data-iconName': 'fas fa-folder-open', 'data-buttonText': '')  %>
        <p><i class="fas fa-exclamation-circle"></i> Sólo acepta archivos <b>JSON</b></p>
      </div>
    </div>
    <div class="row justify-content-center">
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")), root_path, :class => 'btn btn-secondary mr-1' %>
      <%= f.submit id: :envi, class: 'enviar btn btn-primary', value: "Guardar" %>
    </div>
  <% end %>
<%- end %>
<% if @project_data_children_no_valid.any? %>
  <p
    class="text-muted"
    style="background-color: #222; width: 70vw; margin: 0 auto; padding: 10px 8px; text-align: center; border-radius: 8px;"
  >
    Se puede editar los errores en linea o descargar el archivo con los errores para corregirlos y subirlo a futuro
  </p>
  <%= form_with url: import_project_type_data_children_path(@project_type), local: true, method: :post do |f| %>
    <div class="row justify-content-center my-4">
      <table>
        <theader>
          <tr>
            <th>Project id</th>
            <th>Project field id</th>
            <th>User id</th>
            <th>GWM created at</th>
            <th>Properties</th>
          </tr>
        </theader>
        <tbody>
          <%- @project_data_children_no_valid.each do |project_data_child_no_valid| %>
            <tr>
              <td valign='top'>
                <input type="text" name="data_children[]project_id" value="<%= project_data_child_no_valid.project_id %>">
                <span class="error_column"><%= project_data_child_no_valid.errors[:project_id].first %></span>
              </td>
              <td valign='top'>
                <input type="text" name="data_children[]project_field_id" value="<%= project_data_child_no_valid.project_field_id %>">
                <span class="error_column"><%= project_data_child_no_valid.errors[:project_field_id].first %></span>
              </td>
              <td valign='top'>
                <input type="text" name="data_children[]user_id" value="<%= project_data_child_no_valid.user_id %>">
                <span class="error_column"><%= project_data_child_no_valid.errors[:user_id].first %></span>
              </td>
              <td valign='top'>
                <input type="text" name="data_children[]gwm_created_at" value="<%= project_data_child_no_valid.gwm_created_at %>">
                <span class="error_column"><%= project_data_child_no_valid.errors[:gwm_created_at].first %></span>
              </td>
              <td>
                <table>
                  <tbody>
                    <%- project_data_child_no_valid.properties.each do |key, value| %>
                      <tr>
                        <td valign='top'>
                          <input type="text" value="<%= key %>">
                          <span class="error_column"></span>
                        </td>
                        <td valign='top'>
                          <input type="text" name="data_children[]properties[<%= key %>]" value="<%= value %>">
                          <span class="error_column"><%= project_data_child_no_valid.errors[key].first %></span>
                        </td>
                      </tr>
                    <%- end %>
                  </tbody>
                </table>
              </td>
            </tr>
          <%- end %>
        </tbody>
      </table>
    </div>
    <div class="row justify-content-center">
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")), new_project_type_data_children_path, :class => 'btn btn-secondary mr-1' %>
      <%= link_to t('.download', :default => t("helpers.links.download")), import_download_errors_project_type_data_children_path(@project_type), :class => 'btn btn-secondary mr-1' %>
      <%= f.submit id: :envi, class: 'enviar btn btn-primary', value: "Corregir", disable_with: 'Guardando...' %>
    </div>
  <% end %>
<% end %>
