<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  <% if flash[:alert] %>
    <div class="notice"><%= flash[:alert] %></div>
  <% end %>
  <%= flash.inspect %>
<%= form_with url: import_project_type_data_children_path(@project_type), method: :post do |f| %>
  <div class="row justify-content-center my-4">
    <%= f.label :file, 'Cargar Archivos:', class:'col-md-2 text-right col-form-label' %>
    <div class="col-md-4">
      <%= f.file_field(:file, class: 'project_typ_file filestyle col-md-12', 'data-buttonBefore': 'true', 'data-iconName': 'fas fa-folder-open', 'data-buttonText': '')  %>
      <p><i class="fas fa-exclamation-circle"></i> Sólo acepta archivos <b>JSON</b></p>
    </div>
  </div>
  <div class="row justify-content-center">
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), root_path, :class => 'btn btn-secondary mr-1' %>
    <%= f.submit id: :envi, class: 'enviar btn btn-primary', value: "Guardar" %>
  </div>
<% end %>
