<p id="notice"><%= notice %></p>

<div class="card m-2 shadow">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <h1 class="m-0">Datos de <%= @title.name %></h1>
      </div>
    </div>
  </div>
</div>

<div class="card m-2 shadow">
  <div class="card-body">
    <div class="table-responsive" style="height: 57vh">
      <table class="table table-hover table-striped table-bordered m-0">
        <thead>
          <tr>
            <th>#</th>
            <% @sub_fields.each do |field|  %>
              <th><%=  field.name%></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @project_data_children.each do |project_data_child| %>
            <tr>
              <td><%= project_data_child.id %></td>
              <% project_data_child.properties.each do |child| %>
                <% @sub_fields.each do |field|  %>
                  <td><%= child[field.id.to_s] %></td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
