<p id="notice"><%= notice %></p>

<div class="col-md-12">
  <h1>Datos de <%= @title.name %></h1>
</div>

<div class="x_panel card">
  <div class="x_content">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <% @sub_fields.each do |field|  %>
              <th><%=  field.name%></th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% @project_data_children.each do |project_data_child| %>
            <tr>
              <td><%= project_data_child.id %></td>
              <% project_data_child.properties.each do |child| %>
                <% @sub_fields.each do |field|  %>
                  <td><%= child[field.id.to_s] %></td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
