<p id="notice"><%= notice %></p>

<h1>Customers</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Subdomain</th>
      <th>Supplier_map</th>
      <th>URL</th>
      <th colspan="2">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.subdomain %></td>
        <td><%= customer.supplier_map %></td>
        <td><%= customer.url %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
