<script>
  $(function() {
    $('.sortable').sortable({
      update: function( event, ui ) {
        $(this).children().each(function(index) {
          //$(this).find('td').last().html(index + 1)
          $(this).find('.current_position').val(index+1);
        });
      }
    });
  });
</script>

<div class="col-md-12">
  <h1>Editar Atributos Hijos</h1>
</div>

<div>
  <%= form_tag update_multiple_project_type_project_field_project_subfields_path(@project_type_id), method: :put do %>

  <div class="x_panel card">
    <div class="x_content">
      <div class="table-responsive" style="height: 65vh">
        <table class="table table-hover">
          <tr>
            <th>Nombre</th>
            <th>Requerido</th>
            <th>Oculto</th>
            <th>Solo Lectura</th>
            <th>Pop-up</th>
            <th>Cálculo</th>
            <th>Tipo de Campo</th>
            <th>Listado</th>
            <th>Rol</th>
            <th style="display: none">Orden</th>
          </tr>
          <tbody class="sortable">
            <% @projectSubfields.each_with_sortable_id do |field, sortable_id| %>
              <%= fields_for "Fields[]", field do |f| %>

                <tr id="<%= field.id %>" >
                  <td><%=f.text_field :name, readonly: true, class: "form-control" %></td>
                  <td><%= f.check_box :required %></td>
                  <td><%= f.check_box :hidden %></td>
                  <td><%= f.check_box :read_only %></td>
                  <td><%= f.check_box :popup %></td>
                  <td><%= f.text_field :calculated_field, class: "form-control" %></td>
                  <td><%= f.collection_select :field_type_id, FieldType.order(:name), :id, :name, {}, {class: 'typef form-control' } %></td>
                  <td><%= f.collection_select :choice_list_id, ChoiceList.order(:name), :id, :name, {include_blank: ''}, {class: 'form-control'} %></td>
                  <td><%= f.collection_select :role, Role.order(:name), :id, :name, {include_blank: ''}, {multiple: true, size: 2, class: 'form-control'} %></td>
                  <td style="display: none"><%= f.text_field :sort, class: 'current_position form-control', readonly: true %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-12 text-right">
    <%= submit_tag :enviar, class: "btn btn-primary", value: 'Guardar' %>
  </div>
  <% end %>
</div>
