<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table class="table table-stripe">
  <thead>
    <tr>
      <% @fields.each do |field|  %>
        <th><%= field.name %></th>        
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <% project.properties.each do |property| %>
          <td><%= property[1]%></td>

        <% end %>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'Nuevo registro', new_project_path(@project_type) %>
