<p id="notice"><%= notice %></p>
<div class="col-md-12">
  <h1>Datos del Proyecto</h1>
</div>
<div>
  <%= pager @projects %>
</div>
<div class="x_panel card">
  <div class="x_content">
    <div class="table-responsive" style="height: 57vh">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <% @fields.each do |field|  %>
              <th><%=  field.name%></th>
            <% end %>

          </tr>
        </thead>
        <tbody>
          <% @projects.each do |project | %>
            <tr>
            <td><%= project.id %></td>
              <% @fields.each do |field|  %>
                <td>
                    <%= project.properties[field.key] if !project.properties[field.key].blank?%>
                </td>
              <% end %>
                <td><%= project.the_geom %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br>
