<p id="notice"><%= notice %></p>
<p>Show!!!!!!!!!!!</p>

<p>
  <strong>Properties:</strong>
  <%= @project.properties %>
</p>

<p>
  <strong>Project type:</strong>
  <%= @project.project_type %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
