<%= form_for(street) do |f| %>
  <% if street.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(street.errors.count, "error") %> prohibited this street from being saved:</h2>

      <ul>
      <% street.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_number %>
    <%= f.number_field :start_number %>
  </div>

  <div class="field">
    <%= f.label :end_number %>
    <%= f.number_field :end_number %>
  </div>

  <div class="field">
    <%= f.label :count_intersections %>
    <%= f.number_field :count_intersections %>
  </div>

  <div class="field">
    <%= f.label :meters_long_intersection %>
    <%= f.text_field :meters_long_intersection %>
  </div>

  <div class="field">
    <%= f.label :the_geom %>
    <%= f.text_field :the_geom %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
