<%= simple_form_for(resource,
  :as => resource_name,
  :url => session_path(resource_name))  do |f| %>

<div class="form-group">
  <%= f.label :email, "Email" %>
  <%= f.input :email, label: false, placeholder: "Email",  required: false, autofocus: true, input_html: {class: "form-control"} %>
</div>
 <div class="form-group">
   <%= f.label :password, "Contraseña" %>
<%= f.input :password, label: false, placeholder: "Password", input_html: {class: "form-control"} %>
</div>

<div class="text-center">
  <%= f.button :submit, "Ingresar", class: 'btn btn-primary btn-lg submit' %>
</div>
               <div class="clearfix"></div>

<% end %>
