<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: 'form-signin card p-5'}) do |f| %>

  <div class="form-group">
    <center><%=image_tag 'user.svg', class:'rounded-circle mb-4', width:"120"%></center>
    <%= f.input :email, label: false, placeholder: "E-mail", required: false, autofocus: true, input_html: {class: "form-control"} %>
    <%= f.input :password, label: false, placeholder: "Contraseña", input_html: {class: "form-control"} %>
  </div>

  <%= f.button :submit, "Ingresar", class: 'btn btn-lg btn-primary btn-block mb-4' %>

  <center><%=image_tag "logo_geoworks.png" %></center>

<% end %>
