<div class="row w-100 align-items-center m-0" >
  <div class="col-md-6 align-middle form-sinin-img vh-100" style="overflow:hidden;"></div>
  <div class="col-md-6 align-middle text-center p-0">
    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: 'form-signin pl-5 pr-5'}) do |f| %>
      <div class="form-group">
        <center><%=image_tag ENV['VERTICAL_LOGO'], class:'mb-2', width:"252"%></center>
        <%= f.input :email, label: false, placeholder: "E-mail", required: false, autofocus: true, input_html: {class: "form-control"} %>
        <%= f.input :password, label: false, placeholder: "Contraseña", input_html: {class: "form-control"} %>
      </div>
      <%= f.button :submit, "Ingresar", class: 'btn btn-lg btn-primary btn-block mb-2' %>
      <div class="text-right">
        <%= render "devise/shared/links" %>
      </div>
      <div class="text-left">
        <%= render "devise/shared/success_messages", resource: resource %>
      </div>
    <% end %>
  </div>
</div>
