<div class="card m-2 shadow">
  <div class="card-body">

    <%= form_for([:admin, @role]) do |form| %>
      <% if role.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(role.errors.count, "error") %> prohibited this role from being saved:</h2>
          <ul><% role.errors.full_messages.each do |message| %><li><%= message %></li><% end %></ul>
        </div>
      <% end %>

      <div class="form-group row justify-content-center">
        <%= form.label 'Nombre', class: 'col-sm-1 col-form-label text-right' %>
        <div class="col-md-3">
          <%= form.text_field :name, id: :role_name, class: "form-control" %>
        </div>
      </div>

      <h2 class="text-center m-4">Permisos</h2>

      <div class="row">
        <% ModelType.all.order(:name).each do |mt| %>
           <% unless mt.name == 'reports' %>
          <div class="col-md-2 mb-2">
            <legend><%= t(mt.name) %></legend>
            <% Event.all.order(:name).each do |e| %>

              <!-- Setea el parámetro checked dependiendo de la acción -->
              <% if params[:action] == 'new' %>
                <% checked = false %>
              <% else %>
                <% checked = @permissions.any? {|c| c.event_id == e.id && c.model_type_id == mt.id} %>
              <% end %>

              <!-- Todos los módulos exepto Datos, Reportes y Listados -->
              <% if mt.name != 'data' && mt.name != 'reports' && mt.name != 'choice_lists' %>

                <!-- Eventos ABMC -->
                <% if (mt.name != 'funcionalities' && (e.name == 'new' || e.name == 'destroy' || e.name == 'edit' || e.name == 'visualizer')) %>
                  <div class="form-group">
                    <div class="custom-control custom-switch">
                      <%= check_box_tag "permissions[#{mt.id}][#{e.id}]", e.id, checked, class: 'custom-control-input', id: "chk#{mt.name}#{e.name}" %>
                      <label class="custom-control-label custom-role-colour" for="<%="chk#{mt.name}#{e.name}"%>"><%= t(e.name) %></label>
                    </div>
                  </div>
                <% end %>

                <!-- En el módulo Proyectos agrega el evento Compartir -->
                <% if (mt.name == 'project_types' && e.name == 'share') %>
                  <div class="form-group">
                    <div class="custom-control custom-switch">
                      <%= check_box_tag "permissions[#{mt.id}][#{e.id}]", e.id, checked, class: 'custom-control-input', id: "chk#{mt.name}#{e.name}" %>
                      <label class="custom-control-label custom-role-colour" for="<%="chk#{mt.name}#{e.name}"%>"><%= t(e.name) %></label>
                    </div>
                  </div>
                <% end %>

              <% end %>

              <!-- Módulo Datos -->
              <% if (mt.name == 'data' && (e.name == 'visualizer' || e.name == 'edit' || e.name == 'edit_subforms' || e.name == 'edit_geom' || e.name == 'edit_owner' || e.name == 'edit_status' || e.name == 'disable' || e.name == 'destroy' || e.name == 'new' || e.name == 'new_subform' || e.name == 'export' || e.name == 'alert' || e.name == 'delete_subforms')) %>
                <div class="form-group">
                  <div class="custom-control custom-switch">
                    <%= check_box_tag "permissions[#{mt.id}][#{e.id}]", e.id, checked, class: 'custom-control-input', id: "chk#{mt.name}#{e.name}" %>
                    <label class="custom-control-label custom-role-colour" for="<%="chk#{mt.name}#{e.name}"%>"><%= t(e.name) %></label>
                  </div>
                </div>
              <% end %>

              <!-- Módulo Listados -->
              <% if (mt.name == 'choice_lists' && (e.name == 'new' || e.name == 'destroy' || e.name == 'edit' || e.name == 'visualizer' || e.name == 'export')) %>
                <div class="form-group">
                  <div class="custom-control custom-switch">
                    <%= check_box_tag "permissions[#{mt.id}][#{e.id}]", e.id, checked, class: 'custom-control-input', id: "chk#{mt.name}#{e.name}" %>
                    <label class="custom-control-label custom-role-colour" for="<%="chk#{mt.name}#{e.name}"%>"><%= t(e.name) %></label>
                  </div>
                </div>
              <% end %>

              <!-- Módulo Indicadores -->
              <% if (mt.name == 'indicators' && (e.name == 'new_advanced' || e.name == 'new_trigger' || e.name == 'edit_advanced' || e.name == 'edit_trigger' )) %>
                <div class="form-group">
                  <div class="custom-control custom-switch">
                    <%= check_box_tag "permissions[#{mt.id}][#{e.id}]", e.id, checked, class: 'custom-control-input', id: "chk#{mt.name}#{e.name}" %>
                    <label class="custom-control-label custom-role-colour" for="<%="chk#{mt.name}#{e.name}"%>"><%= t(e.name) %></label>
                  </div>
                </div>
              <% end %>

              <!-- Módulo Atributos -->
              <% if (mt.name == 'attributes' && (e.name == 'add_logic' )) %>
                <div class="form-group">
                  <div class="custom-control custom-switch">
                    <%= check_box_tag "permissions[#{mt.id}][#{e.id}]", e.id, checked, class: 'custom-control-input', id: "chk#{mt.name}#{e.name}" %>
                    <label class="custom-control-label custom-role-colour" for="<%="chk#{mt.name}#{e.name}"%>"><%= t(e.name) %></label>
                  </div>
                </div>
              <% end %>

              <% if (mt.name == 'funcionalities' && (e.name == 'heatmap' || e.name == 'interpolation' || e.name == 'color_attribute' || e.name == 'new_project_interpolation' || e.name == 'user_filter' || e.name == 'ndvi' || e.name == 'multipoints')) %>
                <div class="form-group">
                  <div class="custom-control custom-switch">
                    <%= check_box_tag "permissions[#{mt.id}][#{e.id}]", e.id, checked, class: 'custom-control-input', id: "chk#{mt.name}#{e.name}" %>
                    <label class="custom-control-label custom-role-colour" for="<%="chk#{mt.name}#{e.name}"%>"><%= t(e.name) %></label>
                  </div>
                </div>
              <% end %>

            <% end %>
          </div>
          <% end %>
        <% end %>
      </div>

      <div class="row justify-content-center">
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")), admin_roles_path, :class => 'btn btn-secondary mr-1' %>
        <%= form.submit class: 'btn btn-primary', value: "Guardar" %>
      </div>
    <% end %>
  </div>
</div>
