<div class="offset-md-3 col-md-6">
  <div class="card m-2 shadow">
    <div class="card-body">

      <%= form_with(model: layer, local: true) do |form| %>
        <% if layer.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(layer.errors.count, "error") %> prohibited this layer from being saved:</h2>
            <ul><% layer.errors.full_messages.each do |message| %><li><%= message %></li><% end %></ul>
          </div>
        <% end %>

        <div class="form-group">
          <div class="row justify-content-center">
            <%= form.label :name, 'Nombre:', class:'col-md-4 text-right col-form-label' %>
            <div class="col-md-6">
              <%= form.text_field :name, id: :layer_name, class: "form-control form-control-sm" %>
            </div>
          </div>

          <div class="row justify-content-center">
            <%= form.label :layer, 'Capa:', class:'col-md-4 text-right col-form-label' %>
            <div class="col-md-6">
              <%= form.text_field :layer, id: :layer_layer, class: "form-control form-control-sm" %>
            </div>
          </div>

          <div class="row justify-content-center">
            <%= form.label :url, 'URL:', class:'col-md-4 text-right col-form-label' %>
            <div class="col-md-6">
              <%= form.text_field :url, id: :layer_url, class: "form-control form-control-sm" %>
            </div>
          </div>

          <div class="row justify-content-center">
            <%= form.label :type_layer, 'Tipo de Capa:', class:'col-md-4 text-right col-form-label' %>
            <div class="col-md-6">
              <%= form.text_field :type_layer, id: :layer_type_layer, class: "form-control form-control-sm" %>
            </div>
          </div>

          <div class="row justify-content-center">
            <%= form.label :description, 'Descripción:', class:'col-md-4 text-right col-form-label' %>
            <div class="col-md-6">
              <%= form.text_area :description, rows: 3, id: :layer_description, class: "form-control form-control-sm" %>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")), layers_path, :class => 'btn btn-secondary mr-1' %>
          <%= form.submit class: 'btn btn-primary', value: "Guardar" %>
        </div>

      <% end %>

    </div>
  </div>
</div>
