<%= form_with(model: layer, local: true) do |form| %>
  <% if layer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(layer.errors.count, "error") %> prohibited this layer from being saved:</h2>

      <ul>
      <% layer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="x_panel card">
  <div class="x_content">

    <div class="form-group col-md-12">
      <div class="col-md-1 text-right">
        <%= form.label 'Nombre:' %>
      </div>
      <div class="col-md-3">
        <%= form.text_field :name, id: :layer_name, class: "form-control" %>
      </div>
    </div>

    <div class="form-group col-md-12">
      <div class="col-md-1 text-right">
        <%= form.label 'Capa:' %>
      </div>
      <div class="col-md-3">
        <%= form.text_field :layer, id: :layer_layer, class: "form-control" %>
      </div>
    </div>

    <div class="form-group col-md-12">
      <div class="col-md-1 text-right">
        <%= form.label 'URL:' %>
      </div>
      <div class="col-md-3">
        <%= form.text_field :url, id: :layer_url, class: "form-control" %>
      </div>
    </div>

    <div class="form-group col-md-12">
      <div class="col-md-1 text-right">
        <%= form.label 'Descripción:' %>
      </div>
      <div class="col-md-3">
        <%= form.text_area :description, id: :layer_description, class: "form-control" %>
      </div>
    </div>

    <div class="form-group col-md-12">
      <div class="col-md-1 text-right">
        <%= form.label 'Tipo de Capa:' %>
      </div>
      <div class="col-md-3">
        <%= form.text_field :type_layer, id: :layer_type_layer, class: "form-control" %>
      </div>
    </div>

    <div class="form-group col-md-12 form-actions">
      <div class="col-md-4 text-right">
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")), layers_path, :class => 'btn btn-default' %>
        <%= form.submit class: 'btn btn-primary', value: "Guardar" %>
      </div>
    </div>

  </div>
</div>
<% end %>
