<p id="notice"><%= notice %></p>

<div class="card m-2 shadow">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <h1 class="m-0">Capas Externas</h1>
      </div>
      <% if can? :layers, :new %>
        <div class="col-md-6 text-right">
          <%= link_to 'Nueva', new_layer_path, class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="card m-2 shadow">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover table-striped table-bordered m-0">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Capa</th>
            <th>URL</th>
            <th>Tipo de Capa</th>
            <th>Descripción</th>
            <th colspan="3" class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @layers.each do |layer| %>
            <tr>
              <td><%= layer.name %></td>
              <td><%= layer.layer %></td>
              <td><%= layer.url %></td>
              <td><%= layer.type_layer %></td>
              <td><%= layer.description %></td>
              <td class="text-center">
                <% if can? :layers, :edit %>
                  <%= link_to edit_layer_path(layer) do %> <i class="fas fa-edit"></i><%end%>
                <% end %>
              </td>
              <td class="text-center">
                <% if can? :layers, :destroy %>
                  <%= link_to layer, method: :delete, data: { confirm: '¿Está seguro?' } do %> <i class="fas fa-trash-alt"></i> <%end%>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
