<p id="notice"><%= notice %></p>

<div class="col-md-12">
  <h1>Capas Externas</h1>
</div>

<div class="col-md-12 sub-header text-right">
  <%= link_to 'Nueva Capa Externa', new_layer_path, class: "btn btn-primary" %>
</div>

<div class="x_panel card">
  <div class="x_content">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Capa</th>
            <th>Url</th>
            <th>Descripción</th>
            <th>Tipo de Capa</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @layers.each do |layer| %>
            <tr>
              <td><%= layer.name %></td>
              <td><%= layer.layer %></td>
              <td><%= layer.url %></td>
              <td><%= layer.description %></td>
              <td><%= layer.type_layer %></td>
              <td><%= link_to edit_layer_path(layer) do %> <i class="fas fa-edit"></i><%end%></td>
              <td><%= link_to layer, method: :delete, data: { confirm: '¿Está seguro?' } do %> <i class="fas fa-trash-alt"></i> <%end%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
