<script>
  $(function() {
    $('.sortable').sortable({
      update: function( event, ui ) {

        $(this).children().each(function(index) {
          //$(this).find('td').last().html(index + 1)
          $(this).find('.current_position').val(index+1);
        });
      }
    });
  });
</script>
<div>
  <%= form_tag update_multiple_project_type_project_fields_path(@project_type_id), method: :put do %>
    <table class="table">
      <tr>
        <th>Nombre</th>
        <th>Requerido</th>
        <th>Oculto</th>
        <th>Solo Lectura</th>
        <th>Popup</th>
        <th>Calculo</th>
        <th>Tipo de Campo</th>
      </tr>
      <tbody class="sortable">
        <% @projectFields.each_with_sortable_id do |field, sortable_id| %>
          <%= fields_for "Fields[]", field do |f| %>

            <tr id="<%= field.id %>" >
              <td><%=f.text_field :name, readonly: true %></td>
              <td><%= f.check_box :required %></td>
              <td><%= f.check_box :hidden %></td>
              <td><%= f.check_box :read_only %></td>
              <td><%= f.check_box :popup %></td>
              <td><%= f.text_field :calculated_field %></td>
              <td><%= f.collection_select :field_type_id, FieldType.order(:name), :id, :name %></td>
              <td><%= f.text_field :sort, class: 'current_position', readonly: true %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>

    </table>
    <%= submit_tag :enviar %>

  <% end %>
</div>
