<div class="modal fade" tabindex="-1" role="dialog" id="modal-report" >
  <div class="modal-dialog modal-report" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Reporte</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="table-responsive div_table no_scroll bg-light" style="height: 35px; overflow-y: hidden; border-bottom: solid 2px rgba(0,0,0,0.6)">
           <table class="table table-hover m-0 card-body" id="table_hidden_report" style="font-size: 0.8em; text-align:center; border:solid 2px transparent;">
            <thead>
              <tr>
                <th style="height: 8vh; padding-top: 0px; vertical-align: middle; cursor: pointer;">
                  <div class="text-secondary"  >
                    <p class="text-secondary" style="display: inline-block;">#</p>
                    <input type="text" class="d-none field_key_report" value="#">
                  </div>
                </th>
                <% if !@fields.nil? %>
                <% index = 0 %>
                  <% @fields.each do |field|  %>
                    <% if field.field_type_id != 11 && field.field_type_id != 7  %>
                    <% index=index+1 %>
                    <% if !field.popup %>
                    <th style="height: 8vh; padding-top: 0px; vertical-align: middle; min-width: 100px; cursor:pointer;" class="d-none" id=<%="columnfake_report_"+field.key %>>
                    <% else %>
                      <th style="height: 8vh; padding-top: 0px; vertical-align: middle; min-width: 100px; cursor:pointer;" id=<%="columnfake_report_"+field.key %>>
                    <% end %>    
                        <div class="text-secondary"  >
                          <p style="white-space: nowrap; display: inline-block;"><%= field.name %></p>
                          <i class="fas fa-times icons icons_report" onclick="hide_column(<%=index%>)" ></i>
                          <input type="text" class="d-none field_key_report" id=<%= "field_key_report"+index.to_s %> value=<%=field.key %>>
                        </div>
                      </th>
                      <% else %>
                    <% end %>
                  <% end %>
                <% end %>
              </tr>
            </thead>
            <tbody id="tbody_hidden_report" style="visibility: hidden;">
            </tbody>
          </table>
        </div>
        <div class="table-responsive div_table bg-light"  style="position: relative; z-index: 10;transition: 1s;">
          <table class="table table-hover m-0 card-body" id="table_visible_report" style="font-size: 0.8em; position: relative;top: -45px; text-align: center;">
            <thead style="visibility: hidden; border-bottom: solid transparent">
              <tr class="data_fields">
                <th>#</th>
                <% if !@fields.nil? %>
                <% @fields.each do |field|  %>
                  <% if field.field_type_id != 11 && field.field_type_id != 7  %>
                  <% if !field.popup %>
                <th style="min-width: 100px; white-space: nowrap;" class="d-none" id=<%="column_report_"+field.name%>><%= field.name %></th>
                  <% else %>
            <th style="min-width: 100px; white-space: nowrap;" id=<%="column_report"+field.name %>><%= field.       name %></th>
                  <% end %> 
                  <% end %>
                <% end %>
                <% end %>
              </tr>
            </thead>
            <tbody id="tbody_visible_report" class="project_data_div">
            </tbody>
          </table>
        </div>
      </div>
    </div>  
  </div>
</div>