<script type="text/javascript">

//scroll de ambas tablas simultáneamente
$(document).ready(function () {
    $(".div_table").on("scroll", function() {
      $(".div_table").scrollLeft($(this).scrollLeft());
    });

//Selector cantidad por página
$(".option_perpage").click(function(){
  var selText = $(this).text();
  $(".select_perpage").html(selText+' <span class="caret"></span>');
  var total_selected=parseInt($('.kpi_1001').html().replace(".",""));
  data_pagination(total_selected,1);
  init_data_dashboard(false);
});

  set_hover();

  //busqueda por columna al hacer click
  $('#choose').keydown(function(e){
    if(e.keyCode == 13){
      $(".active_page").html("1");
        init_data_dashboard(true);
        if($('#choose').val()==""){
          $('#choose').css("width","0%");
          $('#choose').addClass("p-0");
          $('#choose').blur();
        }
        $("#info-modal").modal('hide');
      }
  })

// Arma reporte
$("#show_report").click(function(){
  init_report();
});

// selecciona o deselecciona todos los registros
$('#table_select_all').click(function(){
  if($(this).prop('checked')){
    show_item_all();
    $('#multiple_edit').removeClass('d-none');
  } else {
    unselect_item_all();
    $('#multiple_edit').addClass('d-none');
  }
})

//Oculta labels si no está en el modelo de datos
  if($('.field_label').length==0){
    $('#checkbox_Etiquetas').prop("disabled",true);
  }
});

//movimiento de header columnas
function set_hover(){
  $(".th-hover").hover(function(){
    $(this).find('p').css('opacity',0);
    $(this).find('div').css('opacity',1);
    }, function(){
    $(this).find('p').css('opacity',1);
    $(this).find('div').css('opacity',0);
  });
}


//ordena descendente y ascendente
function order_column(index){
  var column_order=$('#field_key'+index).val();
  $('.order_by_column').val(column_order);
  init_data_dashboard(false);
}

//abre buscar x  columna
function search_column(index){
  $('#choose').val('');
  var texto_buscar=$('#field_key'+index).val();
 $('#choose').attr("placeholder", "Buscar "+texto_buscar);
 $('.filter_by_column').val(texto_buscar);
 $('#choose').css("width","25%");
 $('#choose').removeClass("p-0");
 $('#choose').focus();
 $('.choose_column').val(index);
}


//oculta columnas
function hide_column(index){
  index+=3;
 $('#table_hidden tr td:nth-child('+index+')').addClass("d-none");
 $('#table_hidden tr th:nth-child('+index+')').addClass("d-none");
 $('#table_visible tr td:nth-child('+index+')').hide();
 $('#table_visible tr th:nth-child('+index+')').addClass("d-none");
 $('.addcolumns a:nth-child('+(index-3)+')').removeClass("d-none");
 $('.fa-plus').removeClass("d-none");
}

//muestra columnas
function show_column(index,){
  index+=3;
 $('#table_hidden tr td:nth-child('+index+')').removeClass("d-none")
 $('#table_hidden tr th:nth-child('+index+')').removeClass("d-none")
 $('#table_visible tr td:nth-child('+index+')').show()
 $('#table_visible tr th:nth-child('+index+')').removeClass("d-none")
 $('.addcolumns a:nth-child('+(index-3)+')').addClass("d-none");
 if($(".addcolumns").children().length == $(".column_data.d-none").length){
   $('.fa-plus').addClass("d-none");
 }
}

//mostrar dato en el mapa
function show_item(appid_selected){
 if(event.target.id.substring(0,13)=="check_select_"){return;}
 if($('#row_table_data'+appid_selected).hasClass('found')){
  $('#row_table_data'+appid_selected).removeClass('found');
  var string_filter = get_string_filter();
  var text_to_replace = "or app_id = '"+appid_selected+"'";
  var text_to_replace1 = "app_id = '"+appid_selected+"' or";
  var text_to_replace2 = "app_id = '"+appid_selected+"'";
  string_filter = string_filter.replace(text_to_replace,"").replace(text_to_replace1,"").replace(text_to_replace2,"");
  Navarra.project_types.config.data_dashboard=string_filter;
  Navarra.project_types.config.item_selected="";
  $("#info-modal").modal('hide');
 }else{
   $('table tbody tr').not('.tr_checked').removeClass('found');
   $('#row_table_data'+appid_selected).addClass('found');
   var string_filter = get_string_filter();
   if(string_filter==""){
    string_filter = "app_id = '"+appid_selected+"'"; 
   } else {
    string_filter += "or app_id = '"+appid_selected+"'";
   }
   Navarra.project_types.config.data_dashboard=string_filter;
   Navarra.project_types.config.item_selected= appid_selected;
  }
  Navarra.geomaps.current_layer();
}

//mostrar dato en el mapa
function show_item_all(){
  $('#table_visible .custom-control-input').prop('checked',true);
    $('#table_visible tr').addClass('tr_checked');
  $('table tbody tr').addClass('found');
  var string_filter = get_string_filter();
  Navarra.project_types.config.data_dashboard=string_filter;
  Navarra.geomaps.current_layer();
}

function unselect_item_all(){
  $('#table_visible .custom-control-input').prop('checked',false);
  $('#table_visible tr').removeClass('tr_checked');
  $('table tbody tr').removeClass('found');
  Navarra.project_types.config.data_dashboard="";
  Navarra.geomaps.current_layer();
}

function get_string_filter(){
  var array_ids = [];
  $('#table_visible .custom-control-input:checked').not('.just_header').each(function(){
      array_ids.push($(this).attr('id').split('_')[2]);
    });
  var string_filter=""
  for(x=0;x<array_ids.length;x++){
    if(x>0){string_filter+= " or "}
    string_filter+="app_id = '"+array_ids[x]+"'";
  }
  return string_filter;
}

function show_subfield(field_ids){
  var app_ids_table = Navarra.dashboards.app_ids_table;
  $.ajax({
    type: 'GET',
    url: '/project_data_children/show_children',
    datatype: 'json',
    data: {
      project_ids: app_ids_table,
      project_field_ids: field_ids
    },
    success: function(data) {
      data.forEach(function(father_field){
        var count_columns = $('#tr_visible').find('th').length;
        var column_par = count_columns%2;
        var id_field = father_field.project_field_id;
        //Oculta opción
        $('#open_subform'+id_field).addClass('d-none');
        // Agrega cabecera visible
        var new_column_subform = document.createElement('TH');
        new_column_subform.className = 'border-0 header_column subfield_column_'+id_field;
        if(column_par==0){new_column_subform.classList.add('zebra')}
        new_column_subform.id = 'header_column_'+id_field;
        var new_div = document.createElement('DIV');
        new_div.className = "th-hover custom_header";
        var new_p = document.createElement('P');
        new_p.className = 'custom_p_header';
        new_p.innerHTML = father_field.project_field_name.toUpperCase();
        new_div.appendChild(new_p);
        var new_div1 = document.createElement('DIV');
        new_div1.className = 'custom_div_table custom_onclick'
        var new_a = document.createElement('A');
        new_a.setAttribute("data-toggle","dropdown");
        new_a.setAttribute("href","#");
        new_a.id = "link_dropdown_"+id_field;
        var new_icon = document.createElement('I');
        new_icon.className = "fas fa-plus icons ml-2 custom_onclick_icon";
        new_icon.title = "Agregar Columna";
        new_a.appendChild(new_icon);
        new_div1.appendChild(new_a);
        //modal con columnas hijo
        var new_drop = document.createElement("DIV");
        new_drop.className = "dropdown-menu scroll custom_drop_subforms"
        new_drop.setAttribute("aria-labelledby","dropdown-subfields");
  
        // Agrega subcabecera foto y fecha
        var new_column = document.createElement('TH');
        new_column.style.minWidth = "154px";
        new_column.className = 'header_column subfield_column_'+id_field;
        if(column_par==0){new_column.classList.add('zebra')}
        new_column.innerHTML = "Fecha"
        $('#tr_subfields').append(new_column);
        
        father_field.head.forEach(function(child_field){
          if(child_field.hidden==false && child_field.field_type_id!=11 && child_field.can_read == true){
            var new_option = document.createElement("A");
            new_option.className ="dropdown-item "+id_field+'subfield'
            new_option.innerHTML = child_field.name;
            new_option.id = id_field+'_subfield_'+child_field.field_id;
            new_option.setAttribute('onClick','open_subcolumn(event)');
            new_drop.appendChild(new_option);
    
            //Agrega Subcabecera
            var new_column = document.createElement('TH');
            new_column.className = 'header_column d-none '+'subfield_column_'+id_field+" " + id_field+"sub"+child_field.field_id;
            if(column_par==0){new_column.classList.add('zebra')}
            new_column.style.whiteSpace = "nowrap";
            var new_tr = document.createElement('TR');
            new_tr.className = "th-hover custom_header";
            new_tr.style.display = 'inline-block'
            var new_p = document.createElement('P');
            new_p.className = 'custom_p_header';
            new_p.innerHTML = child_field.name;
            new_tr.appendChild(new_p);
            var new_div1 = document.createElement('DIV');
            new_div1.className = 'custom_div_table'
            var new_icon = document.createElement('I');
            new_icon.className = "fas fa-times icons";
            new_icon.title = "Cerrar";
            new_icon.setAttribute("onClick","remove_subcolumn("+id_field+","+child_field.field_id+")");
            new_div1.appendChild(new_icon);
            new_tr.appendChild(new_div1);
            new_column.appendChild(new_tr);
            $('#tr_subfields').append(new_column);
          }
        })
        new_div1.appendChild(new_drop)  
        var new_icon = document.createElement('I');
        new_icon.className = "fas fa-times icons ml-2";
        new_icon.title = "Cerrar";
        new_icon.setAttribute("onClick","remove_column("+id_field+")");
        new_div1.appendChild(new_icon);
        new_div.appendChild(new_div1);
        new_column_subform.appendChild(new_div);
        new_column_subform.setAttribute('colspan',1);
        $('#tr_visible').append(new_column_subform);
        set_hover();

        // Agrega cabecera oculta
        var new_column = document.createElement('TH');
        new_column.className='subfield_column_'+id_field
        new_column.style.minWidth ='100px';
        new_column.style.whiteSpace = 'nowrap';
        new_column.innerHTML = father_field.project_field_name.toUpperCase();
        $('.data_fields').append(new_column);

      // valores para la tabla
      var data_child = father_field.body
        //Agrega celdas a toda la tabla
        if(Object.keys(data_child).length==0){
            $('#link_dropdown_'+id_field).addClass('disabled')
            $('#link_dropdown_'+id_field).find('i').attr('title','No hay datos para mostrar');
          }
        $('.row_data').each(function(row){
          var new_td = document.createElement('TD');
          new_td.className="custom_row custom_row_child subfield_column_"+id_field;
          new_td.style.minWidth = '154px';
          if(column_par==0){new_td.classList.add('zebra')}
          var key_data = $(this).attr("id").substring(14);          
          if(data_child[key_data]!=undefined){
            data_child[key_data].forEach(function(column,indexColumn){
              var new_sub_column = document.createElement('TR');
              new_sub_column.style.display = 'flex';
              if(indexColumn==0){
                  new_sub_column.style.borderTop= 'none';
                } else {
                  new_sub_column.style.borderTop= 'solid 1px rgba(0,0,0,0.5)';
                }
              // agrega icono de foto
              var new_cel_subform = document.createElement('TD');
                new_cel_subform.style.border='none'; 
                new_cel_subform.style.padding='5px';   
                new_cel_subform.style.width='30px';
                var new_icon = document.createElement('I');
                new_icon.className = "fas fa-image icons";
                new_icon.setAttribute('onClick', 'Navarra.photos.open_photos('+column.id+',true)')
                new_cel_subform.appendChild(new_icon);
                new_sub_column.appendChild(new_cel_subform);

              // agrega fecha de creación
              var new_cel_subform = document.createElement('TD');
                new_cel_subform.style.border='none';   
                new_cel_subform.style.padding='5px';  
                if(column.gwm_created_at!=null){
                  var created_date = column.gwm_created_at.split('T')[0];
                  var created_time = column.gwm_created_at.split('T')[1].substring(0,5)
                  new_cel_subform.innerHTML = created_date.split('-')[2]+'/'+created_date.split('-')[1]+'/'+created_date.split('-')[0].substring(2)+" "+created_time;
                }
                new_cel_subform.style.width='120px';
                new_sub_column.appendChild(new_cel_subform);

              var sub_columns_visibles = $('.'+id_field+'subfield');
              sub_columns_visibles.each(function(index){
                var colname = $(this).attr('id').split('_')[2];
                var new_cel_subform = document.createElement('TD');
                new_cel_subform.style.padding='5px';  
                new_cel_subform.className = id_field+"sub"+colname + " d-none";
                new_cel_subform.style.whiteSpace='nowrap';
                new_cel_subform.style.border='none';
                if(column.properties[colname]!=undefined){
                  new_cel_subform.innerHTML = column.properties[colname];
                }
                new_sub_column.appendChild(new_cel_subform);
              })
              new_td.appendChild(new_sub_column);
            })           
          }
          $(this).append(new_td);
        })
        if(Object.keys(data_child).length!=0){
          open_subheaders(id_field);
        }
        //ajusta ubicación del modal
        $('.custom_onclick , .custom_onclick_icon').on('click', function(event) {
          var x = (event.clientX -50) + 'px';
          var y = event.clientY +'px';
          $('.custom_onclick').on('show.bs.dropdown', function(event) {
          var top_table = (parseInt($(".table_data_container").css("top"))+50)+'px';
          $('.custom_drop_subforms').css('margin-top',y);
          var width_table = (parseInt($(".table_data_container").css("width"))-200)+'px';
          $('.custom_drop_subforms').css('margin-left',x);
        });
        });
        
      });//end forEach
      verify_scroll_table();
    }//end success
  });//end ajax

}


function open_subcolumn(event){
  var id_field = event.target.id.split('_')[0];
  var id_subfield = event.target.id.split('_')[2];
  $('.'+id_field+'sub'+id_subfield).removeClass('d-none');
  $(event.target).addClass('d-none');
  $('#table_visible_container').css('height','60px');
  var count_open_subforms = verify_open_columns();
  if(count_open_subforms==1 && !$('#div_table_data').hasClass('min_height_on')){
    $('#div_table_data').addClass("min_height_on");
    var new_height = (parseInt($('#div_table_data').css('height')) - 30 ) + 'px';
    $('#div_table_data').css('height',new_height);
  }
  var width_array = [];
  //Ajusta ancho columnas
    $('.'+id_field+'sub'+id_subfield).each(function(){
      width_array.push($(this).width());
    });
    var max = Math.max.apply(Math,width_array);
    if(max>200){max=200}
    max = (parseInt(max)+30)+'px';
    $('.'+id_field+'sub'+id_subfield).css('whiteSpace',"normal");
    $('.'+id_field+'sub'+id_subfield).css('minWidth',max);
    // ajusta colspan
    var new_colsapan =  parseInt($('#header_column_'+id_field).attr('colspan'))+1;
    $('#header_column_'+id_field).attr('colspan',new_colsapan);
    verify_scroll_table();
}

function remove_subcolumn(id_field,id_subfield){
  $('.'+id_field+'sub'+id_subfield).addClass('d-none');
  $('#'+id_field+'_subfield_'+id_subfield).removeClass('d-none');
  // ajusta colspan
    var new_colsapan =  parseInt($('#header_column_'+id_field).attr('colspan'))-1;
    $('#header_column_'+id_field).attr('colspan',new_colsapan);
  verify_close_subheader();
  verify_scroll_table();
}

function remove_column(id_field){
  $('.subfield_column_'+id_field).remove();
  $('#open_subform'+id_field).removeClass('d-none');
  verify_close_subheader();
}

function verify_close_subheader(){
  // verifica subcolumnas abiertas
  var count_open_subforms = verify_open_columns();
  if(count_open_subforms==0){
     $('#table_visible_container').css('height','30px');
     var new_height = (parseInt($('#div_table_data').css('height')) + 30 ) + 'px';
     $('#div_table_data').css('height',new_height);
     $('#div_table_data').removeClass("min_height_on");
  }
  verify_scroll_table();
}

function verify_open_columns(){
  var count_open_subforms = 0;
  var field_subforms_open = $('.subfields_data.d-none');
  field_subforms_open.each(function(){
    var id = $(this).attr('id').substring(12);
    var subfields = $('.'+id+'subfield.d-none');
    count_open_subforms += subfields.length;
  });
  return count_open_subforms;
}


</script>

<div class="card-header chart-header-bg-transparent py-1 px-2 card_data">
  Datos
  <% if can? :reports, :export %>
    <a data-toggle="modal" id="show_report"><i class="fas fa-clipboard-list ml-3" title="Reporte" style="cursor: pointer;" ></i></a>
    <a onclick="download_geojson()"><i class="fas fa-code ml-2" title="Exportar GeoJSON" style="cursor: pointer;" ></i></a>
  <% end %>
  <div class="d-inline">
    <a data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false" id="dropdown-columns">
      <i class="fas fa-plus ml-2" style="font-size: 0.8em; cursor: pointer;" title="Agregar Columna"></i>
    </a>
    <div class="dropdown-menu addcolumns scroll" aria-labelledby="dropdown-columns" style="max-height: 40vh; overflow-y: auto;">
      <% if !@fields.nil? %>
      <% index = 0 %>
        <% @fields.each do |field|  %>
          <% if field.field_type_id != 11 && field.field_type_id != 7  %>
            <% index=index+1 %>
            <% if !field.popup %>
              <a class="dropdown-item column_data" onclick="show_column(<%=index%>)"><%= field.name %></a>
            <% else %>
              <a class="dropdown-item column_data d-none" onclick="show_column(<%=index%>)"><%= field.name %></a>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="d-inline">
    <a data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false" id="dropdown-subfields">
      <i class="fas fa-clone ml-2" style="font-size: 0.8em; cursor: pointer;" title="Agregar Subformularios"></i>
    </a>
    <div class="dropdown-menu addsubfields scroll" aria-labelledby="dropdown-subfields" style="max-height: 40vh; overflow-y: auto;">
      <% if !@fields.nil? %>
        <% @fields.each do |field|  %>
          <% if field.field_type_id == 7  %>
            <% field_name = "\'"+field.name+"\'" %>
              <a class="dropdown-item subfields_data" id="open_subform<%=field.id%>" onclick="show_subfield(<%='['+field.id.to_s+']'%>)"><%= field.name %></a>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <a class="d-none" id="multiple_edit" onclick="show_item_info(0,false,true)">
    <i class="fas fa-edit ml-2" style="font-size: 0.8em; cursor: pointer;" title="Editar Registros"></i>
  </a>
  
  <input id="choose" type="text" class="string optional form-control form-control-sm d-inline p-0 border-0 ml-2" placeholder="Buscar" style="width: 0%; transition:1.5s;"  >
  <input type="text" class="choose_column d-none">
  <input type="text" class="filter_by_column d-none">
  <input type="text" class="order_by_column d-none">
  <input type="text" class="total_files d-none">
  <h6 type="text" class="selected_files_from_total d-inline"></h6>
  
  <div class="view-data-container status-view-condensed" id="status-view">
    <i class="fas fa-window-maximize view-data" id="view-data-middle"></i>
    <i class="fas fa-square view-data" id="view-data-expanded"></i>
    <i class="fas fa-times view-data" id="view-data-hidden"></i>
  </div>

  <div class="mt-1" id="div_pagination" style="float: right;">
    <div class="dropdown" style="display: inline-block;">
      <h6 class="dropdown-toggle select_perpage m-0 mr-3"  id="dropdownMenuButton" data-toggle   ="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 0.8em; cursor: pointer;">
        20/pág
      </h6>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item option_perpage" href="#">20/pág</a>
        <a class="dropdown-item option_perpage" href="#">50/pág</a>
        <a class="dropdown-item option_perpage" href="#">100/pág.</a>
        <a class="dropdown-item option_perpage" href="#">mostrar todo</a>
      </div>
    </div>
    <nav style="display: inline-block;">
      <ul class="pagination pagination-sm m-0" id="page_numbers"></ul>
    </nav>
  </div>
</div>
<div class="table-responsive div_table no_scroll" id="table_visible_container" style="height: 30px; overflow-y: hidden; border-bottom: solid 2px rgba(0,0,0,0.6); background: rgba(81, 89, 96, 0.4);">
  <table class="table table-hover m-0 card-body" id="table_hidden" style="font-size: 0.8em; text-align: center; border:solid 2px transparent;">
    <thead  id="thead_table_visible" class="scroll_false">
      <tr id="tr_visible">
        <th class="border-0" style="padding-top: 0px; vertical-align: top; cursor: pointer;">
          <p style="color:white; margin-bottom: 0px"></p>
          <input type="text" class="d-none field_key" value="#_action">
        </th>
        <th class="border-0" style="padding-top: 0px; vertical-align: top; white-space: nowrap;">
          <div class="custom-control custom-checkbox" title="Seleccionar Todo">
            <input class="custom-control-input field_key" id="table_select_all" type="checkbox" value="#_select">
            <label class="string optional control-label custom-control-label" for="table_select_all"> </label>
          </div>
          <i class="fas fa-image icons invisible"></i>

        </th>
        <th class="border-0" style="padding-top: 0px; vertical-align: top; cursor: pointer;">
          <p style="color:white; margin-bottom: 0px">#</p>
          <input type="text" class="d-none field_key" value="#">
        </th>
        <% if !@fields.nil? %>
        <% index = 0 %>
          <% @fields.each do |field|  %>
            <% if field.field_type_id != 11 && field.field_type_id != 7  %>
            <% index=index+1 %>
            <% if !field.popup %>
              <th class="d-none header_column border-0" id=<%="columnfake_"+field.name %>>
            <% else %>
              <th class="header_column border-0" id=<%="columnfake_"+field.name %>>
            <% end %>
                <div class="th-hover custom_header">
                  <p class="custom_p_header"><%= field.name %></p>
                  <div class="custom_div_table">
                    <i class="fas fa-sort-alpha-down icons" onclick="order_column(<%=index%>)"></i>
                    <i class="fas fa-search icons" onclick="search_column(<%=index%>)"></i>
                    <i class="fas fa-times icons" onclick="hide_column(<%=index%>)"></i>
                    <input type="text" class="d-none field_key" id=<%= "field_key"+index.to_s %> value=<%= field.key %>>
                  </div>
                </div>
              </th>
              <% else %>
            <% end %>
          <% end %>
        <% end %>
      </tr>
      <tr id="tr_subfields">
        <th class="border-0"></th>
        <th class="border-0"></th>
        <th class="border-0"></th>
        <% if !@fields.nil? %>
          <% @fields.each do |field|  %>
            <%if field.heatmap_field %>
              <input class="d-none field_label" value=<%=field.key%>>
            <% end %>
            <% if field.field_type_id != 11 && field.field_type_id != 7  %>
              <% if !field.popup %>
                <th class="d-none header_column border-0">
              <% else %>
                <th class="header_column border-0">
              <% end %>
              <p class="custom_p_header"></p>
            <% end %>
          <% end %>
        <% end %>
      </tr>
    </thead>
    <tbody id="tbody_hidden" style="visibility: hidden;">
      <tr>
        <td class="custom_row width_only"></td>
        <td class="custom_row width_only"></td>
        <td class="custom_row width_only" id="columnfake_datacount"></td>
        <% if !@fields.nil? %>
        <% index = 0 %>
          <% @fields.each do |field|  %>
            <% if field.field_type_id != 11 && field.field_type_id != 7  %>
            <% index=index+1 %>
            <% if !field.popup %>
              <td class="d-none custom_row width_only" id=<%="columnfake_data_"+field.key %>></td>
            <% else %>
              <td class="custom_row width_only" id=<%="columnfake_data_"+field.key %>></td>
              <% end %>
            <% end %>
          <% end %>  
      <% end %>    
      </tr> 
    </tbody>
  </table>
</div>
<div class="table-responsive div_table scroll table_scroll"  style="position: relative; z-index: 10; transition: 1s; background: rgba(81, 89, 96, 0.4);" id="div_table_data">
  <table class="table table-hover m-0 card-body" id="table_visible" style="font-size: 0.8em; position: relative;top: -50px; text-align: center;">
    <thead style="visibility: hidden; border-bottom: solid transparent">
      <tr class="data_fields">
        <th></th>
        <th>
          <div style="white-space: nowrap;">
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input just_header" id="table_select_all_hidden" type="checkbox">
            <label class="string optional control-label custom-control-label" for="table_select_all_hidden"> </label>
          </div>
          <i class="fas fa-image icons"></i>
        </div>
        </th>
        <th>#</th>
        <% if !@fields.nil? %>
        <% @fields.each do |field|  %>
          <% if field.field_type_id != 11 && field.field_type_id != 7  %>
           <% if !field.popup %>
            <th style="min-width: 100px; white-space: nowrap;" class="d-none" id=<%="column_"+field.name %>><%= field.name %></th>
           <% else %>
            <th style="min-width: 100px; white-space: nowrap;" id=<%="column_"+field.name %>><%= field.name %></th>
           <% end %>
          <% end %>
        <% end %>
        <% end %>
      </tr>
    </thead>
    <tbody id="tbody_visible" class="project_data_div">
    </tbody>
  </table>
</div>