<script type="text/javascript">
  var xhr_data_layer = null;
  var top_level_project_type_ids = [];
  $(document).ready(function () {
      $(".div_table").on("scroll", function() {
        if($(this).scrollTop()>5){
          $('#thead_table_visible').css("background","rgba(39,43,48,1)");
        } else {
          $('#thead_table_visible').css("background","transparent");
        }
    });

  //Selector cantidad por página
  $(".option_perpage").click(function(){
    var selText = $(this).text();
    $(".select_perpage").html(selText+' <span class="caret"></span>');
    var total_selected=parseInt($('.kpi_1001').html().replace(".",""));
    data_pagination(total_selected,1);
    init_data_dashboard(false);
  });

    set_hover();

    //busqueda por columna al hacer click
    $('#choose').keydown(function(e){
      if(e.keyCode == 13){
        $(".active_page").html("1");
          init_data_dashboard(true);
          if($('#choose').val()==""){
            $('#choose').css("width","0%");
            $('#choose').addClass("p-0");
            $('#choose').blur();
          }
          $("#info-modal").modal('hide');
        }
    })

  // Arma reporte
  $("#show_report").click(function(){
    init_report();
  });

  // selecciona o deselecciona todos los registros
  $('#table_select_all').click(function(){
    if($(this).prop('checked')){
      show_item_all();
      $('#multiple_edit').removeClass('d-none');
    } else {
      unselect_item_all();
      $('#multiple_edit').addClass('d-none');
    }
    calculate_functions_table();
  })

  //Oculta labels si no está en el modelo de datos
    if($('.field_label').length==0){
      $('#checkbox_Etiquetas').prop("disabled",true);
    }

  // Habilita botón guardar si la tabla abierta es una tabla ya guardada
    $("#save_table_button").click(function(){
      if($('#table_id').val()!=""){
        $('#save_table_button_edit').removeClass('d-none');
      } else {
        $('#save_table_button_edit').addClass('d-none');
      }
    });

    // evita cierre de modal selectores para reporte de alertas y para agrupar por subformularios en reportes pdf
    $('#pdf_type , #alert_type, #alert_mail , #alert_group , #set_subfield_grouped, #set_subfield_grouped_container, #set_subfield_table, #set_subfield_table_container ,#set_map, #set_map_container , #set_photos, #set_photos_container, #set_qr_container , #set_qr' ).click(function(e){
      e.stopPropagation();
    })
  });

  //movimiento de header columnas
  function set_hover(){
    $(".th-hover").hover(function(){
      $(this).find('p').css('opacity',0);
      $(this).find('div').css('opacity',1);
      }, function(){
      $(this).find('p').css('opacity',1);
      $(this).find('div').css('opacity',0);
    });
  }

  //Funciones suma, maximo, mínimo y promedio
  function cal_column(key,id_proyect,layer,operator){
    // verifica si hay registros chequeados
    var ids_checked = get_ids_checked(layer);
    var key_jquery = key;
    var celd = '.celd'+layer+'_key'+key;
    if(layer == 'layer'){
      key_jquery = id_proyect+"\\|"+key;
      celd = '.celd'+layer+'_key'+id_proyect+"\\|"+key;
      key = id_proyect+"|"+key;
    }
    if(layer == 'subform'){
      celd = "."+id_proyect+'sub'+key;
    }
    $('.footer_function'+layer+'_key'+key_jquery).removeClass('footer_function_key'+key);
    $('.footer_sum'+layer+'_key'+key_jquery).addClass('footer_function_key'+key);
    var total = 0;
    var count = 0;
    var max = ''
    var min = ''
    var unique_ids = [];
    $(celd).each(function(index,column_val){
      if(ids_checked.length==0 || $(this).is(ids_checked)){
        if(layer == 'layer'){
          $(column_val).children().each(function(i,child){
          // no suma repetidos ids en capas
            if(!isNaN(parseFloat($(child).html()))) {
              if($.inArray($(child).attr('id_layer_row'),unique_ids) <0 ){
                total += parseFloat($(child).html());
                count ++;
                unique_ids.push($(child).attr('id_layer_row'));
              }
              if (max === ''){max = parseFloat($(child).html()) }
              if(parseFloat($(child).html())>parseFloat(max)){max = parseFloat($(child).html())}
              if (min === ''){min = parseFloat($(child).html()) }
              if(parseFloat($(child).html())<parseFloat(min)){min = parseFloat($(child).html())}
            }
          });
        } else {
          if(!isNaN(parseFloat($(column_val).html()))) {
            total += parseFloat($(column_val).html());
            count++;
            if (max === ''){max = parseFloat($(column_val).html()) }
            if(parseFloat($(column_val).html())>parseFloat(max)){max = parseFloat($(column_val).html())}
            if (min === ''){min = parseFloat($(column_val).html()) }
            if(parseFloat($(column_val).html())<parseFloat(min)){min = parseFloat($(column_val).html())}
          }
        }
      }
    });
    switch(operator) {
      case 'sum':
        $('.footer'+layer+'_key'+key_jquery).html("Total: "+Math.round(total*100)/100);
      break;
      case 'max':
        $('.footer'+layer+'_key'+key_jquery).html("Máx: "+max);
      break;
      case 'min':
        $('.footer'+layer+'_key'+key_jquery).html("Min: "+min);
      break;
      case 'avg':
        $('.footer'+layer+'_key'+key_jquery).html("Prom: "+Math.round(total*100/count)/100);
      break;
    }
  }

  function get_ids_checked(layer){
    var ids_checked = '';
    var count_ids_checked = 0;
    $('#table_hidden .custom-control-input').not('#table_select_all').each(function(){
        if(this.checked){
          if(count_ids_checked>0){ids_checked +=", "}
          ids_checked += ".celd"+layer+"_id"+$(this).attr('id').split('check_select_')[1]+" ";
          count_ids_checked ++;
        }
    });
    return ids_checked;
  }
  // terminan funciones suma, máximo, mínimo y promedio

  //ordena descendente y ascendente
  function order_column(key){
    var column_order=$('#field_key'+key).val();
    $('.order_by_column').val(column_order);
    init_data_dashboard(false);
  }

  //abre buscar x  columna
  function search_column(key, name){
    $('#choose').val('');
    var texto_buscar=$('#field_key'+key).val();
    $('#choose').attr("placeholder", "Buscar "+name);

    if($('#subform_search')[0].classList.length == 6){
     $('#subform_search').css("margin-left", "45%");
    };

    $('.filter_by_column').val(texto_buscar);
    $('#choose').css("width","13%");
    $('#choose').removeClass("p-0");
    $('#choose').focus();
  }

  //oculta columnas
  function hide_column(key){
   $('#columnfake_'+key).addClass("d-none");
   $('#subcolumnfake_'+key).addClass("d-none");
   $('.celd_key'+key).addClass("d-none");
   $('#addcolumn_'+key).removeClass("d-none");
   $('.fa-plus').removeClass("d-none");
   $('.footer_key'+key).addClass("d-none");
   $('.footer_key'+key).html("");
   $('.footer_function_key'+key).removeClass('footer_function_key'+key);
  }

  //muestra columnas
  function show_column(key){
   $('#columnfake_'+key).removeClass("d-none");
   $('#subcolumnfake_'+key).removeClass("d-none");
   $('.celd_key'+key).removeClass("d-none");
   $('#addcolumn_'+key).addClass("d-none");
   if($(".addcolumns").children().length == $(".column_data.d-none").length){
     $('.fa-plus').addClass("d-none");
   }
   $('.footer_key'+key).removeClass("d-none");
  }

  //mostrar dato en el mapa
  function show_item(appid_selected){
   if(event.target.id.substring(0,13)=="check_select_"){return;}
   if($('#row_table_data'+appid_selected).hasClass('found')){
    $('#row_table_data'+appid_selected).removeClass('found');
    var string_filter = get_string_filter();
    var text_to_replace = "or app_id = '"+appid_selected+"'";
    var text_to_replace1 = "app_id = '"+appid_selected+"' or";
    var text_to_replace2 = "app_id = '"+appid_selected+"'";
    string_filter = string_filter.replace(text_to_replace,"").replace(text_to_replace1,"").replace(text_to_replace2,"");
    Navarra.project_types.config.data_dashboard=string_filter;
    Navarra.project_types.config.item_selected="";
    $("#info-modal").modal('hide');
   }else{
     $('table tbody tr').not('.tr_checked').removeClass('found');
     $('#row_table_data'+appid_selected).addClass('found');
     var string_filter = get_string_filter();
     if(string_filter==""){
      string_filter = "app_id = '"+appid_selected+"'";
     } else {
      string_filter += "or app_id = '"+appid_selected+"'";
     }
     Navarra.project_types.config.data_dashboard=string_filter;
     Navarra.project_types.config.item_selected= appid_selected;
    }
    Navarra.geomaps.current_layer();
  }

  //mostrar dato en el mapa
  function show_item_all(){
    $('#table_hidden .custom-control-input').prop('checked',true);
      $('#table_hidden tr').addClass('tr_checked');
    $('table tbody tr').addClass('found');
    var string_filter = get_string_filter();
    Navarra.project_types.config.data_dashboard=string_filter;
    Navarra.geomaps.current_layer();
  }

  function unselect_item_all(){
    $('#table_hidden .custom-control-input').prop('checked',false);
    $('#table_hidden tr').removeClass('tr_checked');
    $('table tbody tr').removeClass('found');
    Navarra.project_types.config.data_dashboard="";
    Navarra.geomaps.current_layer();
  }

  function get_string_filter(){
    var array_ids = [];
    $('#table_hidden .custom-control-input:checked').not('#table_select_all').each(function(){
        array_ids.push($(this).attr('id').split('_')[2]);
      });
    var string_filter=""
    for(x=0;x<array_ids.length;x++){
      if(x>0){string_filter+= " or "}
      string_filter+="app_id = '"+array_ids[x]+"'";
    }
    return string_filter;
  }

  // FUNCIONES PARA TRAER DATOS DE SUBFORMULARIOS
  function show_subfield(field_ids){
    $('#tr_subfields').removeClass('d-none');
    var app_ids_table = Navarra.dashboards.app_ids_table;
    var from_date_subforms = Navarra.project_types.config.from_date_subforms;
    var to_date_subforms = Navarra.project_types.config.to_date_subforms;
    var filter_children = [];
    var filter_user_children = [];
    var filter_value = $("#subform_search").val();
    var id_subfield = $('#subform_search').attr('id_subfield')

    $('.subform_filter').each(function(){
      if(!isNaN($(this).attr('id').split('|')[0])){
        filter_children.push($(this).attr('id'));
      } else {
        filter_user_children.push($(this).attr('id').split('|')[2])
      }
    });
    $.ajax({
      type: 'POST',
      url: '/project_data_children/show_children',
      datatype: 'json',
      data: {
        project_ids: app_ids_table,
        project_field_ids: field_ids,
        from_date_subforms: from_date_subforms,
        to_date_subforms: to_date_subforms,
        filter_children: filter_children,
        filter_user_children: filter_user_children,
        filter_value: filter_value,
        id_subfield: id_subfield
      },
      success: function(data) {
        data.forEach(function(father_field){
          var count_columns = $('#tr_visible').find('th').length;
          var id_field = father_field.project_field_id;
          //Oculta opción
          $('#open_subform'+id_field).addClass('d-none');
          // Agrega cabecera visible
          var new_column_subform = document.createElement('TH');
          new_column_subform.className = 'border-0 header_column subheader_column subfield_column_'+id_field;
          new_column_subform.id = 'header_column_'+id_field;
          var new_div = document.createElement('DIV');
          new_div.className = "th-hover custom_header";
          var new_p = document.createElement('P');
          new_p.className = 'custom_p_header';
          new_p.innerHTML = father_field.project_field_name.toUpperCase();
          new_p.id = 'header_columntext_'+id_field;
          new_div.appendChild(new_p);
          var new_div1 = document.createElement('DIV');
          new_div1.className = 'custom_div_table custom_onclick'
          var new_a = document.createElement('A');
          new_a.setAttribute("data-toggle","dropdown");
          new_a.setAttribute("href","#");
          new_a.id = "link_dropdown_"+id_field;
          var new_icon = document.createElement('I');
          new_icon.className = "fas fa-plus icons ml-2 custom_onclick_icon";
          new_icon.title = "Agregar Columna";
          new_a.appendChild(new_icon);
          new_div1.appendChild(new_a);
          //modal con columnas hijo
          var new_drop = document.createElement("DIV");
          new_drop.className = "dropdown-menu scroll custom_drop_subforms"
          new_drop.setAttribute("aria-labelledby","dropdown-subfields");

          // Agrega subcabecera foto y fecha
          var new_column = document.createElement('TH');
          new_column.style.minWidth = "204px";
          new_column.style.width = "204px";
          new_column.style.border = "none";
          new_column.className = 'header_column subfield_column_'+id_field;
          new_column.innerHTML = "Fecha / Usuario"
          $('#tr_subfields').append(new_column);

          celd_footer = "<td style = 'min-width:204px; with:204px' class='footersubform_key_date"+id_field+"'></td>"
          father_field.head.forEach(function(child_field){
            if(child_field.field_type_id!=11 && child_field.can_read == true){
              var new_option = document.createElement("A");
              new_option.className ="dropdown-item "+id_field+'subfield dropsub'
              new_option.innerHTML = child_field.name;
              new_option.id = id_field+'_subfield_'+child_field.field_id;
              new_option.setAttribute('onClick','open_subcolumn(event)');
              new_drop.appendChild(new_option);

              //Agrega Subcabecera
              var new_column = document.createElement('TH');
              new_column.className = 'header_column d-none '+'subfield_column_'+id_field+" " + id_field+"sub"+child_field.field_id;
              new_column.style.whiteSpace = "nowrap";
              new_column.style.border = "none";
              var new_tr = document.createElement('TR');
              new_tr.className = "th-hover custom_header";
              new_tr.style.display = 'inline-block'
              var new_p = document.createElement('P');
              new_p.className = 'custom_p_header';
              new_p.innerHTML = child_field.name;
              new_p.id = id_field+"_subheader_"+child_field.field_id;
              if(child_field.calculated_field == '{"ID":""}'){
                var unique_id = true;
              } else {
                var unique_id = false
              }
              new_p.setAttribute('unique_id',unique_id);

              new_tr.appendChild(new_p);
              var new_div1 = document.createElement('DIV');
              new_div1.className = 'custom_div_table'
              var new_icon = document.createElement('I');
              new_icon.className = "fas fa-times icons";
              new_icon.title = "Cerrar";
              new_icon.setAttribute("onClick","remove_subcolumn("+id_field+","+child_field.field_id+")");
              new_div1.appendChild(new_icon);
              var new_icon = document.createElement('I');
              new_icon.className = "fas fa-search icons";
              new_icon.title = "Buscar";
              new_icon.setAttribute("onClick","search_input("+id_field+", "+child_field.field_id+", '"+child_field.name+"')");
              new_div1.appendChild(new_icon);

              // agrega funciones suma, max, min y promedio si es campo numérico.
              if(child_field.field_type_id==5){
                var icons_function = ["plus","greater-than","less-than","divide"];
                var icons_title = ["Sumar","Máximo","Mínimo","Promedio"];
                var icons_class = ["sum","max","min","avg"];
                for(i=0;i<icons_class.length;i++){
                  var new_icon = document.createElement('I');
                  new_icon.className = "fas fa-"+icons_function[i]+" icons custom_function_icon text-dark footer_"+icons_class[i]+"subform_key"+child_field.field_id;
                  new_icon.title = icons_title[i];
                  new_icon.setAttribute("onClick","cal_column("+child_field.field_id+","+id_field+",'subform','"+icons_class[i]+"')");
                  new_div1.appendChild(new_icon);
                }
              }
              // terminan funciones
              new_tr.appendChild(new_div1);
              new_column.appendChild(new_tr);
              $('#tr_subfields').append(new_column);

              // Agrega footer
              celd_footer += "<td name_function='"+child_field.name+"' class='d-none footer_field_"+id_field+" footer_key footersubform_key"+child_field.field_id+"'></td>"
            }
          });
          // Agrega footer
            $('#total_table').append(celd_footer);

          new_div1.appendChild(new_drop)
          var new_icon = document.createElement('I');
          new_icon.className = "fas fa-times icons ml-2";
          new_icon.title = "Cerrar";
          new_icon.setAttribute("onClick","remove_column("+id_field+")");
          new_div1.appendChild(new_icon);
          new_div.appendChild(new_div1);
          new_column_subform.appendChild(new_div);
          new_column_subform.setAttribute('colspan',1);
          $('#tr_visible').append(new_column_subform);
          set_hover();

        // valores para la tabla
        var data_child = father_field.body
          //Agrega celdas a toda la tabla
          if(Object.keys(data_child).length==0){
              $('#link_dropdown_'+id_field).addClass('disabled')
              $('#link_dropdown_'+id_field).find('i').attr('title','No hay datos para mostrar');
            }
          $('.row_data').each(function(row){
            var key_data = $(this).attr("id").substring(14);
            var row_table = $(this);
            var new_td = document.createElement('TD');
            new_td.className="custom_row custom_row_child subfield_column_"+id_field;
            new_td.style.minWidth = '204px';
            if(data_child[key_data]!=undefined){
              data_child[key_data].forEach(function(column,indexColumn){
                var new_sub_column = document.createElement('TR');
                new_sub_column.style.display = 'flex';
                if(indexColumn==0){
                    new_sub_column.style.borderTop= 'none';
                  } else {
                    new_sub_column.style.borderTop= 'solid 1px rgba(0,0,0,0.5)';
                  }
                // agrega icono de foto
                var new_cel_subform = document.createElement('TD');
                new_cel_subform.style.border='none';
                new_cel_subform.style.padding='5px';
                new_cel_subform.style.width='30px';
                new_cel_subform.style.minWidth='30px';
                new_cel_subform.className='child_celd just_date';
                new_cel_subform.setAttribute("id_child",column.id)
                var new_icon = document.createElement('I');
                new_icon.className = "fas fa-image icons";
                new_icon.setAttribute('onClick', 'Navarra.photos.open_photos('+column.id+',true)')
                new_cel_subform.appendChild(new_icon);
                new_sub_column.appendChild(new_cel_subform);
                new_td.appendChild(new_sub_column);

                //agrega trash button para establecer subform como row_active=false
                <% if can? :data, :delete_subforms %>
                  var new_cel_subform = document.createElement('TD');
                  new_cel_subform.style.border='none';
                  new_cel_subform.style.padding='5px';
                  new_cel_subform.style.width='30px';
                  new_cel_subform.style.minWidth='30px';
                  new_cel_subform.className='child_celd just_date';
                  new_cel_subform.setAttribute("id_child",column.id)
                  var new_icon = document.createElement('I');
                  new_icon.className = "fas fa-trash icons";
                  new_icon.setAttribute('onClick', 'delete_subform('+column.id+')')
                  new_cel_subform.appendChild(new_icon);
                  new_sub_column.appendChild(new_cel_subform);
                  new_td.appendChild(new_sub_column);
                <% end %>

                // agrega fecha de creación
                var new_cel_subform = document.createElement('TD');
                new_cel_subform.style.border='none';
                new_cel_subform.style.padding='5px';
                new_cel_subform.style.textAlign='left';
                new_cel_subform.style.whiteSpace='nowrap';
                new_cel_subform.className='child_celd just_date celdsubform_date_id'+key_data;
                new_cel_subform.id = id_field+"_childdate_"+column.id;
                new_cel_subform.setAttribute("id_child",column.id)
                if(column.gwm_created_at!=null){
                  var created_date = column.gwm_created_at.split('T')[0];
                  var created_time = column.gwm_created_at.split('T')[1].substring(0,5)
                  new_cel_subform.innerHTML = created_date.split('-')[2]+'/'+created_date.split('-')[1]+'/'+created_date.split('-')[0].substring(2)+" "+created_time +" " +column.username;
                }
                new_cel_subform.style.width='200px';
                new_cel_subform.style.minWidth='200px';
                new_sub_column.appendChild(new_cel_subform);
                new_td.appendChild(new_sub_column);

              });
            }
            row_table.append(new_td);


              //Columnas de subformularios
              var sub_columns_visibles = $('.'+id_field+'subfield');
              sub_columns_visibles.each(function(index){
                sub_col_ = $(this);
                var colname = sub_col_.attr('id').split('_')[2];
                var new_td = document.createElement('TD');
                new_td.className="custom_row d-none custom_row_child subfield_column_"+id_field;
                new_td.style.minWidth = '204px';
                new_td.setAttribute("id_container",id_field+"container"+colname)
                if(data_child[key_data]!=undefined){
                  data_child[key_data].forEach(function(column,indexColumn){
                    var new_sub_column = document.createElement('TR');
                    new_sub_column.style.display = 'flex';
                    new_sub_column.style.flexDirection = 'column';
                    new_sub_column.style.marginLeft = '-5px';
                    new_sub_column.style.paddingLeft = '5px';
                    if(indexColumn==0){
                      new_sub_column.style.borderTop= 'none';
                    } else {
                      new_sub_column.style.borderTop= 'solid 1px rgba(0,0,0,0.5)';
                    }

                    var new_cel_subform = document.createElement('TD');
                    new_cel_subform.style.padding='5px';
                    new_cel_subform.setAttribute("id_child",column.id)
                    new_cel_subform.className = id_field+"sub"+colname + " d-none child_celd celdsubform_id"+key_data;
                    new_cel_subform.id = id_field+"_subceld_"+colname + "_" + column.id ;
                    new_cel_subform.style.whiteSpace='nowrap';
                    new_cel_subform.style.border='none';
                    new_cel_subform
                    if(column.properties[colname]!=undefined){
                      new_cel_subform.innerHTML = column.properties[colname];
                      if (typeof column.properties[colname] === 'boolean') {
                        column.properties[colname] = column.properties[colname] ? "true" : "false";
                      }
                      new_cel_subform.setAttribute("id_search", column.properties[colname][0].trim());
                    }
                    new_sub_column.appendChild(new_cel_subform);
                    new_td.appendChild(new_sub_column);
                  })
                }
                row_table.append(new_td);
              });
          });
          if(Object.keys(data_child).length!=0){
            open_subheaders(id_field);
          } else {
            open_subheaders_no_data(id_field);
          }
          //ajusta ubicación del modal
          $('.custom_onclick , .custom_onclick_icon').on('click', function(event) {
            var x = (event.clientX -50) + 'px';
            var y = event.clientY +'px';
            $('.custom_onclick').on('show.bs.dropdown', function(event) {
            var top_table = (parseInt($(".table_data_container").css("top"))+50)+'px';
            $('.custom_drop_subforms').css('margin-top',y);
            var width_table = (parseInt($(".table_data_container").css("width"))-200)+'px';
            $('.custom_drop_subforms').css('margin-left',x);
          });
          });

        });//end forEach
        verify_close_subheader();
      }//end success
    });//end ajax
  }

  function delete_subform(column){
    subform_id = column
    var confirmDelete = confirm("¿Está seguro de que deseas eliminar este subformulario?");

    if (confirmDelete) {
      $.ajax({
        url: '/project_data_children/delete_subforms',
        method: 'POST',
        datatype: 'json',
        data: {
          subform_id: subform_id
        },
        success: function(response) {
          id_subform = response.subform_id

          var subformsToHide = document.querySelectorAll('td[id_child="'+id_subform+'"]');

          subformsToHide.forEach(function(element) {
            element.classList.add('d-none');
          });
        },
      });
    }
  };

  // FUNCIONES PARA TRAER COLUMNAS DE CAPAS SUPERIORES
  function get_layer_data(){
    var app_ids_table = Navarra.dashboards.app_ids_table;
    if(app_ids_table.length>80){
      $('#text_toast').html("Buscando datos intercapas, por favor espere");
      $('#toast').toast('show');
    }
      data = {
        top_level_project_type_ids: top_level_project_type_ids,
        project_ids: app_ids_table,
        filters_layers: Navarra.project_types.config.filters_layers,
        timeslider_layers: Navarra.project_types.config.timeslider_layers
      }

      if (xhr_data_layer && xhr_data_layer.readyState != 4) {
        xhr_data_layer.abort();
      }
      xhr_data_layer = $.ajax({
        type: 'POST',
        url: '/projects/search_data_for_pdf',
        datatype: 'JSON',
        data: data,
        success: function(data) {
          $('.celdlayer').empty();
          data.forEach(function(data_project){
          data_project.forEach(function(row_layer,index_row){
              properties_layer= row_layer['properties'];
            $('.header_column_layer').not('.d-none').each(function(){
              // verifica id del proyecto para keys iguales
              id_project_layer = $(this).attr("id_project_layer");
              if (id_project_layer == row_layer.project_type_id){
                var prop = $(this).attr('key_layer').substring(3);
                var row_text = row_layer['properties'][prop];
                if (row_text == undefined ){ row_text = ""}
                html_div = "<div id_layer_row="+row_layer.id+">"+row_text+"</div>"
                $('.celdlayer_id'+row_layer.cross_layer_record+'.celdlayer_key'+row_layer.project_type_id+'\\|'+prop).append(html_div);
              }
            })
          });//end forEach
        });
        },
      });
  }

  function show_column_layer(key_layer,id_layer){
    if(top_level_project_type_ids.indexOf(id_layer)<0){
      top_level_project_type_ids.push(id_layer);
    }
    get_layer_data();
    $('#columnfake_layer_'+key_layer+"_"+id_layer).removeClass("d-none");
    $('#subcolumnfake_layer_'+key_layer+"_"+id_layer).removeClass("d-none");
    $('.celdlayer_key'+id_layer+'\\|'+key_layer).removeClass("d-none");
    $('#addcolumn_layer\\|'+key_layer+'\\|'+id_layer).addClass("d-none");
    $('.footerlayer_key'+id_layer+'\\|'+key_layer).removeClass("d-none");
  }

  function hide_column_layer(key_layer,id_layer){
    $('#columnfake_layer_'+key_layer+"_"+id_layer).addClass("d-none");
    $('#subcolumnfake_layer_'+key_layer+"_"+id_layer).addClass("d-none");
    $('.celdlayer_key'+id_layer+'\\|'+key_layer).addClass("d-none");
    $('#addcolumn_layer\\|'+key_layer+'\\|'+id_layer).removeClass("d-none");
    $('.footerlayer_key'+id_layer+'\\|'+key_layer).addClass("d-none");
    $('.footerlayer_key'+id_layer+'\\|'+key_layer).html("");
  }

  function create_layers_table(){
    top_level_project_type_ids = [];
    $('.addcolumns_layers a.d-none').each(function(){
      this.click();
    })
  }
  // TERMINAN FUNCIONES DE CAPAS SUPERIORES

  function open_subcolumn(event){
    var id_field = event.target.id.split('_')[0];
    var id_subfield = event.target.id.split('_')[2];
    $('.'+id_field+'sub'+id_subfield).removeClass('d-none');
    $('[id_container = '+id_field+'container'+id_subfield+']').removeClass('d-none');
    $('.footersubform_key'+id_subfield).removeClass('d-none');
    $(event.target).addClass('d-none');
    adjust_table_height();
    var width_array = [];
    var max = Math.max.apply(Math,width_array);
    if(max>200){max=200}
    max = (parseInt(max)+30)+'px';
    $('.'+id_field+'sub'+id_subfield).css('whiteSpace',"normal");
    $('.'+id_field+'sub'+id_subfield).css('minWidth',max);
    $('.footersubform_key'+id_subfield).css('minWidth',max);
    // ajusta colspan
    var new_colsapan =  parseInt($('#header_column_'+id_field).attr('colspan'))+1;
    $('#header_column_'+id_field).attr('colspan',new_colsapan);
    $('#body_only_width_subform_'+id_field).attr('colspan',new_colsapan);
    verify_close_subheader();
    adjust_height_rows()
  }

  function remove_subcolumn(id_field,id_subfield){
    $('.'+id_field+'sub'+id_subfield).addClass('d-none');
    $('[id_container = '+id_field+'container'+id_subfield+']').addClass('d-none');
    $('#'+id_field+'_subfield_'+id_subfield).removeClass('d-none');
    $('.footersubform_key'+id_subfield).addClass('d-none');
    $('.footersubform_key'+id_subfield).html('');
    // ajusta colspan
      var new_colsapan =  parseInt($('#header_column_'+id_field).attr('colspan'))-1;
      $('#header_column_'+id_field).attr('colspan',new_colsapan);
      $('#body_only_width_subform_'+id_field).attr('colspan',new_colsapan);
    verify_close_subheader();
    adjust_height_rows();
  }

  function search_input(id_field, id_subfield, name) {
    $('#subform_search').val('');
    $('#subform_search').attr("id_field", id_field);
    $('#subform_search').attr("id_subfield", id_subfield);

    if($('#choose')[0].classList.length == 8){
      $('#subform_search').css("margin-left", "63%");
    } else {
      $('#subform_search').css("margin-left", "45%");
    };

    $('#subform_search').attr("placeholder", "Buscar en subformulario: " + name);
    $('#subform_search').css("width","13%");
    $('#subform_search').removeClass("p-0");
    $('#subform_search').focus();
  }

  function search_subform(){
    filtered_value = $('#subform_search').val();
    id_field = $('#subform_search').attr('id_field');
    id_subfield = $('#subform_search').attr('id_subfield');
    array = []
    subfield_ids_saved = []

    visible_columns = document.querySelectorAll('th.header_column.subfield_column_'+id_field+':not(.d-none)');

    visible_columns.forEach(function(column) {
      if (column.classList[2] != undefined && column.classList[2].startsWith(id_field+'sub')){
        array.push(column.classList[2]);
      }
    });

    array.forEach(function(item) {
      var element_split = item.split("sub");
      var id_field = element_split[0];
      var id_subfield = element_split[1];
      var element = {
        "id_field": id_field,
        "id_subfield": id_subfield
      };
      subfield_ids_saved.push(element);
    });

    create_subforms_table(subfield_ids_saved);
  }

  function adjust_height_rows(){
    // ajusta alto de filas
    $('.child_celd').css("height","auto");
    var height_rows = {};
    $('.child_celd').each(function(){
      if(height_rows[$(this).attr("id_child")]==undefined || height_rows[$(this).attr("id_child")] < $(this).outerHeight() ){
        height_rows[$(this).attr("id_child")] = $(this).outerHeight();
      }
    });
    $.each( height_rows, function( key, value ) {
      valuepx = value + "px";
      $('td[id_child='+key+']').css("height",valuepx);
    });
  }

  function remove_column(id_field){
    // elimina columna de campos subformularios
    $('.subfield_column_'+id_field).remove();
    $('.footer_field_'+id_field).remove();
    $('.footersubform_key_date'+id_field).remove();
    $('#body_only_width_subform_'+id_field).remove();
    $('.tr_footer_suborm'+id_field).remove();
    $('#open_subform'+id_field).removeClass('d-none');
    verify_close_subheader();
  }

  function verify_close_subheader(){
    // verifica subcolumnas abiertas
    var count_open_subforms = verify_open_columns();
    if(count_open_subforms==0){
       $('#tr_subfields').addClass('d-none');
    } else {
      $('#tr_subfields').removeClass('d-none');
    }
    adjust_table_height();
  }

  function verify_open_columns(){
    var count_open_subforms = 0;
    var field_subforms_open = $('.subfields_data.d-none');
    field_subforms_open.each(function(){
      var id = $(this).attr('id').substring(12);
      var subfields = $('.'+id+'subfield.d-none');
      count_open_subforms += subfields.length;
    });
    return count_open_subforms;
  }

  function adjust_table_height(){
    var height_browser = window.innerHeight
    var height_card=$(".card_data").innerHeight()
    if($('#status-view').hasClass('status-view-expanded')){
      var height_table = height_browser - $("#nav_bar").innerHeight() -height_card - 20;
      $("#table_visible_container").css("height", height_table);
    } else {
      if(!$('#status-view').hasClass('status-view-condensed')){
      var height_table = height_browser*.5 - height_card - 20;
      $("#table_visible_container").css("height", height_table);
    }
    }
  }

  function save_table(is_new){
    if(is_new){
      var table_name = $('#table_new_name').val();
      if(table_name==""){
        $('#text_toast').html("Agregue un nombre para la tabla");
        $('#toast').toast('show');
        return;
      }
      var type_method = "POST";
      var url = '/table_configurations/create_table';
    } else {
      var table_id = $('#table_id').val();
      var table_name = $('#table_name').val();
      var type_method = "PATCH";
      var url = '/table_configurations/edit_table';
    }
    var p_field_keys = [];
    $('.column_data.d-none').each(function(){
      p_field_keys.push(this.id.substring(10));
    });
    var project_subfields = [];
     $('.subfields_data.d-none').each(function(){
      var id_subfield_father = this.id.substring(12);
      var subfields_ids = [];
         $('.'+id_subfield_father+'subfield.d-none').each(function(){
          subfields_ids.push(this.id.split('_')[2]);
         });
      var subfield_table = {
        p_field_id : id_subfield_father,
        p_subfields_ids: subfields_ids
      }
      project_subfields.push(subfield_table);
    });
    var cross_layers = [];
    var cross_layers_fields = [];
    var cross_layer_id = 0;
    $('.column_data_layer.d-none').each(function(index){
      if((cross_layer_id != this.id.split('|')[2] && cross_layer_id!=0)){
        cross_layer = {
          project_type_id: cross_layer_id,
          p_field_keys: cross_layers_fields
        }
        cross_layers.push(cross_layer);
        cross_layers_fields = [];
      }
        cross_layers_fields.push(this.id.split('|')[1]);
        cross_layer_id = this.id.split('|')[2];

        if((index+1)==$('.column_data_layer.d-none').length){
          cross_layer = {
            project_type_id: cross_layer_id,
            p_field_keys: cross_layers_fields
          }
        cross_layers.push(cross_layer);
        cross_layers_fields = [];
      }
    });

    var per_page = $(".select_perpage").html();
    var per_page_value = parseInt(per_page);
    if (isNaN(per_page_value)) {
      var per_page_value = "";
    }
    var filter_value = $("#choose").val();
    var filter_by_column = $(".filter_by_column").val();
    var order_by_column = $(".order_by_column").val();
    var settings = {
      current_layer: {
        p_field_keys: p_field_keys,
        project_subfields: project_subfields
      },
      cross_layers: cross_layers,
      per_page: per_page_value,
      order_by: order_by_column,
      filter_by: {
        key: filter_by_column,
        value: filter_value,
      }
    }
    var table_to_save = {
      config: settings,
      name: table_name,
      project_type_id: Navarra.dashboards.config.project_type_id,
      table_id: table_id
    }
    $.ajax({
      type: type_method,
      url:  url,
      datatype: 'JSON',
      data: table_to_save,
      success: function(data) {
        $('#text_toast').html(data.status);
        $('#toast').toast('show');
        if(is_new){
          var table_new_id = data.table_id;
          $('#table_id').val(table_new_id);
          $('#table_name').val($('#table_new_name').val());
          $('#table_name_visible').html($('#table_new_name').val());
          // agrega nueva tabla al modal de tablas
          var new_a = '<a class="dropdown-item d-flex" onclick="open_panel(\'view-data-middle\','+table_new_id+')" href="#" id="dropdown_table'+table_new_id+'"><h7 class="mr-auto">'+table_name+'</h7><i class="fas fa-trash-alt ml-3 invisible icon_delete_table" title="' + t('common.delete') + '" onclick="remove_table(event ,'+table_new_id+')"></i></a>'
          $('#tables_container').prepend(new_a);
        }
        $('#table_new_name').val("");
      }
    });
  }

  function show_trash_tables(event){
    event.stopPropagation();
    if($('#show_trash_tables').hasClass('show_trash_tables_on')){
      $('#show_trash_tables').removeClass('show_trash_tables_on');
      $('.icon_delete_table').addClass('invisible');
    } else {
      $('#show_trash_tables').addClass('show_trash_tables_on');
      $('.icon_delete_table').removeClass('invisible');
    }
  }

  function remove_table(event,table_id){
    event.stopPropagation();
    data = {
      table_id: table_id
    }

    $.ajax({
      type: 'DELETE',
      url: '/table_configurations/destroy_table',
      datatype: 'JSON',
      data: data,
      success: function(data) {
          $('#text_toast').html(data.status);
          $('#toast').toast('show');
          $('#dropdown_table'+table_id).remove();
      },
      error: function( jqXHR, textStatus, errorThrown ) {
       }
    });
  }

  function open_share_table(){
    // Agrega las opciones abiertas en la tabla
      $('#alert_mail').empty();
      $('#alert_group').empty();
       var new_option = "<option></option>";
        $('#alert_mail').append(new_option);
        $('#alert_group').append(new_option);
      $('.column_data_layer.d-none').each(function(){
        var id_layer = $(this).attr('id').split('|')[2]+'\\|'+$(this).attr('id').split('|')[1];
        var id_layer_group = $(this).attr('id_field_layer').split('id')[1];
        var new_option = "<option id_field_layer="+$(this).attr('id_field_layer').split('id')[1]+" value="+id_layer+">"+$(this).html()+"</option>";
        var new_option_group = "<option value="+id_layer_group+">"+$(this).html()+"</option>";
        $('#alert_mail').append(new_option);
        $('#alert_group').append(new_option_group);
      });
      $('.column_data.d-none').each(function(){
        var new_option = "<option value="+$(this).attr('id').substring(10)+">"+$(this).html()+"</option>";
        $('#alert_mail').append(new_option);
        $('#alert_group').append(new_option);
      });
      if($('.subfields_data.d-none').length>0){
        var new_option = "<option value='suform_grouped'>Subformularios</option>";
        $('#alert_group').append(new_option);
      }
      // elimina color danger
      $('.custom_row.custom_danger').removeClass('custom_danger')
  }

  function open_alert_modal(event){
    event.stopPropagation();
    if($('#alert_options').hasClass('d-none')){
      $('#alert_options').removeClass('d-none');
    } else {
      $('#alert_options').addClass('d-none');
    }
  }

  function open_pdf_modal(event){
    event.stopPropagation();
    if($('#pdf_options').hasClass('d-none')){
      $('#pdf_options').removeClass('d-none');
    } else {
      $('#pdf_options').addClass('d-none');
    }
  }

  // Modal PDF
  function show_pdf(is_alert){
    if($('#table_hidden .custom-control-input:checked').not('#table_select_all').length==0){
      $('#text_toast').html("No hay registros seleccionados");
      $('#toast').toast('show');
      return;
    }
    if(is_alert){
      $("#pdf-modal").modal('show');
      $('.table_data_container').addClass('d-none');
      Navarra.pdf.init();
    } else{
      Navarra.pdf.init_report_api();
    }
  }

  //Funciones para armar alertas
  function generate_alerts(){
    if($('#alert_mail').val()!=null){
      if($('#alert_mail').val().split('|').length==2){
        // Es un campo de capa contenedora
        var text_celd = "celdlayer";
      } else {
        // es campo del proyecto activo
        var text_celd = "celd";
      }
    }
    var alert_mail_key = $('#alert_mail').val();
    if(alert_mail_key==""){
      $('#text_toast').html("El campos \"Enviar a\" no puede estar vacío");
      $('#toast').toast('show');
      return;
    }
    var pattern_mail = /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b/i
    var wrong_mail_count = 0
    $('#table_hidden .custom-control-input:checked').not('#table_select_all').each(function(){
      var id_checked = $(this).attr('id').substring(13);
      var alert_mail_value = $('.'+text_celd+'_id'+id_checked+'.'+text_celd+'_key'+alert_mail_key).html();
      //verifica si es formato mail
      if(!pattern_mail.test(alert_mail_value)) {
        var alert_mail_value = $('.'+text_celd+'_id'+id_checked+'.'+text_celd+'_key'+alert_mail_key).addClass('custom_danger');
        wrong_mail_count++
      }
    });
    if(wrong_mail_count>0){
      $('#text_toast').html("Hay destinatarios que no cumplen el formato correcto de e-mail");
      $('#toast').toast('show');
      return;
    }
    show_pdf(true);
  }
</script>

<div class="card-header chart-header-bg-transparent py-1 px-2 card_data">
  <h7 class="d-inline" id="table_name_visible"><%= t('data') %></h7>
  <input type="text" class="d-none" disabled="true" id="table_id">
  <input type="text" class="d-none" disabled="true" id="table_name">
  <div class="d-inline">
    <a data-toggle="dropdown" id="save_table_button" href="#" aria-haspopup="true" aria-expanded="false" >
      <i class="fas fa-save ml-3" title="<%= t('table_elements.save_table') %>" style="cursor: pointer;" ></i>
    </a>
    <div class="dropdown-menu scroll p-2" aria-labelledby="save_table_button">
      <button class="btn btn-primary p-1 d-none" id="save_table_button_edit" type="button" onclick="save_table(false)" style="font-size: 0.8em"><%= t('common.save') %></button>
      <button class="btn btn-primary p-1 ml-2" type="button" onclick="save_table(true)" style="font-size: 0.8em"><%= t('common.save_as') %></button>
      <input type="text" class="string optional form-control form-control-sm d-inline border-0 w-auto" placeholder="Nombre de la tabla" id="table_new_name">
      <button class="btn btn-secondary p-1 ml-2" data-dismiss="modal" type="button" style="font-size: 0.8em"><%= t('common.cancel') %></button>
    </div>
  </div>
  <div class="d-inline">
    <a data-toggle="dropdown" id="share_table" href="#" aria-haspopup="true" aria-expanded="false"><i class="fas fa-share-square ml-2" onclick="open_share_table()" title="<%= t('table_elements.share_data') %>" style="cursor: pointer;" ></i>
    </a>
    <div class="dropdown-menu scroll p-2" aria-labelledby="share_table" style="max-height:44vh; overflow-y:auto;">
      <a data-toggle="modal" id="show_pdf" onclick="open_pdf_modal(event)" style="cursor: pointer;" class="dropdown-item text-left"><i class="fas fa-file-pdf mr-2"></i> <%= t('table_elements.pdf_file') %>
      </a>
          <div id="pdf_options" class="pl-5 d-none border-bottom border-secondary pb-1" style="font-size: 0.8em">
            <div class="d-flex">
              <label class="mt-1 mb-2 w-25"><%= t('table_elements.type') %></label>
              <select  id="pdf_type" class="form-control form-control-sm w-50 mr-3" style="font-size: 0.8em">
                <option value="template_report"><%= t('table_elements.report') %></option>
                <option value="template_alert"><%= t('table_elements.alert') %></option>
                <option value="template_notificacion"><%= t('table_elements.notification') %></option>
                <option value="template_recomendacion"><%= t('table_elements.recommendation') %></option>
              </select>
            </div>
            <div class="d-flex">
              <div class="custom-control custom-checkbox"  id="set_map_container" title="<%= t('table_elements.map') %>">
                <input class="custom-control-input" id="set_map" type="checkbox" checked= true>
                <label class="string optional control-label custom-control-label" for="set_map"></label>
                <h7 style="font-size:0.8em"><%= t('table_elements.map') %></h7>
              </div>
              <div class="custom-control custom-checkbox ml-5"  id="set_photos_container" title="<%= t('common.photos') %>">
                <input class="custom-control-input" id="set_photos" type="checkbox" checked=true >
                <label class="string optional control-label custom-control-label" for="set_photos"> </label>
                <h7 style="font-size:0.8em"><%= t('common.photos') %></h7>
              </div>
              <div class="custom-control custom-checkbox ml-5"  id="set_qr_container" title="<%= t('table_elements.generate_qr') %>">
                <input class="custom-control-input" id="set_qr" type="checkbox">
                <label class="string optional control-label custom-control-label" for="set_qr"> </label>
                <h7 style="font-size:0.8em"><%= t('table_elements.generate_qr') %></h7>
              </div>
            </div>
            <div class="d-flex">
              <div class="custom-control custom-checkbox ml-5"  id="set_subfield_table_container" title="<%= t('table_elements.table_mode') %>">
                <input class="custom-control-input" id="set_subfield_table" type="checkbox">
                <label class="string optional control-label custom-control-label" for="set_subfield_table"> </label>
                <h7 style="font-size:0.8em"><%= t('table_elements.table_mode') %></h7>
              </div>
              <div class="custom-control custom-checkbox ml-5"  id="set_subfield_grouped_container" title="<%= t('table_elements.agrouped_by_subforms') %>">
                <input class="custom-control-input" id="set_subfield_grouped" type="checkbox">
                <label class="string optional control-label custom-control-label" for="set_subfield_grouped"> </label>
                <h7 style="font-size:0.8em"><%= t('table_elements.agrouped_subforms') %></h7>
              </div>
            </div>
            <div class="text-right">
              <button class="btn btn-primary p-1 mt-2" style="font-size: 1em" type="button" onclick="show_pdf(false)"><%= t('common.generate') %></button>
            </div>
        </div>

      <% if can? :data, :alert %>
        <a data-toggle="modal" id="show_alert" onclick="open_alert_modal(event)" style="cursor: pointer;" class="dropdown-item text-left" ><i class="fas fa-bullhorn mr-2" ></i> <%= t('table_elements.notifications_by_email') %>
        </a>
        <div id="alert_options" class="pl-5 d-none border-bottom border-secondary pb-1" style="font-size: 0.8em">
          <div class="d-flex">
            <label class="mt-1 mb-0 w-25"><%= t('table_elements.message') %>:</label>
            <select  id="alert_type" class="form-control form-control-sm w-50 mr-3" style="font-size: 0.8em">
              <option value="Recomendación"><%= t('table_elements.recommendation') %></option>
              <option value="Alerta"><%= t('table_elements.alert') %></option>
              <option value="Notificación"><%= t('table_elements.notification') %></option>
            </select>
          </div>
          <div class="d-flex">
            <label class="mt-1 mb-0 w-25"><%= t('table_elements.send_to') %>:</label>
            <select id="alert_mail" class="form-control form-control-sm w-50 mt-1" style="font-size: 0.8em">
            </select>
          </div>
          <div class="d-flex">
            <label class="mt-1 mb-0 w-25"><%= t('table_elements.group_by') %>:</label>
            <select id="alert_group" class="form-control form-control-sm w-50 mt-1" style="font-size: 0.8em">
            </select>
          </div>
          <textarea class="form-control form-control-sm mt-2" id="alert_text" style="display: none;width:50vw; height:10vh;resize:none" placeholder="Ingrese el mensaje"></textarea>
          <div class="text-right">
            <button class="btn btn-primary p-1 mt-2" style="font-size: 1em" type="button" onclick="generate_alerts()"><%= t('common.generate') %></button>
          </div>
        </div>
      <% end %>
      <% if can? :data, :export %>
        <a onclick="export_all_table_to_excel()" style="cursor: pointer;" class="dropdown-item text-left">
          <i class="fas fa-file-excel mr-2"></i> <%= t('table_elements.export_all_to_excel') %>
        </a>
        <a onclick="table_to_excel_api()" style="cursor: pointer;" class="dropdown-item text-left">
          <i class="fas fa-download mr-2"></i> <%= t('table_elements.export_to_excel') %>
        </a>
        <a class="dropdown-item text-left" style="cursor: pointer;" data-toggle="modal" id="show_report"><i class="fas fa-clipboard-list mr-3" ></i> <%= t('table_elements.report') %>
        </a>
        <a onclick="download_geojson()" class="dropdown-item text-left" style="cursor: pointer;"><i class="fas fa-code mr-2" ></i> <%= t('table_elements.export_to_geojson') %>
        </a>
      <% end %>
    </div>
   </div>
  <div class="d-inline">
    <a data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false" id="dropdown-columns">
      <i class="fas fa-plus ml-2" style="font-size: 0.8em; cursor: pointer;" title="<%= t('table_elements.add_column') %>"></i>
    </a>
    <div class="dropdown-menu addcolumns scroll" aria-labelledby="dropdown-columns" style="max-height: 40vh; overflow-y: auto;">
      <% if !@fields.nil? %>
        <% @fields.each do |field| %>
          <% if field.field_type_id != 7 %>
            <!-- Verifica que tenga autorización para ver el campo -->
            <% roles_read = (JSON.parse(field.roles_read)).reject(&:blank?) %>
            <% if roles_read.include?(@user_rol.to_s) || roles_read.blank? %>
              <% if !field.popup %>
                <% if field.field_type_id == 11 %>
                  <a class="dropdown-item column_data is_subtitle" onclick="show_column(<%="'"+field.key+"'"%>)" id=<%="addcolumn_"+field.key %>><%= field.name %> <strong>(<%= t('field_types.subtitle') %>)</strong></a>
                <% else %>
                  <a class="dropdown-item column_data" onclick="show_column(<%="'"+field.key+"'"%>)" id=<%="addcolumn_"+field.key %>><%= field.name %></a>
                <% end %>
              <% else %>
                <a class="dropdown-item column_data d-none is_popup" onclick="show_column(<%="'"+field.key+"'"%>)" id=<%="addcolumn_"+field.key %>><%= field.name %></a>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="d-inline">
    <a data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false" id="dropdown-subfields">
      <i class="fas fa-clone ml-2" style="font-size: 0.8em; cursor: pointer;" title="<%= t('table_elements.add_subforms') %>"></i>
    </a>
    <div class="dropdown-menu addsubfields scroll" aria-labelledby="dropdown-subfields" style="max-height: 40vh; overflow-y: auto;">
      <% if !@fields.nil? %>
        <% @fields.each do |field| %>
          <% if field.field_type_id == 7 %>
            <!-- Verifica que tenga autorización para ver el campo -->
            <% roles_read = (JSON.parse(field.roles_read)).reject(&:blank?) %>
            <% if roles_read.include?(@user_rol.to_s) || roles_read.blank? %>
              <% field_name = "\'"+field.name+"\'" %>
                <a class="dropdown-item subfields_data" id="open_subform<%=field.id%>" onclick="show_subfield(<%='['+field.id.to_s+']'%>)"><%= field.name %></a>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="d-inline">
    <a data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false" id="dropdown-columns-layers">
      <i class="fas fa-layer-group ml-2" style="font-size: 0.8em; cursor: pointer;" title="<%= t('table_elements.add_layers_column') %>"></i>
    </a>
    <div class="dropdown-menu addcolumns_layers scroll" aria-labelledby="dropdown-columns-layers" style="max-height: 40vh; overflow-y: auto;">
      <% name_layer = ""%>
      <% if !@top_level_fields.nil? %>
        <% @top_level_fields.each do |field|  %>
          <!-- Verifica que tenga autorización para ver el campo -->
          <% roles_read = (JSON.parse(field.roles_read)).reject(&:blank?) %>
          <% if roles_read.include?(@user_rol.to_s) || roles_read.blank? %>
            <% if field.project_type.name_layer !=name_layer %>
              <ul class="nav nav-list">
                <li class="nav-header ml-1"><%= field.project_type.name %></li>
              </ul>
              <% name_layer = field.project_type.name_layer %>
            <% end %>
            <% if field.field_type_id != 7 %>
              <a class="dropdown-item column_data_layer" onclick="show_column_layer(<%="'"+field.key+"','"+field.project_type.id.to_s+"'"%>)" id_field_layer = <%="id"+field.id.to_s %> id=<%="addcolumn_layer|"+field.key+"|"+field.project_type.id.to_s %>><%= field.name %></a>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <a class="d-none" id="multiple_edit" onclick="show_item_info(0,false,true)">
    <i class="fas fa-edit ml-2" style="font-size: 0.8em; cursor: pointer;" title="<%= t('table_elements.edit_registers') %>"></i>
  </a>

  <input id="choose" type="text" class="string optional form-control form-control-sm d-inline p-0 border-0 ml-2" placeholder="Buscar" style="width: 0%; transition:1.5s;"  >
  <h6 type="text" class="selected_files_from_total d-inline"></h6>
  <input id="subform_search" type="text" class="string optional form-control form-control-sm d-inline p-0 border-0" style="width: 0%; transition:1.5s;" onchange="search_subform()" >
  <input type="text" class="filter_by_column d-none">
  <input type="text" class="order_by_column d-none">
  <input type="text" class="total_files d-none">

  <div class="view-data-container status-view-condensed" id="status-view">
    <i class="fas fa-window-maximize view-data" id="view-data-middle"></i>
    <i class="fas fa-square view-data" id="view-data-expanded"></i>
    <i class="fas fa-times view-data" id="view-data-hidden"></i>
  </div>

  <div class="mt-1" id="div_pagination" style="float: right;">
    <div class="dropdown" style="display: inline-block;">
      <h6 class="dropdown-toggle select_perpage m-0 mr-3"  id="dropdownMenuButton" data-toggle   ="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 0.8em; cursor: pointer;">
        20/pág
      </h6>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item option_perpage" href="#">20/pág</a>
        <a class="dropdown-item option_perpage" href="#">50/pág</a>
        <a class="dropdown-item option_perpage" href="#">100/pág</a>
        <a class="dropdown-item option_perpage" href="#">250/pág</a>
        <a class="dropdown-item option_perpage" href="#">500/pág</a>
        <a class="dropdown-item option_perpage" href="#">mostrar todo</a>
      </div>
    </div>
    <nav style="display: inline-block;">
      <ul class="pagination pagination-sm m-0" id="page_numbers"></ul>
    </nav>
  </div>
</div>
<div class="table-responsive div_table" id="table_visible_container" style="border-bottom: solid 2px rgba(0,0,0,0.6);">
  <table class="table table-hover m-0 card-body" id="table_hidden" style="font-size: 0.8em; text-align: center; border:solid 2px transparent;">
    <thead  id="thead_table_visible">
      <tr id="tr_visible">
        <th class="border-0 head_key#_action" id="first_th" style="padding-top: 0px; vertical-align: top; cursor: pointer;">
          <p style="color:white; margin-bottom: 0px"></p>
          <input type="text" class="d-none field_key" value="#_action">
        </th>
        <th class="border-0 head_key#_select" style="padding-top: 0px; vertical-align: top; white-space: nowrap;">
          <div class="custom-control custom-checkbox" title="<%= t('table_elements.select_all') %>">
            <input class="custom-control-input field_key" id="table_select_all" type="checkbox" value="#_select">
            <label class="string optional control-label custom-control-label" for="table_select_all"> </label>
          </div>
          <i class="fas fa-image icons invisible"></i>
        </th>
        <th class="border-0" style="padding-top: 0px; vertical-align: top; cursor: pointer;">#
          <input type="text" class="d-none field_key" value="#">
          <div id="layer_container_visible">
            <% if !@top_level_fields.nil? %>
              <% @top_level_fields.each do |field|  %>
                <!-- Verifica que tenga autorización para ver el campo -->
                <% roles_read = (JSON.parse(field.roles_read)).reject(&:blank?) %>
                <% if roles_read.include?(@user_rol.to_s) || roles_read.blank? %>
                  <% if field.field_type_id != 7 %>
                    <th class="header_column border-0 header_column_layer d-none " id=<%="columnfake_layer_"+field.key+"_"+field.project_type.id.to_s %> key_layer=<%="key"+field.key%> id_project_layer=<%=field.project_type_id%>>
                      <div class="th-hover custom_header">
                        <p class="custom_p_header" ><%= field.name %></p>
                        <div class="custom_div_table">
                          <i class="fas fa-times icons" onclick="hide_column_layer(<%="'"+field.key+"','"+field.project_type.id.to_s+"'"%>)"></i>
                          <input type="text" class="d-none field_key_layer" id=<%= "headlayer"+field.project_type.id.to_s+"|"+field.key %> value=<%= field.id %>>
                          <br/>
                          <% if field.field_type_id == 5 %>
                            <i class="<%="fa fa-plus icons custom_function_icon text-dark footer_sumlayer_key"+field.project_type.id.to_s+"|"+field.key%>" onclick="cal_column(<%="'"+field.key+"','"+field.project_type.id.to_s+"', 'layer' , 'sum'"%>)" title="<%= t('table_elements.sum') %>"></i>
                            <i class="<%="fa fa-greater-than icons custom_function_icon text-dark footer_maxlayer_key"+field.project_type.id.to_s+"|"+field.key%>" onclick="cal_column(<%="'"+field.key+"','"+field.project_type.id.to_s+"','layer' , 'max'"%>)" title="<%= t('table_elements.max') %>"></i>
                            <i class="<%="fa fa-less-than icons custom_function_icon text-dark footer_minlayer_key"+field.project_type.id.to_s+"|"+field.key%>"onclick="cal_column(<%="'"+field.key+"','"+field.project_type.id.to_s+"','layer' , 'min'"%>)" title="<%= t('table_elements.min') %>"></i>
                            <i class="<%="fa fa-divide icons custom_function_icon text-dark footer_avglayer_key"+field.project_type.id.to_s+"|"+field.key%>" onclick="cal_column(<%="'"+field.key+"','"+field.project_type.id.to_s+"','layer' , 'avg'"%>)" title="<%= t('table_elements.avg') %>"></i>
                          <% end %>
                        </div>
                      </div>
                    </th>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </th>
        <% if !@fields.nil? %>
          <% @fields.each do |field|  %>
            <!-- Verifica que tenga autorización para ver el campo -->
            <% roles_read = (JSON.parse(field.roles_read)).reject(&:blank?) %>
            <% if roles_read.include?(@user_rol.to_s) || roles_read.blank? %>
              <% if field.field_type_id != 7 %>
                <% if !field.popup %>
                  <th class="d-none header_column border-0" id=<%="columnfake_"+field.key %>>
                <% else %>
                  <th class="header_column border-0" id=<%="columnfake_"+field.key %>>
                <% end %>
                  <div class="th-hover custom_header">
                    <p class="custom_p_header"><%= field.name %></p>
                    <div class="custom_div_table">
                      <i class="fas fa-sort-alpha-down icons text-white" onclick="order_column(<%="'"+field.key+"'"%>)" title="<%= t('common.order') %>"></i>
                      <i class="fas fa-search icons text-white" onclick="search_column(<%="'"+field.key+"'"%>, <%="'"+field.name+"'"%>)" title="<%= t('common.search') %>"></i>
                      <i class="fas fa-times icons text-white" onclick="hide_column(<%="'"+field.key+"'"%>)" title="<%= t('common.close') %>"></i>
                      <input type="text" class="d-none field_key" id=<%= "field_key"+field.key %> value=<%= field.key %>>
                      <br/>
                      <% if field.field_type_id == 5 %>
                        <i class="<%="fa fa-plus icons custom_function_icon text-dark footer_sum_key"+field.key%>" onclick="cal_column(<%="'"+field.key+"','','', 'sum'"%>)" title="<%= t('table_elements.sum') %>"></i>
                        <i class="<%="fa fa-greater-than icons custom_function_icon text-dark footer_max_key"+field.key%>" onclick="cal_column(<%="'"+field.key+"','','' , 'max'"%>)" title="<%= t('table_elements.max') %>"></i>
                        <i class="<%="fa fa-less-than icons custom_function_icon text-dark footer_min_key"+field.key%>"onclick="cal_column(<%="'"+field.key+"','','' , 'min'"%>)" title="<%= t('table_elements.min') %>"></i>
                        <i class="<%="fa fa-divide icons custom_function_icon text-dark footer_avg_key"+field.key%>" onclick="cal_column(<%="'"+field.key+"','','' , 'avg'"%>)" title="<%= t('table_elements.avg') %>"></i>
                      <% end %>
                    </div>
                  </div>
                </th>
              <% else %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      </tr>
      <tr id="tr_subfields" class="d-none" >
        <th class="border-0 head_key#_action"></th>
        <th class="border-0 head_key#_select"></th>
        <th class="border-0"></th>
        <% if !@top_level_fields.nil? %>
          <% @top_level_fields.each do |field|  %>
            <!-- Verifica que tenga autorización para ver el campo -->
            <% roles_read = (JSON.parse(field.roles_read)).reject(&:blank?) %>
            <% if roles_read.include?(@user_rol.to_s) || roles_read.blank? %>
              <% if field.field_type_id != 7 %>
                <th class="header_column border-0 d-none" id=<%="subcolumnfake_layer_"+field.key+"_"+field.project_type.id.to_s %>>
                  <p class="custom_p_header"></p>
                </th>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <% if !@fields.nil? %>
          <% @fields.each do |field|  %>
            <!-- Verifica que tenga autorización para ver el campo -->
            <% roles_read = (JSON.parse(field.roles_read)).reject(&:blank?) %>
            <% if roles_read.include?(@user_rol.to_s) || roles_read.blank? %>
              <%if field.heatmap_field %>
                <input class="d-none field_label" value=<%=field.key%>>
              <% end %>
              <% if field.field_type_id != 7 %>
                <% if !field.popup %>
                  <th class="d-none header_column border-0" id=<%="subcolumnfake_"+field.key %>>
                <% else %>
                  <th class="header_column border-0" id=<%="subcolumnfake_"+field.key %>>
                <% end %>
                <p class="custom_p_header"></p>
              </th>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </tr>
    </thead>
    <tbody id="tbody_visible" class="project_data_div">
    </tbody>
    <tfoot id="tfoot_visible" class="font-weight-bold">
      <tr id="total_table"></tr>
    </tfoot>
  </table>
</div>
