<p id="notice"><%= notice %></p>

<h1>Dashboards</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dashboards.each do |dashboard| %>
      <tr>
        <td><%= dashboard.name %></td>
        <td><%= @project_type.id %></td>
        <td><%= link_to "Setting", project_type_dashboard_analytics_dashboards_path(@project_type.id,dashboard)%></td>
        <td><%= link_to 'Show', project_type_dashboard_path(@project_type.id,dashboard) %></td>
        <td><%= link_to 'Edit', edit_project_type_dashboard_path(@project_type, dashboard) %></td>
        <td><%= link_to 'Destroy', project_type_dashboard_path(@project_type, dashboard), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dashboard', new_project_type_dashboard_path(@project_type) %>
