<p id="notice"><%= notice %></p>

<h1>Dashboards</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dashboards.each do |dashboard| %>
      <tr>
        <td><%= dashboard.name %></td>
        <td><%= link_to  project_type_dashboard_analytics_dashboards_path(@project_type.id,dashboard) do %><h4><i class="fa fa-cog"></i></h4><% end %> </td>
        <td><%= link_to  project_type_dashboard_path(@project_type.id,dashboard) do %> <h4><i class="fa fa-eye"></i></h4> <% end %> </td>
        <td><%= link_to  edit_project_type_dashboard_path(@project_type, dashboard) do %> <h4><i class="fa fa-edit"></i></h4> <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Dashboard', new_project_type_dashboard_path(@project_type) %>
