<%= content_for :head do %>

  <script type="text/javascript">
    Navarra.dashboards.config.current_tenement = '<%= current_tenement_helper %>';
    Navarra.dashboards.config.user_name = '<%= current_user.name %>';
    <% if !@project_type.nil? %>
      Navarra.dashboards.config.project_type_id = <%= @project_type.id %>
      Navarra.dashboards.config.current_tenant = '<%= @current_tenant %>';
      Navarra.dashboards.config.name_layer = '<%= @project_type.name_layer %>';
      Navarra.dashboards.config.name_project = '<%= @project_type.name %>';
      Navarra.dashboards.config.type_geometry = '<%= @project_type.type_geometry %>';
    <% end %>
    <% if !@dashboard.nil? %>
      Navarra.dashboards.config.dashboard_id = <%= @dashboard.id %>
    <% end %>
    <% if @extent.length > 0 %>
      Navarra.dashboards.config.minx = <%= @extent[0].minx %>
      Navarra.dashboards.config.miny = <%= @extent[0].miny %>
      Navarra.dashboards.config.maxx = <%= @extent[0].maxx %>
      Navarra.dashboards.config.maxy = <%= @extent[0].maxy %>
    <% end %>

    <% if !@project_filters.nil? %>
      // Carga filtros por atributos y owner
      <% if !@user_attribute_filter.nil? %>
        Navarra.project_types.config.attribute_filters.push('<%= raw @user_attribute_filter %>');
      <% end %>
      Navarra.project_types.config.owner = <%= @project_filters.owner %>;
      // Carga filtros intercapa
      <% if !@project_filters.cross_layer_filter_id.nil? %>
        <% if !@user_cross_layer_filter.nil? %>
          Navarra.project_types.config.cross_layer_filter.push('<%= raw @user_cross_layer_filter %>');
        <% end %>
        Navarra.project_types.config.cross_layer_owner = <%= @cross_layer_filter.owner %>;
        Navarra.project_types.config.cross_layer = '<%= @cross_layer %>';
      <% end %>
    <% end %>

    //cerrar paneles laterales
    function hidde_sidebar(container){
      //Minimizar la pantalla
      if(container=='timeslider-container'){var height = height_time_slider;}
      if(container=='filter-container'){var height = height_filters;}
      if(container=='charts-container'){var height = height_charts;}
      $('#'+container).css('height','0px');
      $('#'+container).css('width',"100%");
      $('#'+container).css('left',"0%");
      if(container=="timeslider-container"){
        $('#'+container).css('overflow',"hidden");
      }
      $('#sidebar_all').removeClass(container);
      if(container!='charts-container' && ($('#sidebar_all').hasClass('charts-container') || $('#sidebar_all').hasClass('charts-container_expanded'))){
        setTimeout(function(){
          resize_graphics();
        }, 700);
      }
      $('#sidebar_all').removeClass(container+"_expanded");
      //si están los 3 paneles ocultos
      if(!$('#sidebar_all').hasClass('charts-container') && !$('#sidebar_all').hasClass('timeslider-container') && !$('#sidebar_all').hasClass('filter-container') && !$('#sidebar_all').hasClass('charts-container_expanded') && !$('#sidebar_all').hasClass('timeslider-container_expanded') && !$('#sidebar_all').hasClass('filter-container_expanded')){
        $(".leaflet-right").css("margin-right", "0%");
        $(".table_data_container").css("transition-delay", "0.2s");
        $(".table_data_container").css("width", "100%");
      } else {
        if(!$('#sidebar_all').hasClass('charts-container_expanded') && !$('#sidebar_all').hasClass('timeslider-container_expanded') && !$('#sidebar_all').hasClass('filter-container_expanded')){
          $(".leaflet-right").css("margin-right", "30%");
          $(".table_data_container").css("width", "70%");
        }
        if(!$('#sidebar_all').hasClass('charts-container_expanded') && !$('#status-view').hasClass('status-view-expanded') ){
          $(".table_data_container").css("width", "70%");
        }
        if(!$('#sidebar_all').hasClass('charts-container_expanded') && !$('#sidebar_all').hasClass('charts-container') && !$('#status-view').hasClass('status-view-expanded') ){
            $(".table_data_container").css("width", "100%");
        }
      }
    }

    //abrir paneles laterales
    function show_sidebar(container){
      //Pantalla standard
      //si están los 3 paneles ocultos
      if(!$('#sidebar_all').hasClass('charts-container') && !$('#sidebar_all').hasClass('timeslider-container') && !$('#sidebar_all').hasClass('filter-container') && !$('#sidebar_all').hasClass('charts-container_expanded') && !$('#sidebar_all').hasClass('timeslider-container_expanded') && !$('#sidebar_all').hasClass('filter-container_expanded')){
        $(".leaflet-right").css("margin-right", "30%");
        $(".table_data_container").css("width", "70%");
        $(".table_data_container").css("transition-delay", "0s");
      }
      var need_recalculate = false;
      var need_draw_charts = false;
      if(container == "charts-container"){
        if(!$('#sidebar_all').hasClass('charts-container') && !$('#sidebar_all').hasClass('charts-container_expanded')){
          // el charts-container estaba oculto, necesita recalcular gráficos
            need_recalculate = true;
        }
        if(!$('#sidebar_all').hasClass('charts-container') && $('#sidebar_all').hasClass('charts-container_expanded')){
            // el charts-container estaba expandido, necesita redibujar graficos
            need_draw_charts = true;
        }
      }
      $('#sidebar_all').removeClass(container+"_expanded");
      if(!$('#sidebar_all').hasClass('charts-container_expanded') && !$('#sidebar_all').hasClass('timeslider-container_expanded')  && !$('#sidebar_all').hasClass('filter-container_expanded')){
        $(".leaflet-right").css("margin-right", "30%");
        $(".table_data_container").css("width", "70%");
      }

      if(container=='timeslider-container'){var height = height_time_slider;}
      if(container=='filter-container'){var height = height_filters;}
      if(container=='charts-container'){var height = height_charts;}
      $('#'+container).css('height',height);
      $('#'+container).css('width',"100%");
      $('#'+container).css('left',"0%");
      if(container=="timeslider-container"){
        $('#'+container).css('overflow',"visible");
      }
      $('#sidebar_all').addClass(container);
      if(!$('#sidebar_all').hasClass('charts-container_expanded') && !$('#status-view').hasClass('status-view-expanded') ){
        $(".table_data_container").css("width", "70%");
      }
      if(!$('#sidebar_all').hasClass('charts-container') && !$('#sidebar_all').hasClass('charts-container_expanded') && !$('#status-view').hasClass('status-view-expanded')){
        $(".table_data_container").css("width", "100%");
      }
      if(need_recalculate){init_chart_doughnut();}
      if(need_draw_charts){draw_charts();}
      if($('#sidebar_all').hasClass('charts-container')){
        setTimeout(function(){
          resize_graphics();
        }, 700);
      }
    }

    //expandir paneles laterales
    function expand_sidebar(container){
      //Pantalla extendida
      $('#'+container).css('width',"200%");
      $('#'+container).css('left',"-100%");
      if(container=="charts-container" || $('#status-view').hasClass('status-view-expanded')){
        $(".table_data_container").css("width", "40%");
      }
      $(".leaflet-right").css("margin-right", "60%");
      if(container=="timeslider-container"){
        $('#'+container).css('overflow',"visible");
      }
      var need_draw_charts = false;
      if(container == "charts-container"){
        if($('#sidebar_all').hasClass('charts-container') && !$('#sidebar_all').hasClass('charts-container_expanded')){
          // el charts-container estaba expandido, necesita redibujar graficos
            need_draw_charts = true;
        }
      }
      $('#sidebar_all').addClass(container+"_expanded");
      $('#sidebar_all').removeClass(container);
      if(need_draw_charts){draw_charts();}
      if($('#sidebar_all').hasClass('charts-container_expanded')){
        setTimeout(function(){
          resize_graphics();
        }, 700);
      }
    }

//Funciones para modal de capas
function set_layer_modal() {
    $(".custom_dropdown_container").click(function (e) {
      e.stopPropagation();
    });
    var leaflet_layer_position = $('.leaflet-control-layers-toggle').offset();
    var top_position = (leaflet_layer_position.top-10)+"px";
    var left_position = (leaflet_layer_position.left-10)+"px";
    $('#custom_layer_control').css("top",top_position);
    $('#custom_layer_control').css("left",left_position);

    $('#custom_layer_control').on('shown.bs.dropdown', function () {
      $('.custom_dropdown_map').addClass('d-none');
      $('.status_panel').addClass('d-none');
    });
    $('#custom_layer_control').on('hidden.bs.dropdown', function () {
      if(!$('#status-view').hasClass('status-view-expanded')){
        $('.status_panel').removeClass('d-none');
      }
    });
  };

function select_layer(layer){
  if(layer!=undefined){
    layer_selected = layer;
  } else{
    layer_selected = event.target.id.substring(9);
  }

  check_layers = document.querySelectorAll('input.leaflet-control-layers-selector');
  for (l = 0; l < check_layers.length; l++) {
      var name_layer_project = $(check_layers[l]).next().html().substring(1);
      if(layer_selected == name_layer_project){
        $(check_layers[l]).click();
        $("#layersDropdown").click();
      }
  }
}

function open_layer_container(){
  $('.layer_div').removeClass('d-none');
  $('.div_filter').addClass('d-none');
  var id_title = event.target.id.split('-')[0];
  $('.custom_dropdown_map').not('#'+id_title).addClass('d-none')
  if($('#'+id_title).hasClass('d-none')){
    $('#'+id_title).removeClass('d-none');
  } else{
    $('#'+id_title).addClass('d-none');
  }
}

function switch_filtered_layer(){
  var id_switch = event.target.id.substring(7);
  var texto = $('#checkbox_'+id_switch).attr('id');
  if(texto.indexOf("-filtrados") > -1){
    texto = texto.replace("-filtrados","");
  } else{
    texto+= "-filtrados";
  }
  $('#checkbox_'+id_switch).prop("id",texto);
  $('#switch_'+id_switch).prop("id",texto.replace("checkbox_","switch_"));
  $('#checkboxlabel_'+id_switch).prop("for",texto);
  $('#switchlabel_'+id_switch).prop("for",texto.replace("checkbox_","switch_"));
  $('#checkboxlabel_'+id_switch).prop("id",texto.replace("checkbox_","checkboxlabel_"));
  $('#switchlabel_'+id_switch).prop("id",texto.replace("checkbox_","switchlabel_"));
  if($('#'+texto).prop("checked")){
    select_layer(id_switch);
    select_layer(texto.substring(9));
  }
}
// terminan funciones para modal de capas

//funciones para modal de fotos
function max_photo(){
  $('.photo').addClass('photo_max');
  $('.custom_modal_photos').addClass('custom_modal_photos_max');
}
function min_photo(){
  $('.photo').removeClass('photo_max');
  $('.custom_modal_photos').removeClass('custom_modal_photos_max');
}

//funciones para crear pdf_chart
function pdf_chart(){
  Navarra.pdf.init_pdf_charts();
}

</script>

<% end %>

<div class="fakeLoader"></div>

<% if !@project_type.nil? %>
  <div class="status_panel" style="display: flex; flex-direction: column;">
    <div class="status_panel_default">
      <% @status_project.each do |status|  %>
        <div class="d-flex mt-1 mb-1">
          <div class="status_panel_color" style = <%= "background:"+status.color %> ></div>
          <h6 class="status_panel_text d-inline"><%= status.name %></h6>
        </div>
      <% end %>
    </div>
    <div class="status_panel_colored_by_attr"></div>
</div>
<% end %>

<div class="modal fade" id="modal-window" tabindex="-1" role="dialog" aria-labelledby="chartModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<div id="filters-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>

<%= form_for :q, :html => {:class => 'd-flex justify-content-end', :method => :get} do |f| %>

  <div id="map" ondragover="Navarra.photos.allowDrop(event)" ondrop="Navarra.photos.drop(event)">
  </div>

  <div style="position: absolute;width: 30%; left: 70%" id="sidebar_all">

  <div class="sidebar pt-1 px-1 d-none" id="timeslider-container" style="position: relative; z-index: 500">
    <div class="card text-light chart-bg-transparent pb-0 pt-0" >
      <div class="card-header chart-header-bg-transparent py-1 px-2">
        <div class="view-data-container" >
        <i class="fas fa-window-maximize view-data" id="view-timeslider" onclick="show_sidebar('timeslider-container')"></i>
        <i class="fas fa-square view-data" onclick="expand_sidebar('timeslider-container')" ></i>
        <i class="fas fa-times view-data" onclick="hidde_sidebar('timeslider-container')"></i>
      </div>
        Rango Temporal
      </div>
      <div>
        <div class="card-body p-1" id="filter-time-body">
          <i id="time_slider_item-save" class="fas fa-calendar-check" style="font-size: 1.5em ; position: absolute; left: 80%; color: rgba(250,250,250,0.8); cursor:pointer; " onclick="set_time_slider_filter()"></i>
          <i id="time_slider_item-clear" class="fas fa-calendar-times " style="font-size: 1.5em; color: rgba(250,250,250,0.8); position: absolute; left: 90%; cursor:pointer;" onclick="clear_time_slider_filter()"></i>
        <div>
          <p class="m-0 mt-2">Formularios</p>
            <select class="form-control form-control-sm" id="time_slider_step_forms" onchange="     change_step_time_slider('forms')" style="cursor:pointer; display: inline-block; width: 31%; padding: 1px!important;">
                <option value="day" label="Día"></option>
                <option value="week" label="Semana"></option>
                <option value="month" label="Mes"></option>
                <option value="year" label="Año"></option>
              </select>
            <input class="string optional form-control form-control-sm" type="text" id="time_slider_from_forms" style="cursor:pointer; display: inline-block; width: 31%;">
              <input class="string optional form-control form-control-sm" type="text" id="time_slider_to_forms" style="cursor: pointer;display: inline-block; width: 31%;">
          </div>
          <div>
            <p class="m-0">Sub Formularios</p>
            <select class="form-control form-control-sm" id="time_slider_step_subforms" onchange="     change_step_time_slider('subforms')" style="cursor:pointer; display: inline-block; width: 31%; padding: 1px!important;">
                <option value="day" label="Día"></option>
                <option value="week" label="Semana"></option>
                <option value="month" label="Mes"></option>
                <option value="year" label="Año"></option>
              </select>
            <input class="string optional form-control form-control-sm" type="text" id="time_slider_from_subforms" style="cursor:pointer; display: inline-block; width: 31%;">
              <input class="string optional form-control form-control-sm" type="text" id="time_slider_to_subforms" style="cursor: pointer;display: inline-block; width: 31%;">
          </div>
        </div>
      </div>
    </div>
    </div>
  <div class="sidebar pt-1 px-1 d-none" id="filter-container">
    <div class="card text-light chart-bg-transparent pb-0 pt-0">
      <div class="card-header chart-header-bg-transparent py-1 px-2">
        <div class="view-data-container status-view-middle" id="status-view-sidebar" >
        <i class="fas fa-window-maximize view-data" id="view-filters" onclick="show_sidebar('filter-container')"></i>
        <i class="fas fa-square view-data" onclick="expand_sidebar('filter-container')"></i>
        <i class="fas fa-times view-data" onclick="hidde_sidebar('filter-container')"></i>
      </div>
        Filtros Activos
      </div>
      <div  style="overflow-x: hidden;">
        <div class="card-body py-1 px-2" id="filter-body">
        </div>
      </div>
    </div>
  </div>
    <% if can? :graphics, :visualizer %>
    <div class="sidebar pt-1 px-1 d-none" id="charts-container">
    <div class="card text-light chart-bg-transparent pb-0 pt-0">
        <div class="card-header chart-header-bg-transparent py-1 px-2">
          <div class="view-data-container status-view-middle" id="status-view-sidebar" >
            <i class="fas fa-file-pdf view-data" id="pdf-charts" onclick="pdf_chart()"></i>
            <i class="fas fa-window-maximize view-data" id="view-charts" onclick="show_sidebar('charts-container')"></i>
            <i class="fas fa-square view-data" onclick="expand_sidebar('charts-container')"></i>
            <i class="fas fa-times view-data" onclick="hidde_sidebar('charts-container')"></i>
          </div>
          Indicadores Gráficos
        </div>
        <div class="graphics d-flex align-content-start flex-wrap" id="graph"></div>
        </div>
      </div>
    <% end %>
  </div>
  </div>


   <% if can? :data, :visualizer %>
    <div class="pt-1 px-1 table_data_container position-absolute" style="top: 97vh; left: 0%; width: 100%; z-index: 401; transition: 1s; transition-delay: 0.3s">
      <div class="card text-light chart-bg-transparent mb-2" id="collapse_data" style="overflow-y: hidden; max-height: 0vh; transition:0.8s; border: none;">
        <%= render :partial => 'project_data' %>
      </div>
    </div>
  <% end %>
<% end %>

<%= render :partial =>'project_data_report' %>

<%= render :partial =>'project_data_info' %>

<div class="nav-item dropdown" id="custom_layer_control" style="position: absolute;z-index: 3000;">
  <a class="nav-link dropdown-toggle nocaret" href="#" id="layersDropdown" title= "Administrador de Capas" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 30px; height: 30px; margin: 10px"></a>
  <div class="dropdown-menu custom_dropdown_container" aria-labelledby="layersDropdown" style="z-index: 2000; width: max-content">
    <a class="dropdown-item" href="#" id="basemaps_container-title" onclick="open_layer_container()">Mapas Base</a>
    <div class="modal-content custom_dropdown custom_dropdown_map d-none" id="basemaps_container"></div>

    <a class="dropdown-item" href="#" id="activeproject_container-title" onclick="open_layer_container()">Capa Activa</a>
    <div class="modal-content custom_dropdown custom_dropdown_map d-none" id="activeproject_container"></div>

    <a class="dropdown-item" href="#" id="projects_container-title" onclick="open_layer_container()">Otras Capas</a>
    <div class="modal-content custom_dropdown custom_dropdown_map d-none" id="projects_container"></div>

    <a class="dropdown-item" href="#" id="externallayers_container-title" onclick="open_layer_container()">Capas Externas</a>
    <div class="modal-content custom_dropdown custom_dropdown_map d-none" id="externallayers_container"></div>
  </div>
</div>
<% if can? :data, :edit_geom %>
  <input class="d-none" id="edit_geom_control" value="true">
<%else %>
  <input class="d-none" id="edit_geom_control" value="false">
<% end %>
<% geo_restriction_val = true %>
<% if !@project_type.nil? %>
  <% if @project_type.geo_restriction > 0 %>
    <% geo_restriction_val = false %>
  <% end %>
<% end %>
<% if (can? :data, :new and geo_restriction_val) %>
  <input class="d-none" id="new_geom_control" value="true">
<%else %>
  <input class="d-none" id="new_geom_control" value="false">
<% end %>
<% if can? :data, :new_subform %>
  <input class="d-none" id="new_subform_control" value="true">
<%else %>
  <input class="d-none" id="new_subform_control" value="false">
<% end %>

<div id="photos-modal" class="modal fade card text-light chart-bg-transparent pb-0 pt-0 custom_modal_photos" data-backdrop="false" draggable=true ondragstart="Navarra.photos.drag_photos(event)">
  <div class="modal-dialog m-0 mw-100">
    <div class="modal-content" style="background:rgba(39, 43, 48, 0.8)">
      <div class="card-header chart-header-bg-transparent py-1 px-2">
        <p id="photo_title" class="m-1 d-inline"></p>
        <div class="view-data-container" >
            <i class="fas fa-window-maximize view-data" onclick="min_photo()"></i>
            <i class="fas fa-square view-data" onclick="max_photo()"></i>
            <i class="fas fa-times view-data" type="button" class="close" data-dismiss="modal" aria-label="Close"></i>
          </div>
      </div>
      <div class="modal-body p-1">
        <div class="slider_photos_container">
          <div class="photo_container"></div>
          <div class="date_container"></div>
          <div class="photo_mini_container"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="qr-modal" class="modal fade card text-light pb-0 pt-0 custom_modal_qr" data-backdrop="false">
  <div class="modal-dialog m-0 mw-100">
    <div class="modal-content">
      <div class="card-header chart-header-bg-transparent py-1 px-2">
        <p class="m-1 d-inline">QR Generado</p>
        <div class="view-data-container" >
            <i class="fas fa-times view-data" type="button" class="close" data-dismiss="modal" aria-label="Close"></i>
        </div>
      </div>
      <div class="modal-body p-4 text-center" style="background:white" id="qr_modal_body">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="actions text-right">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      <button type="button" class="btn btn-primary" onclick="Navarra.pdf.download_qr()">Descargar</button>
    </div>
  </div>
</div>

<div id="pdf-modal" class="modal fade card text-light chart-bg-transparent pb-0 pt-0 custom_modal_pdf" data-backdrop="false">
  <div class="modal-dialog m-0 mw-100">
    <div class="modal-content white_transparent" style="min-height:89.5vh">
      <div class="card-header chart-header-bg-transparent py-1 px-2 custom_pdf_header">
        <div class="view-data-container" >
          <a data-toggle="dropdown" id="mails_alert_button" href="#" aria-haspopup="true" aria-expanded="true" class="d-none">
            <i class="fas fa-eye view-data"  title="Mostrar otro destinatario" ></i>
          </a>
          <div class="dropdown-menu scroll p-2" id="dropdown_alert_mails" aria-labelledby="mails_alert_button" style="max-height: 80vh; max-width: 80%;overflow-y: auto; position: absolute;">
          </div>
            <i class="fas fa-envelope view-data d-none" id="send_alerts_button" title="Enviar" onclick="Navarra.pdf.send_alerts()" ></i>
            <i class="fas fa-times view-data" type="button" class="close" onclick="Navarra.pdf.close_pdf()" aria-label="Close"></i>
          </div>
      </div>
      <div class="modal-body p-1 pl-4 pr-4 pt-2" style="position: relative; background: white">
         <div class="alert_header text-center p-4">
          <img class="logo_coorp_pdf_src" style="max-width:35%">
          <div style = "margin-top: 30px;" id="header_alert_text">
            <p class="pdf_title" id="message_type" style="display: inline-block; font-size: 28px;margin: 0px; color: red; font-weight: bold;"></p>
            <br/>
            <p class="pdf_created" style="font-size:0.8em; display: inline-block; margin: 0px; color: rgb(16,16,16)"></p>
          </div>
          <div style="width: 100%; margin-top: 10px; display: inline-block;">
            <a href="http://www.gisworking.com/" target="_blank" style="text-decoration: none;">
              <p style="font-size: 0.5em; margin: 8px 0px 0px 20px; line-height:0px; color: #666">powered by</p>
              <img id="logo_gw2" style="width:20%; margin:0px" %>
            </a>
          </div>
        </div>
        <div id="pdf_body"></div>
      </div>
    </div>
  </div>
</div>

<!-- Toast-->
<div class="toast custom_toast" id="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000">
  <div class="toast-header">
    <%= image_tag ENV['HORIZONTAL_LOGO'], class: 'mr-auto', height:"30" %>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    <h7 id="text_toast"></h7>
  </div>
</div>

<!-- Alert Decision-->
<div class="toast custom_toast" id="toast_decision" role="alert" data-autohide="false" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <%= image_tag ENV['HORIZONTAL_LOGO'], class: 'mr-auto', height:"30" %>
  </div>
  <div class="toast-body">
    <h7 id="text_alert_decision"></h7>
    <br>
    <button class="btn btn-secondary p-0 m-1" id="decision_yes" type="button" style="width: 35px; outline: none;">SI</button>
    <button class="btn btn-secondary p-0" data-dismiss="toast" id="decision_no" type="button" style="width: 35px; outline: none;">NO</button>
  </div>
</div>
