<%= content_for :head do %>

  <script type="text/javascript">
    Navarra.dashboards.config.current_tenement = '<%= current_tenement_helper %>';
    Navarra.dashboards.config.user_name = '<%= current_user.name %>';
    <% if !@project_type.nil? %>
      Navarra.dashboards.config.project_type_id = <%= @project_type.id %>
      Navarra.dashboards.config.current_tenant = '<%= @current_tenant %>';
      Navarra.dashboards.config.name_layer = '<%= @project_type.name_layer %>';
      Navarra.dashboards.config.type_geometry = '<%= @project_type.type_geometry %>';
    <% end %>
    <% if !@dashboard.nil? %>
      Navarra.dashboards.config.dashboard_id = <%= @dashboard.id %>
    <% end %>
    <% if @extent.length > 0  %>
      Navarra.dashboards.config.minx = <%= @extent[0].minx %>
      Navarra.dashboards.config.miny = <%= @extent[0].miny  %>
      Navarra.dashboards.config.maxx = <%= @extent[0].maxx  %>
      Navarra.dashboards.config.maxy = <%= @extent[0].maxy %>
    <% end %>
    <% if @project_filters %>
      <% @project_filters.each do |s| %>
        <% if !s.properties.nil? %>
          <% s.properties.each do |p|  %>
            Navarra.project_types.config.filter_option.push('<%= p[0] %>');
            Navarra.project_types.config.filter_option.push('=');
            Navarra.project_types.config.filter_option.push('<%= p[1] %>');
          <% end %>
        <% end %>
        Navarra.project_types.config.owner = <%= s.owner %>;
      <% end %>
    <% end %>
  </script>

<% end %>

<div class="fakeLoader"></div>

<div class="modal fade" id="modal-window" tabindex="-1" role="dialog" aria-labelledby="chartModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<div id="filters-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>

<%= form_for :q, :html => {:class => 'd-flex justify-content-end', :method => :get} do |f| %>

  <div id="map">
    <div id="rose"></div>
  </div>

  <div class="sidebar pt-2 px-2">
    <div class="card text-light chart-bg-transparent mb-2" id="filter-container">
      <div class="card-header chart-header-bg-transparent py-1 px-2">
        <button class="close" type="button" data-toggle="collapse" data-target="#collapse_filter" aria-expanded="true" aria-controls="collapse_filter">
          <i class="fas fa-window-minimize" style="font-size: 15px"></i>
        </button>
        Filtros Activos
      </div>
      <div class="collapse show" id="collapse_filter">
        <div class="card-body" id="filter-body"></div>
      </div>
    </div>

    <% if can? :graphics, :visualizer %>
      <div class="graphics d-flex align-content-start flex-wrap"></div>
    <% end %>

    <i class="fas fa-arrow-alt-circle-left" id="view"></i>

  </div>

  <div class="sidebar pt-2 px-2" style="position: absolute;top: 60px; left: 5%; width: 62%;height: auto;background: transparent;">
     
    <div class="card text-light chart-bg-transparent mb-2" id="collapse_data">
      <div class="card-header chart-header-bg-transparent py-1 px-2">
        Datos
      </div>
          <%= render :partial =>'project_data' %>
    </div>
  </div>

<% end %>
