<%= content_for :head do %>

  <script type="text/javascript">
    Navarra.dashboards.config.project_type_id = <%= @project_type.id %>
    Navarra.dashboards.config.current_tenant = '<%= @current_tenant %>';
    Navarra.dashboards.config.name_layer = '<%= @project_type.name_layer %>';
    Navarra.dashboards.config.dashboard_id = <%= @dashboard_id %>
    Navarra.dashboards.config.type_geometry = '<%= @project_type.type_geometry %>';

    Navarra.dashboards.config.minx = <%= @extent[0].minx %>
    Navarra.dashboards.config.miny = <%= @extent[0].miny  %>
    Navarra.dashboards.config.maxx = <%= @extent[0].maxx  %>
    Navarra.dashboards.config.maxy = <%= @extent[0].maxy %>

<% @projects.each do |a|%>
    <%if !a.the_geom.nil?  %>
    <% if @project_type.type_geometry != 'Polygon' %>
    Navarra.dashboards.config.lat.push( <%= a.the_geom.y %>)
    Navarra.dashboards.config.lon.push( <%= a.the_geom.x %>)
<% end %>
<% end %>
<% end %>
  </script>
<% end %>

<div class="fakeLoader"></div>

<div id="firewall-content"></div>

<div id="modal-window" class="modal fade" >
  <div class="modal-dialog" id="graphics_modal" role="document">
    <div class="modal-content"></div>
  </div>
</div>
<%= form_for :q, :method => :get  do |f| %>

  <div id="wait" class="modal fade">
    <i class="fa fa-pie-chart fa-5x loadingBar"></i>
  </div>

<div class="row">
  <div id="map"></div>
  <div class="graphics card-columns"></div>
</div>

  <!-- BOTONES FILTER HEATMAP COLOUR -->
  <div class="col-md-3 form-row" id="active-filters">
    <div class="add_field_point_color col-md-12"></div>
    <div class="add_filters col-md-12"></div>
    <div class="add_heatmap col-md-12"></div>
  </div>

<% end %>
