<%= content_for :head do %>
  <script type="text/javascript">
    Navarra.dashboards.config.project_type_id = <%= @project_type.id %>
<% @projects.each do |a|%>
    <%if !a.the_geom.nil?  %>
    Navarra.dashboards.config.lat.push( <%= a.the_geom.y %>)
Navarra.dashboards.config.lon.push( <%= a.the_geom.x %>)
<% end %>
<% end %>
  </script>  
<% end %>
<%= form_for :q, :method => :get  do |f| %>
  <div class="row">
    <div class="col-md-12">
      <div id="map"></div>
    </div>
  </div>
        <div class="clearfix"><br></div>
    <div class="row">
      <div class=" graphics">

      </div>
    </div>


  <% end %>
