<%= content_for :head do %>

  <script type="text/javascript">
    Navarra.dashboards.config.current_tenement = '<%= current_tenement_helper %>';
    Navarra.dashboards.config.user_name = '<%= current_user.name %>';
    <% if !@project_type.nil? %>
      Navarra.dashboards.config.project_type_id = <%= @project_type.id %>
      Navarra.dashboards.config.current_tenant = '<%= @current_tenant %>';
      Navarra.dashboards.config.name_layer = '<%= @project_type.name_layer %>';
      Navarra.dashboards.config.type_geometry = '<%= @project_type.type_geometry %>';
    <% end %>
    <% if !@dashboard.nil? %>
      Navarra.dashboards.config.dashboard_id = <%= @dashboard.id %>
    <% end %>
    <% if @extent.length > 0  %>
      Navarra.dashboards.config.minx = <%= @extent[0].minx %>
      Navarra.dashboards.config.miny = <%= @extent[0].miny  %>
      Navarra.dashboards.config.maxx = <%= @extent[0].maxx  %>
      Navarra.dashboards.config.maxy = <%= @extent[0].maxy %>
    <% end %>
    <% if @project_filters %>
      <% @project_filters.each do |s| %>
        <% if !s.properties.nil? %>
          <% s.properties.each do |p|  %>
            Navarra.project_types.config.filter_option.push('<%= p[0] %>');
            Navarra.project_types.config.filter_option.push('=');
            Navarra.project_types.config.filter_option.push('<%= p[1] %>');
          <% end %>
        <% end %>
        Navarra.project_types.config.owner = <%= s.owner %>;
      <% end %>
    <% end %>
  </script>

<% end %>

<div class="fakeLoader"></div>

<div class="modal fade" id="modal-window" tabindex="-1" role="dialog" aria-labelledby="chartModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<div id="filters-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>

<div id="time-slider-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="chartModalLabel"> Time Slider </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-row">
          <div class="col-md-6">
            <label class="string optional control-label" for="time_slider_step">Intervalo</label>
            <select class="form-control form-control-sm" id="time_slider_step" onchange="change_step_time_slider()" style="cursor:pointer;">
              <option value="day" label="Día"></option>
              <option value="week" label="Semana"></option>
              <option value="month" label="Mes"></option>
              <option value="year" label="Año"></option>
            </select>
          </div>
        </div>  
        <div class="form-row mt-3">
          <div class="col-md-6">
            <label class="string optional control-label" for="time_slider_from">Desde</label>
            <input class="string optional form-control form-control-sm" type="text" id="time_slider_from" style="cursor:pointer">
          </div>
          <div class="col-md-6">
            <label class="string optional control-label" for="time_slider_to">Hasta</label>
            <input class="string optional form-control form-control-sm" type="text" id="time_slider_to" style="cursor: pointer;">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <input type="button"  value="Guardar" onclick="set_time_slider()" class="btn btn-primary">
      </div>
    </div>
  </div>
</div>

<%= form_for :q, :html => {:class => 'd-flex justify-content-end', :method => :get} do |f| %>

  <div id="map">
    <div id="rose"></div>
  </div>

  <div class="sidebar pt-2 px-2">
    <div class="card text-light chart-bg-transparent mb-2" id="filter-container">
      <div class="card-header chart-header-bg-transparent py-1 px-2">
        <button class="close" type="button" data-toggle="collapse" data-target="#collapse_filter" aria-expanded="true" aria-controls="collapse_filter">
          <i class="fas fa-window-minimize" style="font-size: 15px"></i>
        </button>
        Filtros Activos
      </div>
      <div class="collapse show" id="collapse_filter">
        <div class="card-body" id="filter-body">
          <input type="text" class="d-none" id="time-slider-from-value">
          <input type="text" class="d-none" id="time-slider-to-value">
        </div>
      </div>
    </div>

    <% if can? :graphics, :visualizer %>
      <div class="graphics d-flex align-content-start flex-wrap"></div>
    <% end %>

    <i class="fas fa-arrow-alt-circle-left view-normal" id="view"></i>

  </div>

  <div class="pt-2 px-2 table_data_container position-absolute" style="top: 97.5vh; left: 0%; width: 70%; z-index: 401; background-color: rgba(0, 0, 0, 0.2); transition: 1s; transition-delay: 0.3s">
    <i class="fas fa-arrow-alt-circle-up view-condensed" id="view-data"></i>
    <div class="card text-light chart-bg-transparent mb-2" id="collapse_data" style="overflow-y: hidden; max-height: 0vh; transition:0.8s; border: none;">
        <%= render :partial =>'project_data', :locals=>{:projects_data_local => @projects} %>
    </div>
  </div>
<% end %>
