<%= content_for :head do %>

  <script type="text/javascript">
    Navarra.dashboards.config.current_tenement = '<%= current_tenement_helper %>';
    Navarra.dashboards.config.user_name = '<%= current_user.name %>';
    <% if !@project_type.nil? %>
      Navarra.dashboards.config.project_type_id = <%= @project_type.id %>
      Navarra.dashboards.config.current_tenant = '<%= @current_tenant %>';
      Navarra.dashboards.config.name_layer = '<%= @project_type.name_layer %>';
      Navarra.dashboards.config.name_project = '<%= @project_type.name %>';
      Navarra.dashboards.config.type_geometry = '<%= @project_type.type_geometry %>';
    <% end %>
    <% if !@dashboard.nil? %>
      Navarra.dashboards.config.dashboard_id = <%= @dashboard.id %>
    <% end %>
    <% if @extent.length > 0 %>
      Navarra.dashboards.config.minx = <%= @extent[0].minx %>
      Navarra.dashboards.config.miny = <%= @extent[0].miny %>
      Navarra.dashboards.config.maxx = <%= @extent[0].maxx %>
      Navarra.dashboards.config.maxy = <%= @extent[0].maxy %>
    <% end %>

    <% if !@project_filters.nil? %>
      // Carga filtros por atributos y owner
      <% if !@user_attribute_filter.nil? %>
        Navarra.project_types.config.attribute_filters.push('<%= raw @user_attribute_filter %>');
      <% end %>
      Navarra.project_types.config.owner = <%= @project_filters.owner %>;
      // Carga filtros intercapa
      <% if !@project_filters.cross_layer_filter_id.nil? %>
        <% if !@user_cross_layer_filter.nil? %>
          Navarra.project_types.config.cross_layer_filter.push('<%= raw @user_cross_layer_filter %>');
        <% end %>
        Navarra.project_types.config.cross_layer_owner = <%= @cross_layer_filter.owner %>;
        Navarra.project_types.config.cross_layer = '<%= @cross_layer %>';
      <% end %>
    <% end %>

    //cerrar paneles laterales
    function hidde_sidebar(container){
      //Minimizar la pantalla
      if(container=='timeslider-container'){var height = height_time_slider;}
      if(container=='filter-container'){var height = height_filters;}
      if(container=='charts-container'){var height = height_charts;}
      $('#'+container).css('height','0px');
      $('#'+container).css('width',"100%");
      $('#'+container).css('left',"0%");
      if(container=="timeslider-container"){
        $('#'+container).css('overflow',"hidden");
      }
      $('#sidebar_all').removeClass(container);
      if(container!='charts-container' && ($('#sidebar_all').hasClass('charts-container') || $('#sidebar_all').hasClass('charts-container_expanded'))){
        setTimeout(function(){
          resize_graphics();
        }, 700);
      }
      $('#sidebar_all').removeClass(container+"_expanded");
      //si están los 3 paneles ocultos
      if(!$('#sidebar_all').hasClass('charts-container') && !$('#sidebar_all').hasClass('timeslider-container') && !$('#sidebar_all').hasClass('filter-container') && !$('#sidebar_all').hasClass('charts-container_expanded') && !$('#sidebar_all').hasClass('timeslider-container_expanded') && !$('#sidebar_all').hasClass('filter-container_expanded')){
        $(".leaflet-right").css("margin-right", "0%");
        $(".table_data_container").css("transition-delay", "0.2s");
        $(".table_data_container").css("width", "100%");
      } else {
        if(!$('#sidebar_all').hasClass('charts-container_expanded') && !$('#sidebar_all').hasClass('timeslider-container_expanded') && !$('#sidebar_all').hasClass('filter-container_expanded')){
          $(".leaflet-right").css("margin-right", "30%");
          $(".table_data_container").css("width", "70%");
        }
      }
    }

    //abrir paneles laterales
    function show_sidebar(container){
      //Pantalla standard
      //si están los 3 paneles ocultos
      if(!$('#sidebar_all').hasClass('charts-container') && !$('#sidebar_all').hasClass('timeslider-container') && !$('#sidebar_all').hasClass('filter-container') && !$('#sidebar_all').hasClass('charts-container_expanded') && !$('#sidebar_all').hasClass('timeslider-container_expanded') && !$('#sidebar_all').hasClass('filter-container_expanded')){
        $(".leaflet-right").css("margin-right", "30%");
        $(".table_data_container").css("width", "70%");
        $(".table_data_container").css("transition-delay", "0s");
      }
      var need_recalculate = false;
      var need_draw_charts = false;
      if(container == "charts-container"){
        if(!$('#sidebar_all').hasClass('charts-container') && !$('#sidebar_all').hasClass('charts-container_expanded')){
          // el charts-container estaba oculto, necesita recalcular gráficos
            need_recalculate = true;
        }
        if(!$('#sidebar_all').hasClass('charts-container') && $('#sidebar_all').hasClass('charts-container_expanded')){
            // el charts-container estaba expandido, necesita redibujar graficos
            need_draw_charts = true;
        }
      }
      $('#sidebar_all').removeClass(container+"_expanded");
      if(!$('#sidebar_all').hasClass('charts-container_expanded') && !$('#sidebar_all').hasClass('timeslider-container_expanded')  && !$('#sidebar_all').hasClass('filter-container_expanded')){
        $(".leaflet-right").css("margin-right", "30%");
        $(".table_data_container").css("width", "70%");
      }
      if(container=='timeslider-container'){var height = height_time_slider;}
      if(container=='filter-container'){var height = height_filters;}
      if(container=='charts-container'){var height = height_charts;}
      $('#'+container).css('height',height);
      $('#'+container).css('width',"100%");
      $('#'+container).css('left',"0%");
      if(container=="timeslider-container"){
        $('#'+container).css('overflow',"visible");
      }
      $('#sidebar_all').addClass(container);
      if(need_recalculate){init_chart_doughnut();}
      if(need_draw_charts){draw_charts();}
      if($('#sidebar_all').hasClass('charts-container')){
        setTimeout(function(){
          resize_graphics();
        }, 700);
      }
    }

    //expandir paneles laterales
    function expand_sidebar(container){
      //Pantalla extendida
      $('#'+container).css('width',"200%");
      $('#'+container).css('left',"-100%");
      $(".table_data_container").css("width", "40%");
      $(".leaflet-right").css("margin-right", "60%");
      if(container=="timeslider-container"){
        $('#'+container).css('overflow',"visible");
      }
      var need_draw_charts = false;
      if(container == "charts-container"){
        if($('#sidebar_all').hasClass('charts-container') && !$('#sidebar_all').hasClass('charts-container_expanded')){
          // el charts-container estaba expandido, necesita redibujar graficos
            need_draw_charts = true;
        }
      }
      $('#sidebar_all').addClass(container+"_expanded");
      $('#sidebar_all').removeClass(container);
      if(need_draw_charts){draw_charts();}
      if($('#sidebar_all').hasClass('charts-container_expanded')){
        setTimeout(function(){
          resize_graphics();
        }, 700);
      }
    }

//Funciones para modal de capas
$(document).ready(function () {
    $(".custom_dropdown_container").click(function (e) {
      e.stopPropagation();
    });
    var leaflet_layer_position = $('.leaflet-control-layers-toggle').offset();
    var top_position = (leaflet_layer_position.top-10)+"px";
    var left_position = (leaflet_layer_position.left-10)+"px";
    $('#custom_layer_control').css("top",top_position);
    $('#custom_layer_control').css("left",left_position);
  });

function select_layer(layer){
  if(layer!=undefined){
    layer_selected = layer;
  } else{
    layer_selected = event.target.id.substring(9);
  }
  
  check_layers = document.querySelectorAll('input.leaflet-control-layers-selector');
  for (l = 0; l < check_layers.length; l++) {
      var name_layer_project = $(check_layers[l]).next().html().substring(1);
      if(layer_selected == name_layer_project){
        $(check_layers[l]).click();
        $("#layersDropdown").click();
      }
  }
}

function open_layer_container(){
  var id_title = event.target.id.split('-')[0];
  if($('#'+id_title).hasClass('d-none')){
    $('#'+id_title).removeClass('d-none');
  } else{
    $('#'+id_title).addClass('d-none');
  } 
}

function switch_filtered_layer(){
  var id_switch = event.target.id.substring(7);
  var texto = $('#checkbox_'+id_switch).attr('id');
  if(texto.indexOf("-filtrados") > -1){
    texto = texto.replace("-filtrados","");
  } else{
    texto+= "-filtrados";
  }
  $('#checkbox_'+id_switch).prop("id",texto);
  $('#switch_'+id_switch).prop("id",texto.replace("checkbox_","switch_"));
  $('#checkboxlabel_'+id_switch).prop("for",texto);
  $('#switchlabel_'+id_switch).prop("for",texto.replace("checkbox_","switch_"));
  $('#checkboxlabel_'+id_switch).prop("id",texto.replace("checkbox_","checkboxlabel_"));
  $('#switchlabel_'+id_switch).prop("id",texto.replace("checkbox_","switchlabel_"));
  if($('#'+texto).prop("checked")){
    select_layer(id_switch);
    select_layer(texto.substring(9));
  } 
}
// terminan funciones para modal de capas

//funciones para modal de fotos
function max_photo(){
  $('.photo').addClass('photo_max');
  $('.custom_modal_photos').addClass('custom_modal_photos_max');
}
function min_photo(){
  $('.photo').removeClass('photo_max');
  $('.custom_modal_photos').removeClass('custom_modal_photos_max');
}

</script>

<% end %>

<div class="fakeLoader"></div>

<div class="modal fade" id="modal-window" tabindex="-1" role="dialog" aria-labelledby="chartModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<div id="filters-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>

<div id="time-slider-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="chartModalLabel"> Rango Temporal </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-row">
          <div class="col-md-6">
            <label class="string optional control-label" for="time_slider_step">Intervalo</label>
            <select class="form-control form-control-sm" id="time_slider_step" onchange="change_step_time_slider()" style="cursor:pointer;">
              <option value="day" label="Día"></option>
              <option value="week" label="Semana"></option>
              <option value="month" label="Mes"></option>
              <option value="year" label="Año"></option>
            </select>
          </div>
        </div>
        <div class="form-row mt-3">
          <div class="col-md-6">
            <label class="string optional control-label" for="time_slider_from">Desde</label>
            <input class="string optional form-control form-control-sm" type="text" id="time_slider_from" style="cursor:pointer">
          </div>
          <div class="col-md-6">
            <label class="string optional control-label" for="time_slider_to">Hasta</label>
            <input class="string optional form-control form-control-sm" type="text" id="time_slider_to" style="cursor: pointer;">
          </div>
        </div>
        <input type="text" class="d-none" id="modal_timeslider_from">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <input type="button"  value="Guardar" onclick="set_time_slider()" class="btn btn-primary">
      </div>
    </div>
  </div>
</div>

<%= form_for :q, :html => {:class => 'd-flex justify-content-end', :method => :get} do |f| %>

  <div id="map" ondragover="Navarra.photos.allowDrop(event)" ondrop="Navarra.photos.drop(event)">
  </div>

  <div style="position: absolute;width: 30%; left: 70%" id="sidebar_all">

  <div class="sidebar pt-1 px-1" id="timeslider-container" style="position: relative; z-index: 500">
    <div class="card text-light chart-bg-transparent pb-0 pt-0" >
      <div class="card-header chart-header-bg-transparent py-1 px-2">
        <div class="view-data-container" >
        <i class="fas fa-window-maximize view-data" id="view-timeslider" onclick="show_sidebar('timeslider-container')"></i>
        <i class="fas fa-square view-data" onclick="expand_sidebar('timeslider-container')" ></i>
        <i class="fas fa-times view-data" onclick="hidde_sidebar('timeslider-container')"></i>
      </div>
        Rango Temporal
      </div>
      <div>
        <div class="card-body p-1" id="filter-time-body">
          <i id="time_slider_item-save" class="fas fa-calendar-check" style="font-size: 1.5em ; position: absolute; left: 80%; color: rgba(250,250,250,0.8); cursor:pointer; " onclick="set_time_slider_filter()"></i>
          <i id="time_slider_item-clear" class="fas fa-calendar-times " style="font-size: 1.5em; color: rgba(250,250,250,0.8); position: absolute; left: 90%; cursor:pointer;" onclick="clear_time_slider_filter()"></i>
        <div>
          <p class="m-0 mt-2">Formularios</p>
            <select class="form-control form-control-sm" id="time_slider_step_forms" onchange="     change_step_time_slider('forms')" style="cursor:pointer; display: inline-block; width: 31%; padding: 1px!important;">
                <option value="day" label="Día"></option>
                <option value="week" label="Semana"></option>
                <option value="month" label="Mes"></option>
                <option value="year" label="Año"></option>
              </select>
            <input class="string optional form-control form-control-sm" type="text" id="time_slider_from_forms" style="cursor:pointer; display: inline-block; width: 31%;">
              <input class="string optional form-control form-control-sm" type="text" id="time_slider_to_forms" style="cursor: pointer;display: inline-block; width: 31%;">
          </div>
          <div>
            <p class="m-0">Sub Formularios</p>
            <select class="form-control form-control-sm" id="time_slider_step_subforms" onchange="     change_step_time_slider('subforms')" style="cursor:pointer; display: inline-block; width: 31%; padding: 1px!important;">
                <option value="day" label="Día"></option>
                <option value="week" label="Semana"></option>
                <option value="month" label="Mes"></option>
                <option value="year" label="Año"></option>
              </select>
            <input class="string optional form-control form-control-sm" type="text" id="time_slider_from_subforms" style="cursor:pointer; display: inline-block; width: 31%;">
              <input class="string optional form-control form-control-sm" type="text" id="time_slider_to_subforms" style="cursor: pointer;display: inline-block; width: 31%;">
          </div>
        </div>
      </div>
    </div>
    </div>
  <div class="sidebar pt-1 px-1" id="filter-container">
    <div class="card text-light chart-bg-transparent pb-0 pt-0">
      <div class="card-header chart-header-bg-transparent py-1 px-2">
        <div class="view-data-container status-view-middle" id="status-view-sidebar" >
        <i class="fas fa-window-maximize view-data" id="view-filters" onclick="show_sidebar('filter-container')"></i>
        <i class="fas fa-square view-data" onclick="expand_sidebar('filter-container')"></i>
        <i class="fas fa-times view-data" onclick="hidde_sidebar('filter-container')"></i>
      </div>
        Filtros Activos
      </div>
      <div  style="overflow-x: hidden;">
        <div class="card-body py-1 px-2" id="filter-body">
        </div>
      </div>
    </div>
  </div>
    <% if can? :graphics, :visualizer %>
    <div class="sidebar pt-1 px-1" id="charts-container">
    <div class="card text-light chart-bg-transparent pb-0 pt-0">
        <div class="card-header chart-header-bg-transparent py-1 px-2">
          <div class="view-data-container status-view-middle" id="status-view-sidebar" >
            <i class="fas fa-window-maximize view-data" id="view-charts" onclick="show_sidebar('charts-container')"></i>
            <i class="fas fa-square view-data" onclick="expand_sidebar('charts-container')"></i>
            <i class="fas fa-times view-data" onclick="hidde_sidebar('charts-container')"></i>
          </div>
          Indicadores Gráficos
        </div>
        <div class="graphics d-flex align-content-start flex-wrap" id="graph"></div>
        </div>
      </div>
    <% end %>
  </div>
  </div>


   <% if can? :data, :visualizer %>
    <div class="pt-1 px-1 table_data_container position-absolute" style="top: 97vh; left: 0%; width: 100%; z-index: 401; transition: 1s; transition-delay: 0.3s">
      <div class="card text-light chart-bg-transparent mb-2" id="collapse_data" style="overflow-y: hidden; max-height: 0vh; transition:0.8s; border: none;">
        <%= render :partial => 'project_data' %>
      </div>
    </div>
  <% end %>
<% end %>

<%= render :partial =>'project_data_report' %>

<%= render :partial =>'project_data_info' %>



<div class="nav-item dropdown" id="custom_layer_control" style="position: absolute;z-index: 3000;">
      <a class="nav-link dropdown-toggle nocaret" href="#" id="layersDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 30px; height: 30px; margin: 10px">
      </a>
      <div class="dropdown-menu custom_dropdown_container" aria-labelledby="layersDropdown" style="z-index: 2000; width: max-content">
         
          <a class="dropdown-item" href="#" id="basemaps_container-title" onclick="open_layer_container()">Mapas Base</a>
          <div class="modal-content custom_dropdown d-none" id="basemaps_container">
          </div>

          <a class="dropdown-item" href="#" id="activeproject_container-title" onclick="open_layer_container()">Proyecto Activo</a>
          <div class="modal-content custom_dropdown d-none" id="activeproject_container">
          </div>

           <a class="dropdown-item" href="#" id="projects_container-title" onclick="open_layer_container()">Otros Proyectos</a>
          <div class="modal-content custom_dropdown d-none" id="projects_container">
          </div>

           <a class="dropdown-item" href="#" id="externallayers_container-title" onclick="open_layer_container()">Capas Externas</a>
          <div class="modal-content custom_dropdown d-none" id="externallayers_container">
          </div>          
      </div>
</div>
<% if can? :data, :edit_geom %>
  <input class="d-none" id="edit_geom_control" value="true">
<%else %>
  <input class="d-none" id="edit_geom_control" value="false">
<% end %>
<% if can? :data, :new %>
  <input class="d-none" id="new_geom_control" value="true">
<%else %>
  <input class="d-none" id="new_geom_control" value="false">
<% end %>
<% if can? :data, :new_subform %>
  <input class="d-none" id="new_subform_control" value="true">
<%else %>
  <input class="d-none" id="new_subform_control" value="false">
<% end %>

<div id="photos-modal" class="modal fade card text-light chart-bg-transparent pb-0 pt-0 custom_modal_photos" data-backdrop="false" draggable=true ondragstart="Navarra.photos.drag_photos(event)">
  <div class="modal-dialog m-0 mw-100">
    <div class="modal-content" style="background: rgba(81, 89, 96, 0.5);">
      <div class="card-header chart-header-bg-transparent py-1 px-2">
        <p id="photo_title" class="m-1 d-inline"></p>
        <div class="view-data-container" >
            <i class="fas fa-window-maximize view-data" onclick="min_photo()"></i>
            <i class="fas fa-square view-data" onclick="max_photo()"></i>
            <i class="fas fa-times view-data" type="button" class="close" data-dismiss="modal" aria-label="Close"></i>
          </div>
      </div>
      <div class="modal-body p-1">
        <div class="slider_photos_container">
          <div class="photo_container"></div>
          <div class="date_container"></div>
          <div class="photo_mini_container"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="pdf-modal" class="modal fade card text-light chart-bg-transparent pb-0 pt-0 custom_modal_pdf" data-backdrop="false">
  <div class="modal-dialog m-0 mw-100">
    <div class="modal-content white_transparent" style="min-height:89.5vh">
      <div class="card-header chart-header-bg-transparent py-1 px-2 custom_pdf_header">
        <div class="view-data-container" >
            <i class="fas fa-save view-data" title="Guardar Reporte" onclick="Navarra.pdf.save_pdf()" data-dismiss="modal"></i>
            <i class="fas fa-object-group view-data" title="Agrupar/Desagrupar por subformulario" id="set_subfield_grouped" onclick="Navarra.pdf.set_subfield_grouped()"></i>
            <i class="fas fa-edit view-data" onclick="edit_pdf()"></i>
            <i class="fas fa-times view-data" type="button" class="close" data-dismiss="modal" aria-label="Close"></i>
          </div>
      </div>
      <div class="modal-body p-1 pl-4 pr-4 pt-2" id="canvas_pdf" style="position: relative;">
        <div class="pdf_header">
          <img id="logo_coorp_pdf" class="logo_coorp_pdf element_pdf">
          <div class="w-100 text-center" style = "line-height: 1;">
            <p class="pdf_title element_pdf" style="font-size:0.8em">REPORTE</p>
            <br/>
            <p class="element_pdf pdf_title" style="font-size:0.6em" id="pdf_created"></p>
          </div>
          <div class="div_powered">
            <p class="pdf_powered">powered by</p>
            <%= image_tag "logo_gw_hor_2.png", class: 'logo_pdf' %>
          </div>
        </div>
        <div id="pdf_body"></div>
      </div>
    </div>
  </div>
</div>

