<%= content_for :head do %>
  <script type="text/javascript">
<% if @parking.the_geom %>

  Navarra.parkings.config.lat = <%= @parking.the_geom.y %>
Navarra.parkings.config.lng = <%= @parking.the_geom.x %>


Navarra.parkings.config.lat_entry = <%= @parking.the_geom_entrance.y %>
Navarra.parkings.config.lng_entry = <%= @parking.the_geom_entrance.x %>

Navarra.parkings.config.lat_exit = <%= @parking.the_geom_exit.y %>
Navarra.parkings.config.lng_exit = <%= @parking.the_geom_exit.x %>

<%end %>
  <% if @parking.the_geom_area_original %>
  Navarra.parkings.config.polygon.push(<%= @parking.the_geom_area_original %>)
<% end %>

  </script>
<% end  %>
<%= simple_form_for @parking, input_html: {class: 'form-inline'} do |f| %>
  <%= f.error_notification %>

  <div class="row-fluid">
    <div id="possible_duplicates" class="span12">
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <fieldset class="form-group">
        <legend><%= t('views.parkings.fieldset.name_parking') %></legend>
        <div class="span12">
          <div class="span4">
            <%= f.input :name, class: "span4" %>
          </div>
          <div class="span4">
            <%= f.input :brand, class: "span4" %>
          </div>
          <div class="span4">
            <%= f.input :operator %>
          </div>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <legend><%= t('views.parkings.fieldset.facility_type') %></legend>
        <div class="span12">
          <div class="span4">
            <%= f.input :facility_type_id, :collection => poi_types_for_select  %>
          </div>
          <div class="span4">
            <%= f.input :levels, as: :string %>
          </div>
        </div>  
      </fieldset>

      <fieldset class="form-group">
        <legend><%= t('views.parkings.fieldset.detailed_address') %></legend>
        <div class="span12">
          <div class="span3">
            <%= f.input :city_id,  collection: city_for_chosen(@parking.city_id),  input_html: {class: "span8"} %>
          </div>
          <div class="span3">
            <%= f.input :street, input_html: {class: 'street'} %>
          </div>
          <div class="span3">
            <%= f.input :number, as: :string %>
          </div>
          <div class="span3">
            <%= link_to t("views.poi.form.buttons.suggest_location"), "#", :class => 'btn', :id => 'suggest-locations'%>
          </div>
        </div>
      </fieldset>

      <fieldset class="form-group">
        <legend><%= t('views.parkings.fieldset.referencies') %></legend>
        <%= f.input :line%>
        <%= f.input :polygon%>
        <%= f.input :the_geom_area_original,  as: :hidden%>
        <div class="span3">
        </div>
        <table>
          <tr>
            <th></th>
            <th>lat</th>
            <th>lon</th>
            <th></th>
          </tr>
          <tr>
            <td>Ubicacion</td>
            <td><%= f.input :longitude, label: false %></td>
            <td><%= f.input :latitude, label: false %>
            <td><%= link_to "Agregar Ubicacion", "#", :class => 'btn geom', :id => 'add-marker-geom' %></td>
            <td><%= link_to "Crear Poligono", "#", :class => 'btn geom', :id => 'clear' %></td>
          </tr>
          <tr>
            <td>Entrada</td>
            <td><%= f.input :longitude_entry, label: false %></td>
            <td><%= f.input :latitude_entry, label: false %>
            <td><%= link_to "Uibacion Entrada", "#", :class => 'btn geom', :id => 'add-marker-entry' %></td>
            </td>
          </tr>
          <tr>
            <td>Salida</td>
            <td><%= f.input :longitude_exit, label: false %></td>
            <td><%= f.input :latitude_exit, label: false %>
            <td><%= link_to "Ubicacion Salida", "#", :class => 'btn geom', :id => 'add-marker-exit' %></td>
            </td>
          </tr>
        </table>    
        <div id="geocoding-map"></div>

      </fieldset>
      <div class="span12">
        <div class="span3">
          <%= f.input :phone %>
        </div>
        <div class="span3">
          <%= f.input :website %>
        </div>
      </div>
      <fieldset class="form-group">
        <legend><%= t('views.parkings.fieldset.price_information') %></legend>
        <div class="span12">
          <div class="span3">
            <%= f.label  :detailed_pricing_model %>
            <%= f.select  :detailed_pricing_model,  ['Maquina', 'Humano'] %>
          </div>
          <div class="span3">
            <%= f.input :price, as: :string %>
          </div>
          <div class="span3">
            <%= f.label :currency %>
            <%= f.select :currency, ['Dolar', 'Euro', 'Pesos Argentino', 'Pesos Chileno', 'Pesos Mexicano', 'Reales' ]  %>
          </div>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <legend><%= t('views.parkings.fieldset.payment_methods') %></legend>
        <div class="span12">
          <div class="span3">
            <%= f.label :available_payment_method%>
            <%= f.select :available_payment_methods, ['','Efectivo', 'Tarjeta', 'Efectivo/Tarjeta']  %>
          </div>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <legend><%= t('views.parkings.fieldset.opening_hours') %></legend>
        <div class="span12">
          <div class="span3">
            <%= f.label :regular_openning_hours %>
            <%= f.select :regular_openning_hours, [1,4,8,12,14,16,24] %>
          </div>
          <div class="span3">
            <%= f.input :exceptions_opening %>
          </div>
          <div class="span3">
            <%= f.label :flag  %>
            <%= f.check_box :flag  %>
          </div>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <legend><%= t('views.parkings.fieldset.restrictions') %></legend>
        <div class="span12">
          <div class="span3">
            <%= f.label :restrinctions%>
            <%= f.select :restrinctions, ['Permit only','Residents only', 'Customers only', 'Valet only', 'Event only', 'Motorcycles only', 'Handicapped only'] %>
          </div>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <legend><%= t('views.parkings.fieldset.facility_details') %></legend>
        <div class="span12">
          <div class="span3">
            <%= f.label :max_drive_height  %>
            <%= f.input :max_drive_height  %>
          </div>
          <div class="span3">
            <%= f.label :max_drive_width %>
            <%= f.input :max_drive_width %>
          </div>
          <div class="span3">
            <%= f.label :elevators %>
            <%= f.check_box :elevators %>
          </div>
          <div class="span3">
            <%= f.label :escalators %>
            <%= f.check_box :escalators %>
          </div>
        </div>
        <div class="span12">
          <div class="span3">
            <%= f.label :handicapped_accessible %>
            <%= f.check_box :handicapped_accessible %>
          </div>
          <div class="span3">
            <%= f.label :handicapped_parking_spaces %>
            <%= f.check_box :handicapped_parking_spaces %>
          </div>
          <div class="span3">
            <%= f.label :women_parking_spaces %>
            <%= f.check_box :women_parking_spaces %>
          </div>
          <div class="span3">
            <%= f.label :sanitation_facilities %>
            <%= f.check_box :sanitation_facilities %>
          </div>
        </div>
        <div class="span12">
          <div class="span3">
            <%= f.label :restroom_available %>
            <%= f.check_box :restroom_available %>
          </div>
          <div class="span3">
            <%= f.label :secure_parking %>
            <%= f.check_box :secure_parking %>
          </div>
          <div class="span3">
            <%= f.label :security_manned %>
            <%= f.check_box :security_manned %>
          </div>
        </div>

        <div class="span12">
          <div class="span3">
            <%= f.label :light %>
            <%= f.check_box :light %>
          </div>
          <div class="span3">
            <%= f.label :motorcycle_parking_spaces %>
            <%= f.check_box :motorcycle_parking_spaces %>
          </div>
          <div class="span3">
            <%= f.label :family_friendly %>
            <%= f.check_box :family_friendly %>
          </div>
          <div class="span3">
            <%= f.label :carwash %>
            <%= f.check_box :carwash %>
          </div>
        </div> 

        <fieldset class="form-group">
          <legend><%= t('views.parkings.fieldset.facility_detail_drive_electrics') %></legend>
          <div class="span3">
            <%= f.label :electric_vehicle_charging_points %>
            <%= f.check_box :electric_vehicle_charging_points %>
          </div>
          <div class="span2">
            <%= f.label :connector_type %>
            <%= f.check_box :connector_type %>
          </div>
          <div class="span2">
            <%= f.label :number_of_connectors %>
            <%= f.check_box :number_of_connectors %>
          </div>
          <div class="span2">
            <%= f.label :charge_point_operator %>
            <%= f.check_box :charge_point_operator %>
          </div>
          <div class="span2">
            <%= f.label :payment_methods %>
            <%= f.check_box :payment_methods %>
          </div>
        </fieldset>
      </fieldset>
      <fieldset class="form-group">
        <legend><%= t('views.parkings.fieldset.administration') %></legend>
        <div class="span12">
          <div class="span2">
            <%= f.label :parking_disc %>
            <%= f.check_box :parking_disc %>
          </div> 
          <div class="span2">
            <%= f.label :parking_ticket %>
            <%= f.check_box :parking_ticket %>
          </div> 
          <div class="span2">
            <%= f.label :gate %>
            <%= f.check_box :gate %>
          </div> 
          <div class="span3">
            <%= f.label :monitored %>
            <%= f.check_box :monitored %>
          </div> 
          <div class="span3">
            <%= f.label :none %>
            <%= f.check_box :none %>
          </div> 
        </div>

      </fieldset>
      <fieldset class="form-group">
        <legend><%= t('views.parkings.fieldset.facility_availability') %></legend>
        <div class="span12">
          <div class="span4">
            <%= f.input :total_space %>
          </div> 
          <div class="span4">
            <%= f.input :space_available %>
          </div> 
          <div class="span4">
            <%= f.input :available %>
          </div> 
        </div> 
        <div class="span12">
          <div class="span4">
            <%= f.input :trend %>
          </div> 
          <div class="span4">
            <%= f.input :total_disabled_space %>
          </div> 
          <div class="span4">
            <%= f.input :available_disabled_space %>
          </div> 
        </div> 
      </fieldset>

      <div class="actions">
        <%= f.button :submit, :class => 'btn-primary', data: {disable_with: "Enviando"}%>
      </div>
    </div>
  </div>
<% end %>
