<%= simple_form_for(parking) do |f| %>
  <%= f.error_notification %>

  <div class="row-fluid">
    <div class="span7">
      <%= f.input :name %>
      <%= f.input :brand %>
      <%= f.input :operator %>
      <%= f.input :facility_type_id, :collection => poi_types_for_select  %>
      <%= f.input :levels %>
      <%= f.input :city_id,  collection: city_for_chosen(@parking.city_id),  input_html: {class: "span8"} %>
      <%= f.input :street, input_html: {class: 'street'} %>
      <%= f.input :number %>
      <%= f.input :polygon,  as: :hidden%>
        <%= link_to t("views.poi.form.buttons.suggest_location"), "#", :class => 'btn', :id => 'suggest-locations'%>

  <div class="span3">
  </div>

    <table>
      <tr>
        <th></th>
        <th>lat</th>
        <th>lon</th>
        <th></th>
      </tr>
      <tr>
        <td>Ubicacion</td>
        <td><%= f.input :longitude, label: false %></td>
        <td><%= f.input :latitude, label: false %>
        <td><%= link_to "+", "#", :class => 'btn geom', :id => 'add-marker-geom' %></td>
        <td><%= link_to "+", "#", :class => 'btn geom', :id => 'clear' %></td>
      </tr>
      <tr>
        <td>Entrada</td>
        <td><%= f.input :longitude_entry, label: false %></td>
        <td><%= f.input :latitude_entry, label: false %>
        <td><%= link_to "+", "#", :class => 'btn geom', :id => 'add-marker-entry' %></td>
        </td>
      </tr>
      <tr>
        <td>Salida</td>
        <td><%= f.input :longitude_exit, label: false %></td>
        <td><%= f.input :latitude_exit, label: false %>
        <td><%= link_to "+", "#", :class => 'btn geom', :id => 'add-marker-exit' %></td>
        </td>
      </tr>
    </table>    

  <div id="geocoding-map">

    </div>
   
  <%= f.input :phone %>
  <%= f.input :website %>
    <%= f.input  :detailed_pricing_model %>
    <%= f.input :price %>
    <%= f.input :currency %>
    <%= f.input :available_payment_methods %>
    <%= f.input :regular_openning_hours %>
    <%= f.input :exceptions_opening %>
    <%= f.input :flag %>

  <div class="actions">
    <%= f.button :submit, :class => 'btn-primary', data: {disable_with: "Enviando"}%>
  </div>
    </div>
  </div>
<% end %>
