<%= content_for :head do %>
  <script type="text/javascript">
<% if @parking.the_geom %>

  Navarra.parkings.config.lat = <%= @parking.the_geom.y %>
Navarra.parkings.config.lng = <%= @parking.the_geom.x %>
<%end  %>

<% if @parking.the_geom_entrance %>
Navarra.parkings.config.lat_entry = <%= @parking.the_geom_entrance.y %>
Navarra.parkings.config.lng_entry = <%= @parking.the_geom_entrance.x %>
<%end  %>
<% if @parking.the_geom_exit %>
Navarra.parkings.config.lat_exit = <%= @parking.the_geom_exit.y %>
Navarra.parkings.config.lng_exit = <%= @parking.the_geom_exit.x %>

<%end %>
  <% if !@parking.the_geom_segment.nil? %>
<% (0..@num_point_segment).each {|n| 
  %>
  Navarra.parkings.config.polygon.push({ lat: <%= @segment.point_n(n).y %> , lng: <%= @segment.point_n(n).x %>})
<% } %>
<% end %>

  </script>
<% end  %>
<%= simple_form_for @parking, input_html: {class: 'form-inline'} do |f| %>
  <%= f.error_notification %>

  <div class="row-fluid">
    <div id="possible_duplicates" class="span12">
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <fieldset class="form-group">
        <legend><%= t('views.parkings.fieldset.name_parking') %></legend>
        <div class="span12">
          <div class="span4">
            <%= f.input :name, class: "span4" %>
          </div>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <legend><%= t('views.parkings.fieldset.detailed_address') %></legend>
        <div class="span12">
          <div class="span3">
            <%= f.input :city_id,  collection: city_for_chosen(@parking.city_id),  input_html: {class: "span8"} %>
          </div>
          <div class="span3">
            <%= f.input :street, input_html: {class: 'street'} %>
          </div>
          <div class="span3">
            <%= f.input :number, as: :string %>
          </div>
          <div class="span3">
            <%= link_to t("views.poi.form.buttons.suggest_location"), "#", :class => 'btn', :id => 'suggest-locations'%>
          </div>
        </div>
      </fieldset>

      <fieldset class="form-group">
        <legend><%= t('views.parkings.fieldset.referencies') %></legend>
        <%= f.input :line, as: :hidden%>
        <%= f.input :polygon, as: :hidden%>
        <%= f.input :the_geom_area_original,  as: :hidden%>
        <div class="span3">
        </div>
        <table>
          <tr>
            <th></th>
            <th>lat</th>
            <th>lon</th>
            <th></th>
          </tr>
          <tr>
            <td>Ubicacion</td>
            <td><%= f.input :longitude, label: false %></td>
            <td><%= f.input :latitude, label: false %>
            <td><%= link_to "Agregar Ubicacion", "#", :class => 'btn geom', :id => 'add-marker-geom' %></td>
            <td><%= link_to "Crear Poligono", "#", :class => 'btn geom', :id => 'clear' %></td>
          </tr>
          <tr>
            <td>Entrada</td>
            <td><%= f.input :longitude_entry, label: false %></td>
            <td><%= f.input :latitude_entry, label: false %>
            <td><%= link_to "Uibacion Entrada", "#", :class => 'btn geom', :id => 'add-marker-entry' %></td>
            </td>
          </tr>
          <tr>
            <td>Salida</td>
            <td><%= f.input :longitude_exit, label: false %></td>
            <td><%= f.input :latitude_exit, label: false %>
            <td><%= link_to "Ubicacion Salida", "#", :class => 'btn geom', :id => 'add-marker-exit' %></td>
            </td>
          </tr>
        </table>    
        <div id="geocoding-map"></div>

      </fieldset>

      <fieldset class="form-group">
        <legend><%= t('views.parkings.fieldset.side_street') %></legend>
          <%= f.select :side_street, ['Izquierda', 'Derecha','Desconocido'] %>
        
      </fieldset>
        <fieldset class="form-group">
        <legend><%= t('views.parkings.fieldset.restrictions') %></legend>
        <div class="span12">
          <%= f.label :restrinctions%>
          <%= f.select :restrinctions, ['', 'No parking allowed', 'Time based restrictions','Permit only', 'Parking disc', 'Other restrictions' ] %>
        </div>

        <div id='time_based' name='time_based' class="span12">
          <div class="span12">
            <div class="span3">
              <%= f.label :machine_readable %>
              <%= f.check_box :machine_readable %>
            </div>
            <div class="span3">
              <%= f.input :maximum_duration %>
            </div>
            <div class="span3">
              <%= f.label :tow_away_zone %>
              <%= f.check_box :tow_away_zone %>
            </div>
            <div class="span3">
              <%= f.label :street_sweeping %>
              <%= f.check_box :street_sweeping %>
            </div>
          </div>
          <div class="span12">
            <div class="span3">
              <%= f.label :street_mall_time_market %>
              <%= f.check_box :street_mall_time_market %>
            </div>
            <div class="span3">
              <%= f.label :pedestrian_zone_time %>
              <%= f.check_box :pedestrian_zone_time %>
            </div>
            <div class="span3">
              <%= f.label :snow_route %>
              <%= f.check_box :snow_route %>

            </div>
            <div class="span3">
              <%= f.label :clearway %>
              <%= f.check_box :clearway %>
            </div>
          </div>
        </div>
        <div id='permit_only' name='permit_only' >

          <div class="span12">
            <div class="span2">
              <%= f.label :residential %>
              <%= f.check_box :residential %>
            </div>
            <div class="span2">
              <%= f.label :handicapped %>
              <%= f.check_box :handicapped %>
            </div>
          
            <div class="span2">
              <%= f.label :diplomatic %>
              <%= f.check_box :diplomatic %>
            </div>
          
            <div class="span2">
              <%= f.label :media_press %>
              <%= f.check_box :media_press %>
            </div>
          
            <div class="span2">
              <%= f.label :other %>
              <%= f.check_box :other %>
            </div>
          
          </div>
        </div>

        <div id ='parking_disc' name='parking_disc'>
          <%= f.input :max_duration_parking_disc %>
        </div>

        <div id='other' name='other'>
         
            <div class="span12">
              <div class="span2">
                <%= f.label :loading_unloading_zone %>  
                <%= f.check_box :loading_unloading_zone %>  
              </div>

              <div class="span2">
                <%= f.label :drop_pick_up_zona %>  
                <%= f.check_box :drop_pick_up_zona %>  
              </div>
              <div class="span2">
                <%= f.label :disabled_handicap_only %>  
                <%= f.check_box :disabled_handicap_only %>  
              </div>
              <div class="span2">
                <%= f.label :private_parking %>  
                <%= f.check_box :private_parking %>  
              </div>
              <div class="span2">
                <%= f.label :commercial_vehicles_only %>  
                <%= f.check_box :commercial_vehicles_only %>  
              </div>
          </div>
        </div>


      </fieldset>

      <fieldset class="form-group">
        <legend><%= t('views.parkings.fieldset.payment') %></legend>
        <div>
          <%= f.select :payment, ['', 'Paid/free', 'Pricing model', 'Parking zones', 'Payment methods', 'Payment meter/pay box', 'Any other pricing information' ]  %>
        </div>
      </fieldset>

      <fieldset class="form-group">
        <legend><%= t('views.parkings.fieldset.parking_configuration') %></legend>

        <%= f.select :parking_configuration, ['', 'Parallel', 'Straight-In', 'Angled', 'Back-In Angled', 'Back-in straight']  %>

      </fieldset>

      <fieldset class="form-group">
        <legend><%= t('views.parkings.fieldset.parking_capacity') %></legend>
        <%= f.input :parking_capacity, label: false %>
      </fieldset>

    <fieldset class="form-group">
      <legend><%= t('views.parkings.fieldset.poi_statuses') %></legend>

        <%= f.input :poi_status_id, :collection => poi_statuses_for_select %>
    </fieldset>


      <div class="actions">
        <%= f.button :submit, :class => 'btn-primary', data: {disable_with: "Enviando"}%>
      </div>
    </div>
  </div>
<% end %>
