<p id="notice"><%= notice %></p>

<h1>Parkings</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Street</th>
      <th>Brand</th>
      <th>Operator</th>
      <th>Facility type</th>
      <th>Levels</th>
      <th>City</th>
      <th>Phone</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parkings.each do |parking| %>
      <tr>
        <td><%= parking.name %></td>
        <td><%= parking.street %></td>
        <td><%= parking.brand %></td>
        <td><%= parking.operator %></td>
        <td><%= parking.facility_type_id %></td>
        <td><%= parking.levels %></td>
        <td><%= parking.city_id %></td>
        <td><%= parking.phone %></td>
        <td><%= parking.website %></td>
        <td><%= link_to 'Show', parking %></td>
        <td><%= link_to 'Edit', edit_parking_path(parking) %></td>
        <td><%= link_to 'Destroy', parking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parking', new_parking_path %>
