<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @parking.name %>
</p>

<p>
  <strong>Street:</strong>
  <%= @parking.street %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @parking.brand %>
</p>

<p>
  <strong>Operator:</strong>
  <%= @parking.operator %>
</p>

<p>
  <strong>Facility type:</strong>
  <%= @parking.facility_type_id %>
</p>

<p>
  <strong>Levels:</strong>
  <%= @parking.levels %>
</p>

<p>
  <strong>City:</strong>
  <%= @parking.city_id %>
</p>

<p>
  <strong>The geom:</strong>
  <%= @parking.the_geom %>
</p>

<p>
  <strong>The geom entrance:</strong>
  <%= @parking.the_geom_entrance %>
</p>

<p>
  <strong>The geom exit:</strong>
  <%= @parking.the_geom_exit %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @parking.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @parking.website %>
</p>

<p>
  <strong>Detailed pricing model:</strong>
  <%= @parking.detailed_pricing_model %>
</p>

<p>
  <strong>Price:</strong>
  <%= @parking.price %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @parking.currency %>
</p>

<p>
  <strong>Available payment methods:</strong>
  <%= @parking.available_payment_methods %>
</p>

<p>
  <strong>Regular openning hours:</strong>
  <%= @parking.regular_openning_hours %>
</p>

<p>
  <strong>Exceptions opening:</strong>
  <%= @parking.exceptions_opening %>
</p>

<p>
  <strong>Flag:</strong>
  <%= @parking.flag %>
</p>

<p>
  <strong>The geom area:</strong>
  <%= @parking.the_geom_area %>
</p>

<%= link_to 'Edit', edit_parking_path(@parking) %> |
<%= link_to 'Back', parkings_path %>
