<%- model_class = PoiLoad -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div class="row-fluid">
  <div class="well span12">
    <h4><%= t("views.poi_load.index.explanation_title") %></h4>
    <%= t("views.poi_load.index.explanation", :link => download_xls_example_poi_loads_path).html_safe %>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>      
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:load_date) %></th>
      <th><%= model_class.human_attribute_name(:success_count) %></th>
      <th><%= model_class.human_attribute_name(:fail_count) %></th>
      <th><%= model_class.human_attribute_name(:already_loaded_count) %></th>
      <th><%= model_class.human_attribute_name(:xls_file_path) %></th>
      <th><%= model_class.human_attribute_name(:error_file_path) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @poi_loads.each do |poi_load| %>
      <tr>
        <td><%= poi_load.id %></td>
        <td><%= link_to poi_load.name, poi_load_path(poi_load) %></td>
        <td><%= l(poi_load.load_date, :format => :long) %></td>
        <td><%= poi_load.success_count %></td>
        <td><%= poi_load.fail_count %></td>
        <td><%= poi_load.already_loaded_count %></td>
        <td><%= render_xls_link poi_load %></td>
        <td><%= render_error_link poi_load %></td>
        <td><%= poi_load_status_label(poi_load) %></td>
        <td>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      poi_load_path(poi_load),
                      :method => :delete,
                      :data => { :confirm => t('views.poi_load.index.delete_confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_poi_load_path,
            :class => 'btn btn-primary' %>
