<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @extended_listing.name %>
</p>

<p>
  <strong>Street:</strong>
  <%= @extended_listing.street %>
</p>

<p>
  <strong>The geom:</strong>
  <%= @extended_listing.the_geom %>
</p>

<p>
  <strong>City:</strong>
  <%= @extended_listing.city_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @extended_listing.user_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @extended_listing.category_id %>
</p>

<%= link_to 'Edit', edit_extended_listing_path(@extended_listing) %> |
<%= link_to 'Back', extended_listings_path %>
