<div class="offset-md-3 col-md-6">
  <div class="card m-2 shadow">
    <div class="card-body">

      <%= simple_form_for([:admin,@user]) do |f| %>
        <div class="form-group col-md-12">
          <div class="col-md-6 text-left">
            <%= f.label :name %>
          </div>
          <div class="col-md-12">
            <%= f.input :name, label: false, input_html: {class: 'form-control'} %>
          </div>
        </div>

        <div class="form-group col-md-12">
          <div class="col-md-6 text-left">
            <%= f.label :email %>
          </div>
          <div class="col-md-12">
            <%= f.input :email, label: false, input_html: {class: 'form-control'} %>
          </div>
        </div>
        <div class="col-md-3">
          <%= f.input :customer_id, :required => true, :collection => customers_for_select, :prompt => t('simple_form.select_item_prompt'), label: false, input_html: {class: 'form-control'}  %>
        </div>

        <div class="form-group col-md-12">
        <div id='search_projects'></div>
          <div class="col-md-6 text-left">
            <div class="col-md-12">
              <%= f.input :role_id, collection: roles_for_select, prompt: "Seleccione un rol",include_blank:true, selected: @role_id.to_i||'' %>
            </div>
          </div>

          <div class="form-group col-md-12">
            <div class="col-md-12 text-left">
              <%= f.label :active, 'Activo' %>
            </div>
            <div class="col-md-12">
              <%= f.check_box :active, label: "Activar" %>
            </div>
          </div>
          <div class="form-group col-md-12 form-actions">
            <div class="col-md-12 text-right">
              <%= link_to t('.cancel', :default => t("helpers.links.cancel")), admin_users_path, :class => 'btn btn-default' %>
              <%= f.submit  :class => 'btn btn-primary', value: 'Guardar' %>
            </div>
          </div>

        <% end %>

        </div>
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#user_customer_id').on('change', function() {
        $.ajax({
          url:  "<%= admin_users_search_projects_path %>",
          type: "POST",
          data: { customer_name: $(this).val() }
        });
      });
    });
  </script>
