<div class="offset-md-3 col-md-6">
  <div class="card m-2 shadow">
    <div class="card-body">
      <%= simple_form_for([:admin,@user]) do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <ul><% @user.errors.full_messages.each do |message| %><li><%= message %></li><% end %></ul>
          </div>
        <% end %>
        <p class="m-0 pt-2" id="notice"><%= notice %></p>
        <br>
        <div class="form-group">
          <div class="row justify-content-center">
            <p id="user_selected_id" class="d-none"> <%= @user.id %> </p>
            <%= f.label :name, class:'col-md-2 text-right col-form-label' %>
            <div class="col-md-4">
              <%= f.input :name, label: false, input_html: {class: 'form-control form-control-sm'} %>
            </div>
          </div>
          <div class="row justify-content-center">
            <%= f.label :email, class:'col-md-2 text-right col-form-label' %>
            <div class="col-md-4">
              <%= f.input :email, label: false, input_html: {class: 'form-control form-control-sm'} %>
            </div>
          </div>
          <br>
          <div class="row justify-content-center">
            <div class="col-md-4 row">
              <%= f.label :country_code, class:'col-md-6 text-right col-form-label' %>
              <div class="col-md-5">
                <%= f.input :country_code, as: :email, label: false, input_html: {class: 'w-100 form-control form-control-sm'} %>
              </div>
            </div>

            <div class="col-md-4 row">
              <%= f.label :area_code, class:'col-md-6 text-right col-form-label' %>
              <div class="col-md-5">
                <%= f.input :area_code, label: false, input_html: {class: 'w-100 form-control form-control-sm'} %>
              </div>
            </div>

            <div class="col-md-4 row">
              <%= f.label :phone, class:'col-md-6 text-right col-form-label' %>
              <div class="col-md-6">
                <%= f.input :phone, label: false, input_html: {class: 'w-100 form-control form-control-sm'} %>
              </div>
            </div>
          </div>
          <hr size="8" width="60%" align="center" color="#605757">
          <br>
          <div class="text-center">
            <% @customer_count = 0 %>
            <%= f.fields_for :user_customers do |i| %>
              <% @customer_id_num = @user.user_customers[@customer_count].customer_id%>
              <%= render "user_customer_fields", f: i %>
              <% @customer_count += 1 %>
            <% end %>
          </div>
          <div class="text-center mb-4">
            <%= link_to_add_fields "<i class='fas fa-plus' title='Agregar usuario'></i>".html_safe, f, :user_customers %>
          </div>

          <div class="row justify-content-center">
            <%= f.label 'Activo', class:'col-md-4 text-right form-check-label' %>
            <div class="col-md-4">
              <%= f.check_box :active, label: false, input_html: {class: 'form-check-input'} %>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")), admin_users_path, :class => 'btn btn-secondary mr-1' %>
          <%= f.submit :class => 'btn btn-primary', value: 'Guardar' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="modal_filter_user" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> Filtros </h5>
        <button type="button" class="close" data-dismiss="modal">x</button>
      </div>
      <div class="modal-body">
        <div class="filters_select">
          <select id="projects_for_filters" onchange="search_filters_for_project()">
            <option></option>
          </select>
        </div>
        <br>
        <div id="filters_project_container">
          <label>Filtro Owner</label>
          <input type="checkbox" id="owner_filter">
          <br>
          <label>Filtros por atributos: </label>
          <div id="attr_filter_container">

          </div>
        </div>
      </div>

      <div class="modal-footer">
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")), admin_users_path, :class => '    btn       btn-secondary mr-1' %>
        <%= button_tag 'Guardar', :id => 'save_filters', :class => 'btn btn-primary', value: 'Guardar',     onclick: 'save_filter()' %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function change_customer(e){
    var customer_id_selected = $(e.target).val();
    if (customer_id_selected != '') {
      $.ajax({
        url:  "<%= admin_users_search_roles_path %>",
        type: "GET",
        data: { customer_id: customer_id_selected },
        success: function(data) {
          $(e.target).closest('.customer_container').find('.icon_filter').attr('data-filter_corp_id', customer_id_selected)
          $(e.target).closest('.customer_container').find('.roles_container').html(roles);
        }
      });
    }
    else {
      $(e.target).closest('.customer_container').find('.roles_container').empty();
    }
    //Vamos a buscar los proyectos cuando se abra el modal para saber que corporación se está editando
    //set_project_filters(customer_id_selected, e);
  }

  function add_filter(e) {
    var customer_id_selected = $(e.target).closest('.customer_container').find('.customer_java').val();
    set_project_filters(customer_id_selected, e, true);
  }

  //Funciones para modal
  $(".icon_filter").on('click', function(e) {
    $('#modal_filter_user').modal('show', $(this));
 });

$("#modal_filter_user").on('shown.bs.modal', function (e) {
  console.log("ABRE MODAL");
  var button = $(e.relatedTarget) // Button that triggered the modal
  id_corporacion = button.data('filter_corp_id')
  console.log("id de la corp"+id_corporacion)
  //Busca los proyectos de esa corporación
  if (id_corporacion != '') {
    $.ajax({
      url:  "<%= admin_users_search_projects_path %>",
      type: "GET",
      data: { customer_id: id_corporacion },
      success: function(data) {
        $('#projects_for_filters').empty()
        $('#projects_for_filters').append('<option> </option>')
        console.log("DATA!!!")
        console.log(data)
        console.log(data.data);

        data.data.forEach(function(item){
          console.log(item.name);
          var new_option = '<option value='+ item.id + '>' + item.name + '</option>'
          $('#projects_for_filters').append(new_option)
        })
      }
    });
  }
})

var id_corporacion;

  function save_filter() {
    var project_id = $('#projects_for_filters').val();
    console.log("ID del proyecto "+project_id)
    user_selected_id = $('#user_selected_id').html()
    console.log("Usuario "+user_selected_id);
    var filter_owner = $('#owner_filter').prop('checked');
    console.log(filter_owner);
    var attrs_filter = [];

    $('.attribute_id').each(function(){
      console.log("pesos cross layer from");
      console.log($('.cross_layer_from_' + $(this).attr('id')).attr('id'));
      console.log($('.cross_layer_from_' + $(this).attr('id')));
      console.log($('.cross_layer_from_128'));
      console.log($(this).attr('id'));

      var id_filter = $(this).attr('id').split('attribute_id_')[1];
      filter_object = {
        'id': id_filter,
        'filter': $(this).val(),
        'cross_layer': $('.cross_layer_from_' + id_filter).attr('id').split('cross_layer_check_')[1]
      }

      attrs_filter.push(filter_object)
    })
    console.log("attributes filter");
    console.log(attrs_filter);
    // $.ajax({
    //   url:  "<%= admin_users_create_filters_path %>",
    //   type: "POST",
    //   data: {
    //     'id_corporacion': id_corporacion,
    //     'user_selected_id': user_selected_id,
    //     'project_id': project_id,
    //     'filter_owner': filter_owner
    //   },
    //   success: function(data) {
    //     console.log(data);
    //   }
    // });
  }

  //Funcion onchange search_projects.js.erb
  function search_filters_for_project(){
    var project_id = $('#projects_for_filters').val();
    user_selected_id = $('#user_selected_id').html()
    console.log("Variables");
    console.log(id_corporacion);
    console.log(user_selected_id);
    console.log(project_id);
    console.log("Adentroooo");

    $.ajax({
      //Cambiar ruta
      url:  "<%= admin_users_search_filters_path %>",
      type: "GET",
      datatype: "json",
      data: {
        id_corporacion: id_corporacion,
        user_selected_id: user_selected_id,
        project_id: project_id },

      success: function(data) {
        console.log(data);
        console.log(data.owner);
        if (data.owner == null){
          $('#owner_filter').prop('checked', false);
          $('#owner_filter').attr('filter_id', data.owner);
        }else {
          $('#owner_filter').prop('checked', true);
          $('#owner_filter').attr('filter_id', data.owner);
        }

        if (data.attributes.length > 0){
          data.attributes.forEach(function(a){
            console.log("a");
            console.log(a);
            var new_filter = '<input class="attribute_id" id= "attribute_id_'+ a['id'] +'" value='+ JSON.stringify(a['name']) +' > </input>'
            $('#attr_filter_container').append(new_filter)

            var cross_layer_filter = a['cross_layer_filter'];
            if (cross_layer_filter.length > 0) {
              $('#attr_filter_container').append('<h5> Filtros Intercapa: </h5>')

              cross_layer_filter.forEach(function(c){
                var new_filter = '<div style= "display: flex"> <p> '+ c['name'] +' </p> <input type= "checkbox" class="cross_layer_from_'+ a['id'] +'" id= "cross_layer_check_" ' + c['id_cross_layer'] + '>  </input></div>'
                $('#attr_filter_container').append(new_filter)
              })
            }
          })
        }else{
          $('#attr_filter_container').empty()
        }
      }
    });
  }
</script>
