<%- model_class = User -%>

<div class="card m-2 shadow">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <h1 class="m-0"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
        <p class="m-0 pt-2" id="notice"><%= notice %></p>
      </div>
      <div class="col-md-6 text-center">
        <%= render :partial=> 'search'%>
      </div>
      <div class="col-md-2 text-right">
        <%= link_to t('.new', :default => t("helpers.links.new")), new_admin_user_path,:class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>

<div class="card m-2 shadow">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover table-striped table-bordered m-0">
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:id) %></th>
            <th><%= model_class.human_attribute_name(:name) %></th>
            <th><%= model_class.human_attribute_name(:email) %></th>
            <th><%= model_class.human_attribute_name(:phone) %></th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.country_code%> <%= user.area_code %>-<%= user.phone %></td>
              <td class="text-center">
                <%= link_to edit_admin_user_path(user) do %> <i class="fas fa-edit" style="margin-right:5px"></i><% end %>
                <% if user.confirmed_at.nil? %>
                  <%= link_to send_confirmation_email_admin_user_path(user), method: :post do %> <i class="fas fa-envelope" title="Enviar mail de confirmación"></i><% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= pager @users %>
