<div id="header" class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="<%= root_path %>"><%= image_tag('geoworks_2.png',  height: '30%', width: '30%')%> Bienvenido</a>

        <ul class="nav pull-left">
        <li><%= link_to t('menu.logout'), destroy_user_session_path, method: :delete %></li>
        <li><%= link_to current_user.some_identifier, edit_user_path(current_user), class: "login-name"%></li>
  </ul>
        <ul class="nav pull-right">
          <%= nav_dropdown_item 'Servicios' do %>
            <% nav_item('menu.pois.title', pois_path)  + 
              nav_item('menu.admin.extended_listings', extended_listings_path ) +   
              nav_item('menu.admin.extended_listing_loads', extended_listing_loads_path ) %> 
          <% end %>


          <%= nav_dropdown_item 'Ajustes' do %>
            <% nav_item('menu.admin.restaurant_types', restaurant_types_path) +
              nav_item('menu.admin.street_types', street_types_path) +
              nav_item('menu.admin.poi_types', poi_types_path) +
              nav_item('menu.admin.chains', chains_path) +
              nav_item('menu.admin.food_types', food_types_path) +
              nav_item('menu.admin.poi_sub_types', poi_sub_types_path) +
              nav_item('menu.admin.load_locations', load_locations_path) +
              nav_item('menu.pois.upload', poi_loads_path) +
              nav_item('menu.admin.categories', categories_path) +
              nav_item('menu.admin.generate_deliveries', generate_deliveries_path) %>
          <% end %>

          <%= nav_dropdown_item 'menu.reports.title' do %>
            <% nav_item('menu.reports.pois', reports_pois_path) +
              nav_item('menu.reports.users', reports_users_path) + 
              nav_item('menu.reports.poi_verification', reports_poi_verification_path) + 
              nav_item('menu.reports.poi_verification_maps', reports_poi_verification_maps_path)  
            %>
        <% end %>

        <%= nav_dropdown_item 'Verificacion Puntos' do %>
          <% nav_item('menu.poi_addresses.title', poi_addresses_path ) +
            nav_item('menu.poi_addresses.loads', poi_address_loads_path ) +
            nav_item('menu.poi_addresses.georeferenced', poi_addresses_georeferenced_path ) + 
            nav_item('menu.pois.duplicated', duplicated_pois_path)  %>
        <% end %>

        <%= nav_dropdown_item 'menu.admin.title' do %>
          <% nav_item('menu.users', users_path) +
            nav_item('menu.customers', customers_path) %>
        <% end %>

        <%  if can?(:visualize, :pois_report) %>
        <% end %>
        <% if can?(:index, AppConfiguration) %>
        <% end %>
        <li class="divider-vertical"></li>
        <li class="divider-vertical"></li>
        </ul>
    </div>
  </div>
</div>
<script type="text/javascript">
Navarra.common.poi.initHeaderSearch();
</script>

