<%- model_class = Poi -%>
<%= form_tag delete_multiple_pois_path, method: :delete do %>
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <% if params[:action] == 'duplicated'%>
          <th></th>
        <% end %>
        <th><%= order_link Poi, :id %></th>      
        <th><%= order_link Poi, :identifier %></th>
        <th><%= order_link Poi, :old_identifier %></th>
        <th><%= order_link Poi, :control_date %></th>
        <th><%= order_link Poi, :name %></th>
        <th><%= order_link Poi, :street_name %></th>
        <th><%= order_link Poi, :house_number %></th>
        <th><%= order_link Poi, :city_name %></th>
        <th><%= order_link Poi, :poi_type_name %></th>
        <th><%= order_link Poi, :phone %></th>
        <th><%= order_link Poi, :website %></th>
        <th><%= order_link Poi, :email %></th>
        <th><%= order_link Poi, :poi_source_name %></th>
        <th><%= order_link Poi, :user_name %></th>
        <th><%= order_link Poi, :poi_status_name %></th>
        <th><%= order_link Poi, :p_action_id %></th>
        <th colspan=2 style="text-align:right;"></th>
      </tr>
    </thead>
    <tbody>
      <% @pois.each do |poi| %>
        <tr>

          <% if params[:action] == 'duplicated'%>
            <td><%= check_box_tag "poi_ids[]", poi.id %></td>
          <% end %>
          <td><%= poi.id %></td>
          <td><%= poi.identifier %></td>
          <td><%= poi.old_identifier %></td>
          <td><%= l(poi.control_date, :format => :long) if poi.control_date %></td>        
          <td><%= link_to poi.name, poi_path(poi) %></td>
          <td><%= poi.street_name %></td>
          <td><%= poi.house_number %></td>
          <td><%= poi.city_complete_name %></td>
          <td><%= poi.poi_type_name %></td>
          <td><%= poi.phone %></td>
          <td><%= poi.website %></td>
          <td><%= poi.email %></td>
          <td><%= poi.user_name %></td>
          <td><%= poi_status_label poi %></td>
          <td><%= poi.p_action.name if !poi.p_action_id.nil? %></td>
          <% if poi.poi_status_id != 3 || current_user.role == 'Admin' %>
            <%= table_action_button(edit_poi_path(poi), "pencil", :title => "helpers.links.edit").html_safe %>
          <% end %>
          <%= table_action_button(poi_path(poi), "trash", :title => "helpers.links.destroy", :method => :delete, :confirm => t("helpers.links.confirm")).html_safe %>
        </tr>
      <% end %>
    </tbody>
  </table>

          <% if params[:action] == 'duplicated'%>
            <%= submit_tag "Borrar" %>
          <% end %>
<%end  %>
<%= pager @pois %>
