<div>
  <h3>Verificacion</h3>
</div>

<%= form_tag @reports, :url => @poi_verification, :method => :get do %>
  <%= render "filter" %>
  <div class="pull-right">
    <%= link_to "Marcar como verificado", update_poi_path( country_id: params[:country_id], poi_type_id: params[:poi_type_id], user_id: params[:user_id] ), class: "btn btn-danger", confirm: "Desea Cambiar el estado?"%>
  </div>
  <%= submit_tag 'Filtrar', class: 'btn btn-primary' %>
<% end %>

<div class="container">
  <div class="row">
    <div class="span-12" >
      <%= form_for reports_verificated_multiple_path, :method => :get do  %>
        <table class="table  table-striped">
          <thead>
            <tr>
              <th><%= check_box_tag "check_all" %></th>
              <th  style="text-align:right;"></th>
              <th  style="text-align:right;"></th>
              <th><%= order_link Poi, :old_identifier %></th>
              <th><%= order_link Poi, :name %></th>
              <th><%= order_link Poi, :street_name %></th>
              <th><%= order_link Poi, :house_number %></th>
              <th><%= order_link Poi, :city_name %></th>
              <th><%= order_link Poi, :poi_type_name %></th>
              <th><%= order_link Poi, :poi_sub_type_id %></th>
              <th><%= order_link Poi, :restaurant_type %></th>
              <th><%= order_link Poi, :food_type_id%></th>
              <th><%= order_link Poi, :p_action_id %></th>
              <th><%= order_link Poi, :phone %></th>
              <th><%= order_link Poi, :website %></th>
              <th><%= order_link Poi, :chain_id %></th>
              <th><%= order_link Poi, :user_name %></th>
              <th><%= order_link Poi, :note %></th>
            </tr>
          </thead>
          <tbody>
            <% @pois.each do |poi| %>
              <tr>
                <td><%= check_box_tag "poi_ids[]", poi.id %></td>
                <%= table_action_button(edit_poi_path(poi), "pencil",  :title => "helpers.links.edit").html_safe %>
                <%= table_action_button(poi_path(poi, controller_back: params[:controller],   country_id:  params[:country_id], poi_type_id: params[:poi_type_id] ), "trash", :title => "helpers.links.destroy", :method => :delete, :confirm => t("helpers.links.confirm")).html_safe %>
                <td><%= poi.old_identifier %></td>
                <td><%= link_to poi.name, poi_path(poi) %></td>
                <td><%= poi.street_name %></td>
                <td><%= poi.house_number %></td>
                <td><%= poi.city_complete_name %></td>
                <td class="span3"><%= poi.poi_type_name %></td>
                <td class="span3"><%= poi.poi_sub_type_name %></td>
                <td><%= poi.restaurant_type.name if !poi.restaurant_type_id.nil? %></td>
                <td><%= poi.food_type.name if !poi.food_type_id.nil? %></td>
                <td><%= poi.p_action.name if !poi.p_action_id.nil? %></td>
                <td><%= poi.phone %></td>
                <td width="20%"><%= poi.website %></td>
                <td><%= poi.chain.name if poi.chain_id.present?%></td>
                <td><%= poi.user_name %></td>
                <td width="20%"><%= poi.note %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="span12">

          <%= hidden_field_tag(:country_id , params[:country_id] ) %>
          <%= hidden_field_tag(:poi_type_id,  params[:poi_type_id] )%>
          <%= hidden_field_tag(:user_id,  params[:user_id] )%>
          <%= submit_tag "Revisado", class: 'btn btn-primary' %>
        </div>
      <% end  %>
    </div>
  </div>
</div>
