<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel"> Gráficos </h4>
</div>
<div class="modal-body">

  <%= simple_form_for([@project_type, @dashboard, @graphic], remote: true) do |form| %>
    <% if @graphic.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@graphic.errors.count, "error") %> prohibited this graphic from being saved:</h2>

        <ul>
          <% @graphic.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <form>
      <div class="form-row col-md-12">
        <div class="form-group col-md-6">
          <%= form.input :title, label: "Título", input_html: {class: 'form-control'} %>
          <%= form.hidden_field :dashboard_id, id: :graphic_dashboard_id %>
        </div>
        <div class="form-group col-md-6">
          <%= form.input :width, as: :range, input_html: {min: "3", max: "12", step: "3"}, label: "Ancho" %>
        </div>
      </div>
      <br><br><br><br>
      <fieldset>
        <legend>Series</legend>
        <div class="form-row col-md-12">
          <div class="form-group">
            <%= link_to_add_fields 'Agregar', form, :graphics_properties %>
          </div>
          <div class="form-group">
            <%= form.fields_for :graphics_properties do |form_property| %>
              <%= render "graphics_property_fields", f: form_property %>
            <% end %>
          </div>
        </div>
      </fieldset>

      <!-- Eje X -->
      <div class="form-row col-md-12">
        <div class="form-group hide-div bar horizontal bubble col-md-1">
          <br><center><b>Eje X:</b></center>
        </div>
        <div class="form-group hide-div bar horizontal bubble col-md-3">
          <%= form.input :label_x_axis, label: "Nombre", input_html: {class: 'form-control'} %>
        </div>

        <div class="form-group hide-div bar col-md-2">
          <%= form.label :data_labelling, "Mostrar valores" %>
          <br>
          <%= form.check_box :data_labelling, input_html: {class:"form-check"}%>
          <br><br>
        </div>

        <div class="form-group hide-div bar horizontal col-md-2">
          <%= form.label :stack, "Apilar" %>
          <br>
          <%= form.check_box :stack, input_html: {class:"form-check"}%>
          <br><br>
        </div>
      </div>

      <!-- Eje Y Izquierdo -->
      <div class="form-row col-md-12">
        <div class="form-group hide-div bar horizontal bubble col-md-1">
          <br><center><b>Eje Y:</b><br>(Izquierdo)</center>
        </div>
        <div class="form-group hide-div bar horizontal bubble col-md-3">
          <%= form.input :label_y_axis_left, label: "Nombre", input_html: {class: 'form-control'} %>
        </div>
        <div class="form-group hide-div bar horizontal col-md-2">
          <%= form.input :tick_x_min, label: "Mínimo", input_html: {class: 'form-control'} %>
        </div>
        <div class="form-group hide-div bar horizontal col-md-2">
          <%= form.input :tick_x_max, label: "Máximo", input_html: {class: 'form-control'} %>
        </div>
        <div class="form-group hide-div bar horizontal col-md-2">
          <%= form.input :step_x, label: "Espacio", input_html: {class: 'form-control'} %>
        </div>
        <div class="form-group hide-div bar horizontal col-md-2">
          <%= form.input :substep_x, label: "SubEspacio", input_html: {class: 'form-control'} %>
          <br>
        </div>
      </div>

      <!-- Eje Y Derecho -->
      <div class="form-row col-md-12">
        <div class="form-group hide-div bar bubble col-md-1">
          <br><center><b>Eje Y:</b><br>(Derecho)</center>
        </div>
        <div class="form-group hide-div bar bubble col-md-3">
          <%= form.input :label_y_axis_right, label: "Nombre", input_html: {class: 'form-control'} %>
        </div>
        <div class="form-group hide-div bar col-md-2">
          <%= form.input :tick_y_min, label: "Mínimo", input_html: {class: 'form-control'} %>
        </div>
        <div class="form-group hide-div bar col-md-2">
          <%= form.input :tick_y_max, label: "Máximo", input_html: {class: 'form-control'} %>
        <br>
        </div>
      </div>

      <div class="actions text-right">
        <%= form.submit class: 'btn btn-primary', value: "Guardar" %>
        <% if params[:action] == 'edit' %>
          <%= link_to project_type_dashboard_graphic_path(@project_type.id,@dashboard, @graphic ), method: :delete, data: { confirm: 'Are you sure?'}, :remote => true do  %> <i class="fas fa-trash-alt" title="Eliminar Gráfico" style="font-size: 2em"></i> <%end %>
      </div>
        <% end %>
    </form>
  <% end %>
</div>
<!--
<div class="modal-footer">
</div>
-->
