<div class="modal-header">
    <h4 class="modal-title" id="chartModalLabel"> Gráficos </h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<%= simple_form_for([@project_type, @dashboard, @graphic], remote: true) do |form| %>

  <div class="modal-body">

    <% if @graphic.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@graphic.errors.count, "error") %> prohibited this graphic from being saved:</h2>
        <ul><% @graphic.errors.full_messages.each do |message| %><li><%= message %></li><% end %></ul>
      </div>
    <% end %>

    <div class="form-row">
      <div class="form-group col-md-6">
        <%= form.input :title, label: "Título", input_html: {class: 'form-control form-control-sm form-control form-control-sm-sm'} %>
        <%= form.hidden_field :dashboard_id, id: :graphic_dashboard_id %>
      </div>
      <div class="form-group col-md-4">
        <%= form.input :width, as: :range, input_html: {min: "3", max: "12", step: "3", class: 'custom-range'}, label: "Ancho" %>
      </div>
      <div class="form-group col-md-2">
        <label>Leyenda</label>
        <div class="custom-control custom-checkbox mb-2">
          <%= form.check_box :legend_display, class:'custom-control-input', id:'legend_display_id' %>
          <label class="custom-control-label" for="legend_display_id"></label>
        </div>
      </div>
    </div>
     
    <legend>Series</legend>

    <%= form.fields_for :graphics_properties do |form_property| %>
      <%= render "graphics_property_fields", f: form_property %>
    <% end %>

    <%= link_to_add_fields "<i class='fas fa-plus' title='Agregar Serie'></i>".html_safe, form, :graphics_properties, class: 'chart_serie' %>

    <!-- Eje X -->
    <div class="form-row">
      <div class="form-group hide-div bar horizontalBar bubble col-md-1">
        <br><center><b id="eje_horizontal">Eje X:</b></center>
      </div>
      <div class="form-group hide-div bar horizontalBar bubble col-md-3 mb-0">
        <%= form.input :label_x_axis, label: "Nombre", input_html: {class: 'form-control form-control-sm'} %>
      </div>

      <div class="form-group hide-div bar horizontalBar bubble col-md-2 mb-0">
        <%= form.label :data_labelling, "Mostrar valores" %>
        <br>
        <div class="custom-control custom-checkbox mb-2">
          <%= form.check_box :data_labelling, class:'custom-control-input', id:'data_labelling_id' %>
          <label class="custom-control-label" for="data_labelling_id"></label>
        </div>
        <br><br>
      </div>

      <div class="form-group hide-div bar horizontalBar col-md-2 mb-0">
        <%= form.label :stack, "Apilar" %>
        <br>
        <div class="custom-control custom-checkbox mb-2">
          <%= form.check_box :stack, class:'custom-control-input', id:'stack_id' %>
          <label class="custom-control-label" for="stack_id"></label>
        </div>
        <br><br>
      </div>
      <div class="form-group hide-div bubble col-md-2">
        <%= form.input :scale, label: "Escala Burbúja", input_html: {class: 'form-control form-control-sm'} %>
      </div>
    </div>

    <!-- Eje Y Izquierdo -->
    <div class="form-row">
      <div class="form-group hide-div bar horizontalBar bubble col-md-1">
        <br><center><b id="eje_vertical">Eje Y:</b><br>(Izq.)</center>
      </div>
      <div class="form-group hide-div bar horizontalBar bubble col-md-3 mb-0">
        <%= form.input :label_y_axis_left, label: "Nombre", input_html: {class: 'form-control form-control-sm'} %>
      </div>
      <div class="form-group hide-div bar bubble horizontalBar col-md-2 mb-0">
        <%= form.input :tick_x_min, label: "Mínimo", input_html: {class: 'form-control form-control-sm'} %>
      </div>
      <div class="form-group hide-div bar bubble horizontalBar col-md-2 mb-0">
        <%= form.input :tick_x_max, label: "Máximo", input_html: {class: 'form-control form-control-sm'} %>
      </div>
      <div class="form-group hide-div bar horizontalBar col-md-2 mb-0">
        <%= form.input :step_x, label: "Intervalo", input_html: {class: 'form-control form-control-sm'} %>
      </div>
    </div>

    <!-- Eje Y Derecho -->
    <div class="form-row">
      <div class="form-group hide-div bar col-md-1 mb-0">
        <br><center><b>Eje Y:</b><br>(Der.)</center>
      </div>
      <div class="form-group hide-div bar col-md-3 mb-0">
        <%= form.input :label_y_axis_right, label: "Nombre", input_html: {class: 'form-control form-control-sm'} %>
      </div>
      <div class="form-group hide-div bar col-md-2 mb-0">
        <%= form.input :tick_y_min, label: "Mínimo", input_html: {class: 'form-control form-control-sm'} %>
      </div>
      <div class="form-group hide-div bar col-md-2 mb-0">
        <%= form.input :tick_y_max, label: "Máximo", input_html: {class: 'form-control form-control-sm'} %>
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <div class="actions text-right">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      <%= form.submit class: 'btn btn-primary', value: "Guardar" %>
      <% if params[:action] == 'edit' %>
        <%= link_to project_type_dashboard_graphic_path(@project_type.id,@dashboard, @graphic ), method: :delete, data: { confirm: '¿Está seguro?'}, :remote => true do  %> <i class="fas fa-trash-alt" title="Eliminar Gráfico" style="font-size: 2em"></i> <%end %>
      <% end %>
    </div>
  </div>

<% end %>
