  <div class="field">
    <%= f.label :color %>
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :analytics_dashboard_id %>
    <%= f.select :analytics_dashboard_id, kpi_for_select, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :height %>
    <%= f.text_field :height %>
  </div>
  <div class="field">
    <%= f.label :width %>
    <%= f.text_field :width %>

  </div>
