  <br>
  <div class="field">
    <%= f.label :color %>
    <%= f.color_field :color, as: :color %>
    <br>
  </div>
  <br>
  <div class="field">
    <%= f.input :chart_id, collection: chart_types_for_select, label: "Tipo de Gráfico" %>
  </div>
  <div class="field">
    <br>
    <%= f.label :analytics_dashboard_id, label: "Indicador" %>
    <br>
    <%= f.select :analytics_dashboard_id, kpi_for_select, include_blank: true %>
  </div>
  <div class="field">
    <br>
    <%=f.input :label_datasets, label: "Leyenda"  %>
    <br>
  </div>
