  <div class="field">
    <%= f.label :color %>
    <%= f.color_field :color, as: :color %>
  </div>
  <div class="field">
    <%= f.input :chart_id, collection: chart_types_for_select %>
  </div>
  <div class="field">
    <%= f.label :analytics_dashboard_id %>
    <%= f.select :analytics_dashboard_id, kpi_for_select, include_blank: true %>
  </div>
