<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to root_path() do %> <%= image_tag "geoworks_brand.png", class: 'mr-4', height:"40" %> <% end %>
  <div class="collapse navbar-collapse" id="navbarColor02">

    <ul class="navbar-nav mr-auto">

      <!-- Principal -->
      <% if params[:controller] == 'dashboards' && params[:action] == 'show' %>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if !@project_type.nil? %>
              <%= @project_type.name %>
            <% else %>
              Proyecto
            <% end %>
          </a>
          <div class="dropdown-menu" id="projects_dropdown" aria-labelledby="navbarDropdown">
            <% if can? :project_types, :new %>
              <%= link_to 'Nuevo Proyecto', new_project_type_path, class: "dropdown-item" %>
            <% end %>
            <div class="dropdown-divider"></div>
            <% if !@project_type.nil? %>
              <% ProjectType.all.ordered.each do |project| %>
                <% if @project_type.name != project.name %>
                  <%= link_to "#{project.name}", dashboards_show_path(project_type_id: project.id),  class: "dropdown-item" %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </li>

        <% if !@project_type.nil? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nocaret" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-clipboard-list" style="font-size: 20px"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% if can? :data, :visualizer%>
                <%= link_to 'Datos', project_type_projects_path(@project_type.id), class: "dropdown-item" %>
              <% end %>
              <%= link_to 'Estados', project_type_project_statuses_path(@project_type.id), class: "dropdown-item" %>
              <% if can? :project_types, :share%>
                <%= link_to 'Compartir', project_type_share_path(@project_type.id), remote:true,remote:true, class: "dropdown-item" %>
              <% end %>
              <% if can? :project_types, :edit%>
                <%= link_to 'Editar', edit_project_type_path(@project_type.id), class: "dropdown-item" %>
              <% end %>
              <% if can? :project_types, :destroy%>
                <%= link_to 'Eliminar', project_type_path(@project_type.id), method: :delete, data: { confirm: '¿Está seguro?' }, remote: true, class: "dropdown-item" %>
              <% end %>
            </div>
          </li>
        <% end %>

        <% if !@dashboard.nil? %>

        <% if can? :indicators, :visualizer%>
          <li class="nav-item">
            <%= link_to project_type_dashboard_analytics_dashboards_path(@project_type.id, @dashboard.id), class: 'nav-link' do %> <i class="fas fa-database" title="Crear Indicador" style="font-size: 20px"></i> <% end %>
          </li>
        <% end %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nocaret" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-globe-americas" style="font-size: 20px"></i>
            </a>
            <div class="dropdown-menu custom-menu" aria-labelledby="navbarDropdown">
              <%= link_to "#", class: 'dropdown-item custom-item', id: "select" do %> <i class="fas fa-draw-polygon" title="Dibujar Polígono" style="font-size: 20px"></i> <% end %>
              <%= link_to project_type_filters_path(@project_type.id), class: 'dropdown-item custom-item', id: "filter",:remote => true do %> <i class="fas fa-filter" title="Filtrar" style="font-size: 20px"></i> <% end %>
              <%= link_to project_type_heatmap_path(@project_type.id), class: 'dropdown-item custom-item', id: "heatmap", :remote=> true do %> <i class="fas fa-fire" title="Mapa de Calor" style="font-size: 20px"></i> <% end %>
              <%= link_to project_type_point_colors_path(@project_type.id), class: 'dropdown-item custom-item', id: "point_colors", :remote=> true do %> <i class="fas fa-spinner" title="Puntos de Colores" style="font-size: 20px"></i> <% end %>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nocaret" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-chart-pie" style="font-size: 20px"></i>
            </a>
            <div class="dropdown-menu custom-menu" aria-labelledby="navbarDropdown">
              <%= link_to new_project_type_dashboard_graphic_path(@project_type.id, @dashboard.id), class: 'dropdown-item custom-item', remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window' do %> <i class="fas fa-chart-pie chart-modal" style="font-size: 20px" id="doughnut" title="Dona"></i> <% end %>
              <%= link_to new_project_type_dashboard_graphic_path(@project_type.id, @dashboard.id), class: 'dropdown-item custom-item', remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window' do %> <i class="fas fa-chart-bar chart-modal" style="font-size: 20px" id="bar" title="Barra"></i> <% end %>
              <%= link_to new_project_type_dashboard_graphic_path(@project_type.id, @dashboard.id), class: 'dropdown-item custom-item', remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window' do %> <i class="fas fa-align-left chart-modal" style="font-size: 20px" id="horizontal" title="Barra Horizontal"></i> <% end %>
              <%= link_to new_project_type_dashboard_graphic_path(@project_type.id, @dashboard.id), class: 'dropdown-item custom-item', remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window' do %> <i class="fas fa-ellipsis-h chart-modal" style="font-size: 20px" id="bubble" title="Burbuja"></i> <% end %>
            </div>
          </li>

        <% end %>

        <li class="tile_count row m-0"></li>

      <% end %>

      <!-- Nuevo Proyecto -->
      <% if params[:controller] == 'project_types' && params[:action] == 'new' %>
        <li class="nav-item"><%= link_to root_path(), class: 'nav-link' do %> <i class="fas fa-arrow-left" title="Volver" style="font-size: 20px"></i></li> <% end %>
      <% end %>

      <!-- Datos del Proyecto -->
      <% if params[:controller] == 'projects' && params[:action] == 'index' %>
        <li class="nav-item"><%= link_to root_path(), class: 'nav-link' do %> <i class="fas fa-arrow-left" title="Volver" style="font-size: 20px"></i> <% end %>
      <% end %>

      <!-- Estados -->
      <% if params[:controller] == 'project_statuses' && params[:action] == 'index' %>
        <li class="nav-item"><%= link_to root_path(), class: 'nav-link' do %> <i class="fas fa-arrow-left" title="Volver" style="font-size: 20px"></i> <% end %>
      <% end %>

      <!-- Editar Proyecto -->
      <% if params[:controller] == 'project_types' && params[:action] == 'edit' %>
        <li class="nav-item"><%= link_to root_path(), class: 'nav-link' do %> <i class="fas fa-arrow-left" title="Volver" style="font-size: 20px"></i></li> <% end %>
      <% end %>

      <!-- Indicadores -->
      <% if params[:controller] == 'analytics_dashboards' && params[:action] == 'index' %>
        <li class="nav-item"><%= link_to project_type_dashboard_path(@project_type, params[:dashboard_id]), class: 'nav-link' do %> <i class="fas fa-arrow-left" title="Volver" style="font-size: 20px"></i></li> <% end %>
      <% end %>

      <!-- Listados -->
      <% if params[:controller] == 'choice_lists' && params[:action] == 'index' %>
        <li class="nav-item"><%= link_to root_path(), class: 'nav-link' do %> <i class="fas fa-arrow-left" title="Volver" style="font-size: 20px"></i></li> <% end %>
      <% end %>

      <!-- Capas Externas -->
      <% if params[:controller] == 'layers' && params[:action] == 'index' %>
        <li class="nav-item"><%= link_to root_path(), class: 'nav-link' do %> <i class="fas fa-arrow-left" title="Volver" style="font-size: 20px"></i></li> <% end %>
      <% end %>

      <!-- Editar Usuario -->
      <% if params[:controller] == 'users' && params[:action] == 'edit' %>
        <li class="nav-item"><%= link_to root_path(), class: 'nav-link' do %> <i class="fas fa-arrow-left" title="Volver" style="font-size: 20px"></i></li> <% end %>
      <% end %>


      <!-- Nueva Capa y Editar Capas a Capas -->
      <% if params[:controller] == 'layers' && params[:action] == 'edit' || params[:controller] == 'layers' && params[:action] == 'new' %>
        <li class="nav-item"><%= link_to layers_path(), class: 'nav-link' do %> <i class="fas fa-arrow-left" title="Volver" style="font-size: 20px"></i></li> <% end %>
      <% end %>

      <!-- Nuevo Listado y Editar Listado a Listados -->
      <% if params[:controller] == 'choice_lists' && params[:action] == 'edit' || params[:controller] == 'choice_lists' && params[:action] == 'new' %>
        <li class="nav-item"><%= link_to choice_lists_path(), class: 'nav-link' do %> <i class="fas fa-arrow-left" title="Volver" style="font-size: 20px"></i></li> <% end %>
      <% end %>

    </ul>

    <!-- Menú  -->
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle nocaret" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bars"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <% if can? :choice_lists, :visualizer %>
          <%= link_to 'Listados', choice_lists_path, class: "dropdown-item" %>
        <% end %>
        <% if can? :layers, :visualizer %>
          <%= link_to 'Capas Externas', layers_path, class: "dropdown-item" %>
        <% end %>
        <%= link_to "Editar Usuario", edit_user_path(current_user.id), class: "dropdown-item" %>
        <%= link_to 'Cerrar Sesión', destroy_user_session_path, class: "dropdown-item", method: :delete %>
      </div>
    </div>

  </div>
</nav>

<%= yield %>
