<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to root_path() do %> <%= image_tag "logo_gw_hor_2.png", class: 'mr-4', height:"40" %> <% end %>
  <div class="collapse navbar-collapse" id="navbarColor02">

    <ul class="navbar-nav mr-auto">

      <!-- Nuevo Proyecto -->
      <% if params[:controller] == 'project_types' && params[:action] == 'new' %>
        <li class="nav-item"><%= link_to root_path(), class: 'nav-link nav-link-width' do %><i class="fas fa-arrow-left align-middle" title="Volver" style="font-size: 24px"></i><% end %></li>
      <% end %>

      <!-- Proyectos -->
      <% if params[:controller] == 'project_types' && params[:action] == 'index' %>
        <li class="nav-item"><%= link_to root_path(), class: 'nav-link nav-link-width' do %><i class="fas fa-arrow-left align-middle" title="Volver" style="font-size: 24px"></i><% end %></li>
      <% end %>

      <!-- Datos del Proyecto -->
      <% if params[:controller] == 'projects' && params[:action] == 'index' %>
        <li class="nav-item"><%= link_to root_path(), class: 'nav-link nav-link-width' do %><i class="fas fa-arrow-left align-middle" title="Volver" style="font-size: 24px"></i><% end %></li>
      <% end %>

      <!-- Estados -->
      <% if params[:controller] == 'project_statuses' && (params[:action] == 'index' || params[:action] == 'new') %>
        <li class="nav-item"><%= link_to root_path(), class: 'nav-link nav-link-width' do %><i class="fas fa-arrow-left align-middle" title="Volver" style="font-size: 24px"></i><% end %></li>
      <% end %>

      <!-- Editar Proyecto -->
      <% if params[:controller] == 'project_types' && params[:action] == 'edit' %>
        <li class="nav-item"><%= link_to root_path(), class: 'nav-link nav-link-width' do %><i class="fas fa-arrow-left align-middle" title="Volver" style="font-size: 24px"></i><% end %></li>
      <% end %>

      <!-- Listados -->
      <% if params[:controller] == 'choice_lists' && params[:action] == 'index' %>
        <li class="nav-item"><%= link_to root_path(), class: 'nav-link nav-link-width' do %><i class="fas fa-arrow-left align-middle" title="Volver" style="font-size: 24px"></i><% end %></li>
      <% end %>

      <!-- Capas Externas -->
      <% if params[:controller] == 'layers' && params[:action] == 'index' %>
        <li class="nav-item"><%= link_to root_path(), class: 'nav-link nav-link-width' do %><i class="fas fa-arrow-left align-middle" title="Volver" style="font-size: 24px"></i><% end %></li>
      <% end %>

      <!-- Editar Usuario -->
      <% if params[:controller] == 'users' && params[:action] == 'edit' %>
        <li class="nav-item"><%= link_to root_path(), class: 'nav-link nav-link-width' do %><i class="fas fa-arrow-left align-middle" title="Volver" style="font-size: 24px"></i><% end %></li>
      <% end %>

      <!-- Indicadores -->
      <% if params[:controller] == 'analytics_dashboards' && params[:action] == 'index' %>
        <li class="nav-item"><%= link_to project_type_dashboard_path(@project_type, params[:dashboard_id]), class: 'nav-link nav-link-width' do %><i class="fas fa-arrow-left align-middle" title="Volver" style="font-size: 24px"></i><% end %></li>
      <% end %>

      <!-- Nueva Capa y Editar Capas a Capas -->
      <% if params[:controller] == 'layers' && params[:action] == 'edit' || params[:controller] == 'layers' && params[:action] == 'new' %>
        <li class="nav-item"><%= link_to layers_path(), class: 'nav-link nav-link-width' do %><i class="fas fa-arrow-left align-middle" title="Volver" style="font-size: 24px"></i><% end %></li>
      <% end %>

      <!-- Nuevo Listado y Editar Listado a Listados -->
      <% if params[:controller] == 'choice_lists' && params[:action] == 'edit' || params[:controller] == 'choice_lists' && params[:action] == 'new' %>
        <li class="nav-item"><%= link_to choice_lists_path(), class: 'nav-link nav-link-width' do %><i class="fas fa-arrow-left align-middle" title="Volver" style="font-size: 24px"></i><% end %></li>
      <% end %>

      <!-- Proyectos -->
      <% if params[:controller] != 'project_types' && params[:action] != 'new' %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="projects_dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if !@project_type.nil? %>
              <%= @project_type.name %>
            <% else %>
              Proyecto
            <% end %>
          </a>
          <div class="dropdown-menu" id="projects_menu" aria-labelledby="projects_dropdown">
            <% if can? :project_types, :new %>
              <%= link_to 'Nuevo Proyecto', new_project_type_path, class: "dropdown-item" %>
            <% end %>
            <div class="dropdown-divider"></div>
            <% if !@project_type.nil? %>
              <% project_types_for_layout.each do |project| %>
                <% if @project_type.name != project.name %>
                  <%= link_to "#{project.name}", dashboards_show_path(project_type_id: project.id),  class: "dropdown-item" %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </li>
      <% end %>

      <!-- Proyecto Actual -->
      <% if !@project_type.nil? && !@project_type.new_record?%>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle nocaret nav-link-width" href="#" id="project_dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-clipboard-list align-middle" style="font-size: 24px"></i>
          </a>
          <div class="dropdown-menu" id="current_project_menu" aria-labelledby="project_dropdown">

            <% if can? :data, :visualizer%>
              <%= link_to 'Datos', project_type_projects_path(@project_type.id), class: "dropdown-item" %>
            <% end %>
            <% if can? :statuses, :visualizer %>
              <%= link_to 'Estados', project_type_project_statuses_path(@project_type.id), class: "dropdown-item" %>
            <% end %>
            <% if can? :project_types, :share%>
              <%= link_to 'Compartir', project_type_share_path(@project_type.id), remote:true,remote:true, class: "dropdown-item" %>
            <% end %>
            <% if can? :project_types, :edit%>
              <%= link_to 'Editar', edit_project_type_path(@project_type.id), class: "dropdown-item" %>
            <% end %>
            <% if can? :project_types, :destroy%>
              <%= link_to 'Eliminar', project_type_path(@project_type.id), method: :delete, data: { confirm: '¿Está seguro?' }, id: 'project_del_button', class: "dropdown-item" %>
            <% end %>
          </div>
        </li>
      <% end %>

      <% if !@dashboard.nil? %>
        <!-- Indicadores -->
        <% if can? :indicators, :visualizer%>
          <li class="nav-item">
            <%= link_to project_type_dashboard_analytics_dashboards_path(@project_type.id, @dashboard.id), class: 'nav-link nav-link-width' do %> <i class="fas fa-database align-middle" title="Crear Indicador" style="font-size: 23px"></i> <% end %>
          </li>
        <% end %>

        <% if params[:controller] == 'dashboards' && params[:action] == 'show' %>

          <!-- Herramientas geográficas -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nocaret nav-link-width" href="#" id="gis_dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-globe-americas align-middle" style="font-size: 24px"></i>
            </a>
            <div class="dropdown-menu custom-menu" aria-labelledby="gis_dropdown">
              <%= link_to project_type_filters_path(@project_type.id), class: 'dropdown-item custom-item', id: "filter",:remote => true do %> <i class="fas fa-filter align-middle" title="Filtrar" style="font-size: 20px"></i> <% end %>
              <%= link_to project_type_heatmap_path(@project_type.id), class: 'dropdown-item custom-item', id: "heatmap", :remote=> true do %> <i class="fas fa-fire align-middle" title="Mapa de Calor" style="font-size: 20px"></i> <% end %>
              <!--<%= link_to project_type_point_colors_path(@project_type.id), class: 'dropdown-item custom-item', id: "point_colors", :remote=> true do %> <i class="fas fa-spinner align-middle" title="Colorear Puntos" style="font-size: 20px"></i> <% end %>-->
            </div>
          </li>

          <!-- Creador de gráficos -->
          <% if can? :graphics, :new %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle nocaret nav-link-width" href="#" id="chart_dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-chart-pie align-middle" style="font-size: 24px"></i>
              </a>
              <div class="dropdown-menu custom-menu" aria-labelledby="chart_dropdown">
                <%= link_to new_project_type_dashboard_graphic_path(@project_type.id, @dashboard.id), class: 'dropdown-item custom-item', remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window' do %> <i class="fas fa-chart-pie chart-modal align-middle" style="font-size: 20px" id="doughnut" title="Dona"></i> <% end %>
                <%= link_to new_project_type_dashboard_graphic_path(@project_type.id, @dashboard.id), class: 'dropdown-item custom-item', remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window' do %> <i class="fas fa-chart-bar chart-modal align-middle" style="font-size: 20px" id="bar" title="Barra"></i> <% end %>
                <%= link_to new_project_type_dashboard_graphic_path(@project_type.id, @dashboard.id), class: 'dropdown-item custom-item', remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window' do %> <i class="fas fa-align-left chart-modal align-middle" style="font-size: 20px" id="horizontalBar" title="Barra Horizontal"></i> <% end %>
                <!--<%= link_to new_project_type_dashboard_graphic_path(@project_type.id, @dashboard.id), class: 'dropdown-item custom-item', remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window' do %> <i class="fas fa-ellipsis-h chart-modal align-middle" style="font-size: 20px" id="bubble" title="Burbuja"></i> <% end %>-->
              </div>
            </li>
          <% end %>


          <!-- Indicadores de texto -->
          <li class="tile_count row m-0"></li>

        <% end %>

      <% end %>

    </ul>

    <!-- Menú  -->
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle nocaret" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bars align-middle" title="Menú" style="font-size: 22px"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <%= link_to "Proyectos",project_types_path, class: "dropdown-item" %>
        <% if can? :choice_lists, :visualizer %>
          <%= link_to 'Listados', choice_lists_path, class: "dropdown-item" %>
        <% end %>
        <% if can? :layers, :visualizer %>
          <%= link_to 'Capas Externas', layers_path, class: "dropdown-item" %>
        <% end %>
        <%- if user_signed_in? %>
          <% if current_user.name == 'superadmin' %>
            <%= link_to 'Administración', admin_root_path, class: "dropdown-item" %>
          <% end %>
          <%= link_to "Editar Usuario", edit_user_path(current_user.id), class: "dropdown-item" %>
          <%= link_to 'Cerrar Sesión', destroy_user_session_path, class: "dropdown-item", method: :delete %>
        <% end %>
      </div>
    </div>

  </div>
</nav>

<%= yield %>
