<div class="container body">
  <div class="main_container">
    <!-- OCULTAMOS BARRA IZQUIERDA
    <div class="col-md-3 left_col side_left ">
      <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0">
          <%= link_to  "#", class: "site_title" do  %> <%= image_tag "logo_geoworks.png" %> <% end %>
        </div>
        <div class="clearfix"></div>
        <!-- menu profile quick info -_->
        <div class="profile clearfix">
          <div class="profile_pic">
          </div>
          <div class="profile_info">
            <span>Welcome,</span>
            <h2><%= current_user.name %></h2>
          </div>
        </div>
        <!-- /menu profile quick info -_->
        <br />
        <!-- sidebar menu -_->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
          <div class="menu_section">
            <h3>General</h3>
            <ul class="nav side-menu">
              <li><%= link_to project_types_path() do %><i class="fa fa-folder-open"></i> Proyectos <span class="fa fa-chevron-down"></span><% end %></li>
              <li><% link_to extended_listings_path() do %><i class="fa fa-folder-open"></i> LED <span class="fa fa-chevron-down"></span><% end %></li>
            <%if params[:controller] == 'dashboards' && params[:action] == 'show' %>
              <%= link_to new_project_type_dashboard_graphic_path(@project_type.id, params[:id]), remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window' do  %><h2><i class="fa fa-bar-chart"></i></h2> <%end %>

            <% end %>
            </ul>
          </div>
        </div>
        <!-- /sidebar menu -_->
      </div>
    </div>
    -->
    <!-- top navigation -->
    <div class="top_nav" style= "margin-left: 0px;">
      <div class="nav_menu" style="height: 60px;"> <!-- El height original está en 64 pero no muestra el border-bottom, revisar-->
        <nav>
          <!-- AGREGAMOS NAVBAR LEFT PARA LOS ICONOS DE LA BARRA IZQUIERDA -->
          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to project_types_path(), class: "site_title" do  %> <%= image_tag "geoworks_h.png" %> <% end %></li>
          </ul>
          <div class="nav toggle" style="border-left: 1px solid #EBEBEB;padding-left: 10px;margin-left: 0px;padding-bottom: 20px;padding-right: 20px;padding-top: 10px;margin-top: 10px;">

            <%if params[:controller] == 'projects' && params[:action] == 'index' %>
            <%= link_to project_types_path() do %> <i class="fas fa-arrow-left" title="Volver"></i> <%end %>
            <% end %>

            <%if params[:controller] == 'project_types' && params[:action] == 'new' %>
            <%= link_to project_types_path() do %> <i class="fas fa-arrow-left" title="Volver"></i> <%end %>
            <% end %>

            <%if params[:controller] == 'dashboards' && params[:action] == 'index' %>
            <%= link_to project_types_path() do %> <i class="fas fa-arrow-left" title="Volver"></i> <%end %>
            <% end %>

            <%if params[:controller] == 'project_types' && params[:action] == 'edit' %>
            <%= link_to project_types_path() do %> <i class="fas fa-arrow-left" title="Volver"></i> <%end %>
            <% end %>

            <%if params[:controller] == 'analytics_dashboards' && params[:action] == 'index' %>
              <%= link_to project_type_dashboards_path(@project_type.id) do %> <i class="fas fa-arrow-left" title="Volver"></i> <%end %>
              <%= link_to project_type_dashboard_path(@project_type, params[:dashboard_id])   do %> <i class="fas fa-map-marked-alt"></i> <% end %>
            <% end %>

            <%if params[:controller] == 'dashboards' && params[:action] == 'show' %>
              <%= link_to project_type_dashboards_path(@project_type.id) do %> <i class="fas fa-arrow-left" title="Volver"></i> <%end %>
              <%= link_to "#", id: "view" do %> <i class="fas fa-table" title="Cambiar Vista"></i> <% end %>
              <%= link_to project_type_dashboard_analytics_dashboards_path(@project_type.id, params[:id]) do %> <i class="fas fa-database" title="Crear Indicador"></i> <% end %>
              <%= link_to "#", id: "select" do %> <%= image_tag "icon-seleccion-poligono.svg", width: "25px", title: "Dibujar Polígono" %> <% end %>
              <%= link_to project_type_filters_path(@project_type.id) , id: "filter",:remote => true  do  %> <i class="fas fa-filter" title="Filtrar"></i> <%end %>
              <%= link_to project_type_heatmap_path(@project_type.id) , id: "heatmap", :remote=> true  do  %> <i class="fas fa-fire" title="Mapa de Calor"></i> <%end %>
              <%= link_to project_type_point_colors_path, id: "point_colors", :remote=> true do %>  <i class="fas fa-spinner" title="Puntos de Colores"></i> <%end %>

              <li class="dropdown" style="padding: 0px 5px; display: inline-block; vertical-align: top">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <i class="fas fa-chart-pie chart-modal" style="font-size: 26px"></i>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" style="min-width: 60px">
                  <li style="text-align: center"><a> <%= link_to new_project_type_dashboard_graphic_path(@project_type.id, params[:id]), remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window' do %> <i class="fas fa-chart-pie chart-modal" style="font-size: 26px" id="doughnut" title="Dona"></i> <% end %> </a></li>
                  <li style="text-align: center"><a> <%= link_to new_project_type_dashboard_graphic_path(@project_type.id, params[:id]), remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window' do %> <i class="fas fa-chart-bar chart-modal" style="font-size: 26px" id="bar" title="Barra"></i> <% end %> </a></li>
                  <li style="text-align: center"><a> <%= link_to new_project_type_dashboard_graphic_path(@project_type.id, params[:id]), remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window' do %> <i class="fas fa-align-left chart-modal" style="font-size: 26px" id="horizontal" title="Barra Horizontal"></i> <% end %> </a></li>
                  <li style="text-align: center"><a> <%= link_to new_project_type_dashboard_graphic_path(@project_type.id, params[:id]), remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window' do %> <i class="fas fa-ellipsis-h chart-modal" style="font-size: 26px" id="bubble" title="Burbuja"></i> <% end %> </a></li>
                </ul>
              </li>
            <% end %>
          </div>

          <ul class="nav navbar-nav navbar-right tile_count">
            <li class="">
              <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-bars"></i>
              </a>
              <ul class="dropdown-menu dropdown-usermenu pull-right">
                <li><%= link_to "Editar Usuario", edit_user_path(current_user.id) %></li>
                <!-- BOTONES SETTING Y HELP SIN USO
                <li>
                  <a href="javascript:;">
                    <span class="badge bg-red pull-right">50%</span>
                    <span>Settings</span>
                  </a>
                </li>
                <li><a href="javascript:;">Help</a></li>
                -->
                <li><%= link_to destroy_user_session_path, method: :delete  do  %> Cerrar Sesión <i class="fas fa-sign-out-alt"></i> <% end %></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- /top navigation -->
    <div class="right_col" role="main">
      <%= yield %>
    </div>
  </div>
</div>
