<div class="container body">
  <div class="main_container">
    <!-- OCULTAMOS BARRA IZQUIERDA
    <div class="col-md-3 left_col side_left ">
      <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0">
          <%= link_to  "#", class: "site_title" do  %> <%= image_tag "logo_geoworks.png" %> <% end %>
        </div>
        <div class="clearfix"></div>
        <!-- menu profile quick info -_->
        <div class="profile clearfix">
          <div class="profile_pic">
          </div>
          <div class="profile_info">
            <span>Welcome,</span>
            <h2><%= current_user.name %></h2>
          </div>
        </div>
        <!-- /menu profile quick info -_->
        <br />
        <!-- sidebar menu -_->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
          <div class="menu_section">
            <h3>General</h3>
            <ul class="nav side-menu">
              <li><%= link_to project_types_path() do %><i class="fa fa-folder-open"></i> Proyectos <span class="fa fa-chevron-down"></span><% end %></li>
              <li><% link_to extended_listings_path() do %><i class="fa fa-folder-open"></i> LED <span class="fa fa-chevron-down"></span><% end %></li>
            <%if params[:controller] == 'dashboards' && params[:action] == 'show' %>
              <%= link_to new_project_type_dashboard_graphic_path(@project_type.id, params[:id]), remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window' do  %><h2><i class="fa fa-bar-chart"></i></h2> <%end %>

            <% end %>
            </ul>
          </div>
        </div>
        <!-- /sidebar menu -_->
      </div>
    </div>
    -->
    <!-- top navigation -->
    <div class="top_nav" style= "margin-left: 0px;">
      <div class="nav_menu">
        <nav>
          <!-- AGREGAMOS NAVBAR LEFT PARA LOS ICONOS DE LA BARRA IZQUIERDA -->
          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to project_types_path(), class: "site_title" do  %> <%= image_tag "logo_geoworks.png" %> <% end %></li>
          </ul>
          <div class="nav toggle" style="border-left: 1px solid #EBEBEB;padding-left: 10px;margin-left: 0px;padding-bottom: 20px;padding-right: 20px;padding-top: 10px;margin-top: 10px;">
            <%if params[:controller] == 'analytics_dashboards' && params[:action] == 'index' %>
              <%= link_to project_type_dashboard_path(@project_type, params[:dashboard_id])   do %> <%= image_tag "layers.png", width: "25px" %> <% end %>
            <% end %>
            <%if params[:controller] == 'dashboards' && params[:action] == 'show' %>
              <%= link_to project_type_dashboards_path(@project_type.id) do %> <i class="fas fa-arrow-left"></i> <%end %>
              <%= link_to project_type_filters_path(params[:id]) , :remote => true  do  %> <i class="fas fa-filter"></i> <%end %>
              <%= link_to project_type_dashboard_analytics_dashboards_path(@project_type.id, params[:id]) do %> <i class="fas fa-plus-circle"></i> <% end %>
              <%= link_to new_project_type_dashboard_graphic_path(@project_type.id, params[:id]), remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window' do %> <i class="fas fa-chart-pie"></i> <% end %>
              <%= link_to "#", id: "view" do %> <%= image_tag "view.png", width: "25px" %> <% end %>
              <%= link_to "#", id: "select" do %> <%= image_tag "icon-seleccion-poligono.svg", width: "25px" %> <% end %>
              <%= link_to "#" do %> <%= image_tag "icon-punto-radio.svg", width: "25px" %> <% end %>
              <%= link_to "#", id: "create_multi"  do %> <%= image_tag "icon-crear-poligono.svg", width: "25px", input_html:{class:"ss"} %> <% end %>
              <%= link_to "#" do %> <%= image_tag "icon-pintar-punto.svg", width: "25px" %> <% end %>
            <% end %>
          </div>

          <ul class="nav navbar-nav navbar-right tile_count">
            <li class="">
              <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-bars"></i>
              </a>
              <ul class="dropdown-menu dropdown-usermenu pull-right">
                <li><%= link_to "Editar Usuario", edit_user_path(current_user.id) %></li>
                <!-- BOTONES SETTING Y HELP SIN USO
                <li>
                  <a href="javascript:;">
                    <span class="badge bg-red pull-right">50%</span>
                    <span>Settings</span>
                  </a>
                </li>
                <li><a href="javascript:;">Help</a></li>
                -->
                <li><%= link_to destroy_user_session_path, method: :delete  do  %> Cerrar Sesión <i class="fas fa-sign-out-alt"></i> <% end %></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- /top navigation -->
    <div class="right_col" role="main">
      <%= yield %>
    </div>
  </div>
</div>
