<script type="text/javascript">
$(document).ready(function(){
  $('#navbarDropdown_container').on('shown.bs.dropdown', function () {
    $('.leaflet-top.leaflet-right').addClass('side_hidden');
    $('.sidebar').addClass('side_hidden');
    $('#navbarDropdown_container').addClass("is_open");
    $("#info-modal").modal("hide");
    $('.custom_dropdown_panels').hide();
    $('.custom_dropdown_panels_import').hide();
    $('.custom_dropdown_panels_sync').hide();
    $(".table_data_container").addClass("width_table");
  });
  $('#navbarDropdown_container').on('hide.bs.dropdown', function () {
    $('.leaflet-top.leaflet-right').removeClass('side_hidden');
    $('.sidebar').removeClass('side_hidden');
    $('#navbarDropdown_container').removeClass("is_open");
    $(".table_data_container").removeClass("width_table");
  });

  $('#move_indicators_right').click(function(){
    var width_element = $('.custom_indicator_container').outerWidth();
    var width_parent = $('.custom_indicator_container').parent().parent().outerWidth();
    if(parseInt($('.custom_indicator_container').css('left'))> parseInt(width_parent - width_element)){
      var new_left = (parseInt($('.custom_indicator_container').css('left')) -80) + 'px';
      $('.custom_indicator_container').css('left',new_left);
    } else {
      var new_left = parseInt(width_parent - width_element) + 'px';
     // $('.custom_indicator_container').css('left',new_left);
    }
  });
  $('#move_indicators_left').click(function(){
    if(parseInt($('.custom_indicator_container').css('left'))<0){
      var new_left = (parseInt($('.custom_indicator_container').css('left')) +80) + 'px';
      $('.custom_indicator_container').css('left',new_left);
    }
  });
  $('#panelImport').on('click', function (e) {
    e.stopPropagation();
    $('.custom_dropdown_panels_import').toggle();
    $('.custom_dropdown_panels_import').css('right','101%');
    var top = ($(this).offset().top -50)+ 'px';
    $('.custom_dropdown_panels_import').css('top',top)
    $('.custom_dropdown_panels').hide();
    $('.custom_dropdown_panels_sync').hide();
  });
  $('#panelSync').on('click', function (e) {
    e.stopPropagation();
    $('.custom_dropdown_panels_sync').toggle();
    $('.custom_dropdown_panels_sync').css('right','101%');
    var top = ($(this).offset().top -50)+ 'px';
    $('.custom_dropdown_panels_sync').css('top',top)
    $('.custom_dropdown_panels').hide();
    $('.custom_dropdown_panels_import').hide();
  });
  $('#panelAdmin').on('click', function (e) {
    e.stopPropagation();
    $('.custom_dropdown_panels').toggle();
    $('.custom_dropdown_panels_import').hide();
    $('.custom_dropdown_panels_sync').hide();
  });
});
function open_panel(id_panel,id_table){
  if(id_panel=='view-data-middle' && id_table!=0){
    $.ajax({
      type: 'GET',
      url: '/table_configurations/search_table.json',
      datatype: 'json',
      data:{
        table_configuration_id: id_table,
      },
      success: function(data) {
        $(".fakeLoader").css("display", "block");
        $('#table_name').val(data.data[0].name);
        $('#table_name_visible').html(data.data[0].name);
        $('#table_id').val(data.data[0].id);
        var config = data.data[0].config;
        $("#choose").val(config.filter_by.value);
        $(".filter_by_column").val(config.filter_by.key);
        $(".order_by_column").val(config.order_by);
        var per_page_value = config.per_page;
        if(per_page_value == ""){
          per_page_value = "mostrar todo"
        } else {
          per_page_value = per_page_value+'/pág';
        }
        $(".select_perpage").html(per_page_value)
        //current_project_fields
        var current_layer_fields = config.current_layer.p_field_keys;
          //cierra los campos abiertos que no pertenecen a la configuración
        $('.column_data.d-none').each(function(){
          var field_key = $(this).attr('id').substring(10);
          if(current_layer_fields.indexOf(field_key)<0){
            hide_column(field_key);
          }
        });
        // abre los que pertenecen a la configuración de la tabla
        current_layer_fields.forEach(function(key){
          if(!$('#addcolumn_'+key).hasClass('d-none')){
            $('#addcolumn_'+key).click();
          }
        });
         //project_subfields
         var subfields_ids = [];
         var subheader_open_saved = [];
        if(config.current_layer.project_subfields!=undefined){
          Object.keys(config.current_layer.project_subfields).forEach(function(key){
            var id_field_f = config.current_layer.project_subfields[key].p_field_id;
            subfields_ids.push(id_field_f);
          // $('.'+id_field_f+'subfield').addClass('d-none');
            var subfields_ids_children = config.current_layer.project_subfields[key].p_subfields_ids;
            if(subfields_ids_children!=undefined){
              subfields_ids_children.forEach(function(id_subfield_child){
                subheader_object = {
                  id_field: id_field_f,
                  id_subfield: id_subfield_child
                }
              subheader_open_saved.push(subheader_object);
              });
            }
          });
        }
        $('.subfields_data.d-none').each(function(){
          var subfield_id = $(this).attr('id').substring(12);
          remove_column(subfield_id);
        });
        $('.subfields_data').removeClass('d-none')
        subfields_ids.forEach(function(subfield_id){
          $('#open_subform'+subfield_id).addClass('d-none')
        });

        //cross_layers_fields
        //cierra las columnas de capas que están abiertas
        $('.column_data_layer.d-none').each(function(){
          var field_key = $(this).attr('id').split('|')[1];
          var cross_layer_id_project = $(this).attr('id').split('|')[2];
          hide_column_layer(field_key,cross_layer_id_project);
        });

        $('.column_data_layer').removeClass('d-none');
        if(config.cross_layers!=undefined){
          Object.keys(config.cross_layers).forEach(function(key){
            var cross_layer_field_keys = config.cross_layers[key].p_field_keys;
            var p_layer_id = config.cross_layers[key].project_type_id;
            cross_layer_field_keys.forEach(function(sub_key){
              $('#addcolumn_layer\\|'+sub_key+'\\|'+p_layer_id).addClass('d-none')
            });
          });
        }

      open_table_middle(true);
      init_data_dashboard(true,true,subheader_open_saved,true);

      }
    });
  } else{
    if(id_panel=="view-data-middle"){
      $(".fakeLoader").css("display", "block");
      $("#choose").val("");
      $(".filter_by_column").val("");
      $(".order_by_column").val("");
      $(".select_perpage").html("20/pág")
      $('#table_name_visible').html("Datos");
      $('#table_id').val("");
      $('#table_name').val("");
      //cierra columnas que están abiertas y no son pop_up
      $('.column_data.d-none').not('.is_popup').each(function(){
        var field_key = $(this).attr('id').substring(10);
        hide_column(field_key);
      });
      //abre columnas popup que están cerradas
      $('.column_data.is_popup').not('.d-none').each(function(){
        var field_key = $(this).attr('id').substring(10);
        show_column(field_key);
      });
      // cierra columnas layers que están abiertas
      $('.column_data_layer.d-none').each(function(){
        var field_key = $(this).attr('id').split('|')[1];
        var cross_layer_id_project = $(this).attr('id').split('|')[2];
        hide_column_layer(field_key,cross_layer_id_project)
      });
      //cierra subformularios que están abiertos
      $('.subfields_data.d-none').each(function(){
        var subfield_id = $(this).attr('id').substring(12);
        remove_column(subfield_id);
      });
      init_data_dashboard(true,true,undefined,true);
    }
    $('#'+id_panel).click();
  }

}

</script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav_bar">
  <%= link_to root_path() do %> <%= image_tag ENV['HORIZONTAL_LOGO'], class: 'mr-4', height:"40", id:'img_logo_gw' %> <% end %>
  <div class="collapse navbar-collapse" id="navbarColor02" style="width: 0px">

    <ul class="navbar-nav mr-auto" style="width: 95%">

      <!-- Nuevo Proyecto -->
      <% if params[:controller] == 'project_types' && params[:action] == 'new' %>
        <li class="nav-item"><%= link_to root_path(), class: 'nav-link nav-link-width' do %><i class="fas fa-arrow-left align-middle" title="Volver" style="font-size: 24px"></i><% end %></li>
      <% end %>

      <!-- Proyectos -->
      <% if params[:controller] == 'project_types' && params[:action] == 'index' %>
        <li class="nav-item"><%= link_to root_path(), class: 'nav-link nav-link-width' do %><i class="fas fa-arrow-left align-middle" title="Volver" style="font-size: 24px"></i><% end %></li>
      <% end %>

      <!-- Estados -->
      <% if params[:controller] == 'project_statuses' && (params[:action] == 'index' || params[:action] == 'new') %>
        <li class="nav-item"><%= link_to root_path(), class: 'nav-link nav-link-width' do %><i class="fas fa-arrow-left align-middle" title="Volver" style="font-size: 24px"></i><% end %></li>
      <% end %>

      <!-- Editar Proyecto -->
      <% if params[:controller] == 'project_types' && params[:action] == 'edit' %>
        <li class="nav-item"><%= link_to root_path(), class: 'nav-link nav-link-width' do %><i class="fas fa-arrow-left align-middle" title="Volver" style="font-size: 24px"></i><% end %></li>
      <% end %>

      <!-- Importar -->
      <% if params[:controller] == 'project_data_children' && params[:action] == 'new' %>
        <li class="nav-item"><%= link_to root_path(), class: 'nav-link nav-link-width' do %><i class="fas fa-arrow-left align-middle" title="Volver" style="font-size: 24px"></i><% end %></li>
      <% end %>

      <!-- Listados -->
      <% if params[:controller] == 'choice_lists' && params[:action] == 'index' %>
        <li class="nav-item"><%= link_to root_path(), class: 'nav-link nav-link-width' do %><i class="fas fa-arrow-left align-middle" title="Volver" style="font-size: 24px"></i><% end %></li>
      <% end %>

      <!-- Capas Externas -->
      <% if params[:controller] == 'layers' && params[:action] == 'index' %>
        <li class="nav-item"><%= link_to root_path(), class: 'nav-link nav-link-width' do %><i class="fas fa-arrow-left align-middle" title="Volver" style="font-size: 24px"></i><% end %></li>
      <% end %>

      <!-- Editar Usuario -->
      <% if params[:controller] == 'users' && params[:action] == 'edit' %>
        <li class="nav-item"><%= link_to root_path(), class: 'nav-link nav-link-width' do %><i class="fas fa-arrow-left align-middle" title="Volver" style="font-size: 24px"></i><% end %></li>
      <% end %>

      <!-- Indicadores -->
      <% if params[:controller] == 'analytics_dashboards' && params[:action] == 'index' %>
        <li class="nav-item"><%= link_to project_type_dashboard_path(@project_type, params[:dashboard_id]), class: 'nav-link nav-link-width' do %><i class="fas fa-arrow-left align-middle" title="Volver" style="font-size: 24px"></i><% end %></li>
      <% end %>

      <!-- Nueva Capa y Editar Capas a Capas -->
      <% if params[:controller] == 'layers' && params[:action] == 'edit' || params[:controller] == 'layers' && params[:action] == 'new' %>
        <li class="nav-item"><%= link_to layers_path(), class: 'nav-link nav-link-width' do %><i class="fas fa-arrow-left align-middle" title="Volver" style="font-size: 24px"></i><% end %></li>
      <% end %>

      <!-- Nuevo Listado y Editar Listado a Listados -->
      <% if params[:controller] == 'choice_lists' && params[:action] == 'edit' || params[:controller] == 'choice_lists' && params[:action] == 'new' %>
        <li class="nav-item"><%= link_to choice_lists_path(), class: 'nav-link nav-link-width' do %><i class="fas fa-arrow-left align-middle" title="Volver" style="font-size: 24px"></i><% end %></li>
      <% end %>

      <!-- Proyectos -->
      <% if params[:controller] != 'project_types' && params[:action] != 'new' %>
        <li class="nav-item dropdown" title="Capa Activa">
          <a class="nav-link dropdown-toggle" href="#" id="projects_dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if !@project_type.nil? %>
              <%= @project_type.name %>
            <% else %>
              Proyecto
            <% end %>
          </a>
          <div class="dropdown-menu" id="projects_menu" aria-labelledby="projects_dropdown">
            <% if can? :project_types, :new %>
              <%= link_to 'Nueva Capa', new_project_type_path, class: "dropdown-item" %>
            <% end %>
            <div class="dropdown-divider"></div>
            <% if !@project_type.nil? %>
              <% project_types_for_layout.each do |project| %>
                <% if @project_type.name != project.name %>
                  <%= link_to "#{project.name}", dashboards_show_path(project_type_id: project.id),  class: "dropdown-item" %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </li>
      <% end %>

      <% if !@dashboard.nil? %>

        <% if params[:controller] == 'dashboards' && params[:action] == 'show' %>

          <!-- Herramientas geográficas -->
          <li class="nav-item dropdown" title="Filtros">
            <a class="nav-link dropdown-toggle nocaret nav-link-width" href="#" id="gis_dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-search-location align-middle" style="font-size: 24px"></i>
            </a>
            <div class="dropdown-menu custom-menu all_filters" aria-labelledby="gis_dropdown" style="min-width: auto">
              <%= link_to project_type_quick_filters_path(@project_type.id), class: 'dropdown-item custom-item', id: "filter_status",:remote => true do %> <i class="fas fa-bell" title="Filtrar por Estado" style="font-size: 20px"></i> <% end %>
              <% if can? :funcionalities, :user_filter %>
                <%= link_to project_type_quick_filters_users_path(@project_type.id), class: 'dropdown-item custom-item', id: "filter",:remote => true do %> <i class="fas fa-user-alt" title="Filtrar por Usuario" style="font-size: 20px"></i> <% end %>
              <% end %>
              <div class="modal-content quick_filters_container " style="top: 0px; left:105%; width:max-content; position: absolute;"></div>
              <%= link_to project_type_filters_path(@project_type.id), class: 'dropdown-item custom-item', id: "filter",:remote => true do %> <i class="fas fa-filter align-middle" title="Filtrar" style="font-size: 20px"></i> <% end %>
              <div class="dropdown-divider"></div>
              <% if can? :funcionalities, :heatmap %>
                <%= link_to project_type_heatmap_path(@project_type.id), class: 'dropdown-item custom-item', id: "heatmap", :remote=> true do %> <i class="fas fa-fire align-middle" title="Mapa de Calor" style="font-size: 20px"></i> <% end %>
              <% end %>
              <% if can? :funcionalities, :interpolation %>
                <%= link_to project_type_interpolation_path(@project_type.id), class: 'dropdown-item custom-item', id: "interpolation", :remote=> true do %> <i class="fas fa-grip-horizontal align-middle" title="Interpolar" style="font-size: 20px"></i> <% end %>
              <% end %>
              <% if can? :funcionalities, :color_attribute %>
                <%= link_to project_type_color_by_attribute_path(@project_type.id), class: 'dropdown-item custom-item', id: "color_attribute", :remote=> true do %> <i class="fas fa-paint-brush align-middle" title="Pintar por atributo" style="font-size: 20px"></i> <% end %>
              <% end %>
              <!--<%= link_to project_type_point_colors_path(@project_type.id), class: 'dropdown-item custom-item', id: "point_colors", :remote=> true do %> <i class="fas fa-spinner align-middle" title="Colorear Puntos" style="font-size: 20px"></i> <% end %>-->
            </div>
          </li>

          <!-- Creador de gráficos -->
          <% if can? :graphics, :new or can? :indicators, :visualizer %>
            <li class="nav-item dropdown" title="Indicadores">
              <a class="nav-link dropdown-toggle nocaret nav-link-width" href="#" id="chart_dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-chart-bar align-middle" style="font-size: 24px"></i>
              </a>
              <div class="dropdown-menu custom-menu" aria-labelledby="chart_dropdown">
                <!-- Indicadores -->
                <% if can? :indicators, :visualizer%>
                  <%= link_to project_type_dashboard_analytics_dashboards_path(@project_type.id, @dashboard.id), class: 'dropdown-item custom-item' do %> <i class="fas fa-database align-middle" title="Crear Indicador" style="font-size: 23px"></i> <% end %>
                <% end %>

              <% if can? :graphics, :new %>
                <%= link_to new_project_type_dashboard_graphic_path(@project_type.id, @dashboard.id), class: 'dropdown-item custom-item', remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window' do %> <i class="fas fa-chart-pie chart-modal align-middle" style="font-size: 20px" title="Crear Gráfico"></i> <% end %>
                <% end %>
              </div>
            </li>
          <% end %>


          <!-- Indicadores de texto -->
          <i class="fas fa-chevron-left m-auto p-2 custom_cursor d-none" id="move_indicators_left"></i>
          <div class="d-flex" style="overflow-x:hidden;">
            <div class="d-flex" style="width: 2000px;">
              <li class="tile_count row m-0 custom_indicator_container"></li>
            </div>
          </div>
          <i class="fas fa-chevron-right m-auto p-2 custom_cursor d-none" id="move_indicators_right"></i>
        <% end %>

      <% end %>

    </ul>

    <!-- Menú  -->
    <div class="nav-item dropdown" id="navbarDropdown_container">
      <a class="nav-link dropdown-toggle nocaret" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bars align-middle" title="Menú" style="font-size: 22px"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" style="z-index: 2000">

      <!-- Proyecto Actual -->
      <% if !@project_type.nil? && !@project_type.new_record?%>
        <% if params[:controller] == 'dashboards' && params[:action] == 'show' %>
          <a class="dropdown-item dropdown-toggle nocaret" href="#" id="panelAdmin" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Paneles</a>
            <div class="dropdown-menu dropdown-menu-right custom_dropdown_panels" aria-labelledby="panelAdmin">
              <% if can? :data, :visualizer %>
                <a class="dropdown-item" href="#" onclick="open_panel('view-data-middle',0)">Tabla de datos
                  <i class="fas fa-edit ml-4" style="font-size: 0.8em;" id="show_trash_tables" title="Eliminar Tablas" onclick="show_trash_tables(event)"></i>
                </a>
                <div class="ml-3" id="tables_container" style="font-size:0.8em; max-height: 40vh; overflow-y:auto;">
                  <% if !@table_configuration.nil? %>
                    <% @table_configuration.each do |table| %>
                      <a class="dropdown-item d-flex" onclick="open_panel(<%= "'view-data-middle',"+table.id.to_s%>)" href="#" id=<%= "dropdown_table"+table.id.to_s%>>
                        <h7 class="mr-auto" ><%=table.name %></h7>
                        <i class="fas fa-trash-alt ml-3 invisible icon_delete_table" title="Eliminar" onclick="remove_table(<%= 'event ,'+table.id.to_s%>)"></i>
                      </a>
                    <% end %>
                  <% end %>
              </div>
              <% end %>
              <% if can? :graphics, :visualizer %>
                <a class="dropdown-item" href="#" onclick="open_panel('view-charts')">Indicadores Gráficos</a>
              <% end %>
              <a class="dropdown-item" href="#" onclick="open_panel('view-filters')">Filtros Activos</a>
              <a class="dropdown-item" href="#" onclick="open_panel('view-timeslider')">Rango Temporal</a>
            </div>
          <% end %>

          <% if can? :statuses, :visualizer %>
            <%= link_to 'Estados', project_type_project_statuses_path(@project_type.id), class: "dropdown-item" %>
           <% end %>
           <% if can? :project_types, :share%>
            <%= link_to 'Compartir', project_type_share_path(@project_type.id), remote:true,remote:true, class: "dropdown-item" %>
          <% end %>
          <% if can? :project_types, :edit%>
            <%= link_to 'Editar', edit_project_type_path(@project_type.id), class: "dropdown-item" %>
          <% end %>
          <div>
          <% if can? :data, :new_subform || :data, :new %>
             <a class="dropdown-item dropdown-toggle nocaret" href="#" id="panelImport" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Importar</a>
            <div class="dropdown-menu dropdown-menu-right custom_dropdown_panels_import" aria-labelledby="panelImport">
              <% if can? :data, :new %>
                <%= link_to 'Formularios', new_project_type_projects_import_path(@project_type.id), class: "dropdown-item" %>
              <% end %>
              <% if can? :data, :new_subform %>
              <%= link_to 'Subformularios', new_project_type_data_children_path(@project_type.id), class: "dropdown-item" %>
              <% end %>
            </div>
          <% end %>
          </div>

          <div>
            <% if can? :data, :new_subform || :data, :new %>
              <a class="dropdown-item dropdown-toggle nocaret" href="#" id="panelSync" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sincronizar</a>
              <div class="dropdown-menu dropdown-menu-right custom_dropdown_panels_sync" aria-labelledby="panelSync">
                <% if can? :data, :new %>
                  <!-- here the link to sync forms -->
                <% end %>
                <% if can? :data, :new_subform %>
                  <%= link_to 'Subformularios', api_connection_path(@project_type.id), class: "dropdown-item" %>
                <% end %>
              </div>
            <% end %>
          </div>

          <% if can? :project_types, :destroy%>
            <%= link_to 'Eliminar', project_type_path(@project_type.id), method: :delete, data: { confirm: '¿Está seguro?' }, id: 'project_del_button', class: "dropdown-item" %>
          <% end %>
        <% end %>

        <% if can? :choice_lists, :visualizer %>
          <%= link_to 'Listados', choice_lists_path, class: "dropdown-item" %>
        <% end %>
        <% if can? :layers, :visualizer %>
          <%= link_to 'Capas Externas', layers_path, class: "dropdown-item" %>
        <% end %>
        <%- if user_signed_in? %>
          <% if current_user.name == 'superadmin' %>
            <%= link_to 'Administración', admin_root_path, class: "dropdown-item" %>
          <% end %>
          <% if can? :project_types, :admin_projects%>
            <%= link_to "Administrar Proyectos", project_types_path, class: "dropdown-item" %>
          <% end %>
          <%= link_to "Editar Usuario", edit_user_path(current_user.id), class: "dropdown-item" %>
          <%= link_to 'Cerrar Sesión', destroy_user_session_path, class: "dropdown-item", method: :delete %>
        <% end %>
      </div>
    </div>

  </div>
</nav>

<%= yield %>
