<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render :partial => 'common/head' %>
  </head>
  <% if params[:controller] == 'dashboards' && params[:action] == 'show' %>
  	<body data-controller="<%= params[:controller] %>" data-action="<%= safe_action_name params[:action] %>" class="nav-sm  dashboard" style="overflow-y: hidden;">
      <%= render partial: 'layouts/header_new' %>
    </body>
  <% else %>
    <body data-controller="<%= params[:controller] %>" data-action="<%= safe_action_name params[:action] %>" class="nav-sm  dashboard">
      <%= render partial: 'layouts/header_new' %>
      <%= yield :javascript %>
    </body>
  <% end %>
</html>
